<% if @team.intro %>
  <div style="margin-bottom: 20px">
    <%= @team.intro %>
  </div>
<% end %>

<% if @team.budget %>
  <div style="margin-bottom: 20px">
    <i class="fa fa-money"></i> This team has spent <%=@group.currency_symbol%><%=@team.spent%> of a budget of <%=@group.currency_symbol%><%= @team.budget %>
  </div>
<% end %>

<div class="media" style="margin-top: 0">
  <span class="pull-left">
    <%= partial :'accounts/square', :locals => {:account => current_account, :width => '32px', :klass => 'media-object'} %>
  </span>
  <div class="media-body">
    <%= partial :'teams/comment_form', :locals => {:comment => @comment} %>
  </div>
</div> 

<% (@posts = @team.posts.order('updated_at desc').paginate(:page => params[:page], :per_page => 10)).each { |post| %>
  <% if post.comments.count > 0 %>
    <div data-pagelet-url="/posts/<%=post.id%>">
      <%= partial :'teams/post', :object => post %>
    </div>
  <% end %>
<% } %>

<div style="text-align: center">
  <%= will_paginate @posts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
</div> 
