<% if @team.intro %>
  <div style="margin-bottom: 20px">
    <%= @team.intro %>
  </div>
<% end %>

<div class="media" style="margin-top: 0">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=current_account.picture ? current_account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">
    <%= partial :'teams/comment_form', :locals => {:comment => @comment} %>
  </div>
</div> 

<% (@posts = @team.posts.order('updated_at desc').paginate(:page => params[:page], :per_page => 10)).each { |post| %>
  <% if post.comments.count > 0 %>
    <div data-pagelet-url="/posts/<%=post.id%>">
      <%= partial :'teams/post', :object => post %>
    </div>
  <% end %>
  <div style="text-align: center">
    <%= will_paginate @posts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div> 
<% } %>
