
<div class="list-group mb-3">
  <% @group.teams.order('name asc').each { |team| %>

    <a
      class="list-group-item d-flex justify-content-between align-items-center <% if team == @team %>active<% end %>"   style="white-space: nowrap; overflow: hidden;"
      href="/h/<%=@group.slug%>/teams/<%=team.id%>"
      >

      <span><i class="fa fa-fw fa-hashtag"></i> <%=team.name%></span>

      <% if (unread = team.comments.where(:id.nin => current_account.read_receipts.pluck(:comment_id)).count) > 0 %>
        <span class="badge badge-primary badge-pill" title="<%=pluralize(unread, 'unread comment')%>"><%=unread%></span>
      <% end %>      
    </a>

  <% } %>

  <a
    class="list-group-item <% if @team and @team.new_record? %>active<% end %>"
    href="/h/<%=@group.slug%>/teams/new"
    >
    <i class="fa fa-plus-circle fa-fw"></i> New team
  </a>


</div>
