
<%= @team.intro %>

<% @team.comments.order('created_at asc').each { |comment| %>

	<div class="media">
	  <span class="pull-left">
	    <img class="media-object" style="width: 32px" src="<%=comment.account.picture ? comment.account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
	  </span>
	  <div class="media-body">
	
	    <div>
	    	
	      <strong><%=comment.account.name%></strong>
	      <small style="opacity: 0.5">
	      	<%= timeago(comment.created_at) %>
	      	
	      	<% if comment.account.id == current_account.id or @membership.admin? %>
		      	&middot;
		      	<a href="/comments/<%=comment.id%>/edit"><i class="fa fa-pencil"></i></a>
	      	<% end %>
	      	
      	</small>
	
	      <div style="margin-bottom: 1em">
	      	<%= Rinku.auto_link(comment.body) %>
      	</div>
      	
      	<div style="border-radius: 4px; background: #efefef; padding: 5px 10px; font-size: 12px">
					<div data-pagelet-url="/comments/<%=comment.id%>/likes">
						<%= partial :'teams/comment_likes', :locals => {:comment => comment} %>
					</div>
      	</div>
      	
	    </div>
	
	  </div>
	</div> 

<% } %>


<div class="media" style="margin-bottom: 20px">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=current_account.picture ? current_account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">

		<%= partial :'teams/comment_form' %>      

  </div>
</div> 
