
<div class="media mb-3">
  <%= partial :'accounts/square', :locals => {:account => @account, :style => 'display: block; width: 64px'} %>
  <div class="media-body ml-3">            
    <h4 class="my-0"><%=@account.name%></h4>
  </div>
</div>    

<script>
  $(function () {
    $('.message-thread').slimScroll({
      height: $(window).height() / 2,
      start: 'bottom'
    })
  });
</script>
<div class="message-thread p-1">
  <ul class="widget-chat">

    <% Message.or({:messenger => current_account, :messengee_id => @account},{:messenger => @account, :messengee_id => current_account}).order('created_at asc').each { |message| %>
      <% if message.messenger_id == @account.id %>
        <li>              
          <div class="widget-chat-media">
            <%= partial :'accounts/square', :locals => {:account => @account, :style => 'display: block; width: 64px'} %>
          </div>
          <div class="widget-chat-content">                
            <div class="widget-chat-message last">
              <%=message.body%>
            </div>
          </div>
        </li>
      <% else %>
        <li class="reply">
          <div class="widget-chat-content">
            <div class="widget-chat-message last">
              <%=message.body%>
            </div>
          </div>
        </li>
      <% end %>
    <% } %>
  </ul>
</div>

<script>
  $(function () {
    $('#compose input').focus()
  })
</script>
