<div class="row">

  <% if current_account.messages.count > 0 %>
    <div class="col-md-3">

      <% messenger_ids = [] %>
      <% current_account.messages.order('created_at desc').each { |message| %>      
        <% account = (current_account == message.messenger ? message.messengee : message.messenger) # the other person %>      
        <% next if messenger_ids.include?(account.id) %>        
        <%= partial :'messages/preview', :locals => {:message => message, :klass => "p-2 d-block #{'active' if account.id == @account.id}"} %>        
        <% messenger_ids << account.id } %>

    </div>
  <% end %>
  <div id="thread-panel" class="mt-5 mt-sm-0 <% if current_account.messages.count > 0 %>col-md-9<% else %>col-md-12<% end %>">

    <% if @account %>
      <div data-pagelet-url="/messages/<%=@account.id%>" data-pusher-channel="message.<%=@account.id%>.<%=current_account.id%>">
        <%= partial :'messages/thread' %>
      </div>
    <% end %>
    <div data-pagelet-url="/messages/<%=@account.id%>/send">
      <%= partial :'messages/send' %>
    </div>

  </div>
</div>