<% if shift = Shift.find_by(rslot: rslot, role: role); account = shift.account %>
  <% if (shift.account and shift.account == current_account) or @membership.admin? %>
    <% if shift.account %>
      <a class="pagelet-trigger" href="/shifts/<%=shift.id%>/destroy">
        <% if params[:view] == 'names' %>
          <%= account.name %>
        <% else %>      
          <img data-toggle="tooltip" title="<%=account.name%>" style="width: 50px;" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" />
        <% end %>
      </a>
    <% else %>
      <a class="pagelet-trigger" href="/shifts/<%=shift.id%>/destroy">
        n/a
      </a>
    <% end %>
  <% else %>
    <% if shift.account %>
      <% if params[:view] == 'names' %>
        <%= account.name %>
      <% else %>
        <img data-toggle="tooltip" title="<%=account.name%>" style="width: 50px;" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" />
      <% end %>
    <% else %>
      n/a
    <% end %>
  <% end %>            
<% else %>
  <a class="pagelet-trigger btn btn-primary btn-sm" href="/shifts/create?rota_id=<%=rota.id%>&rslot_id=<%=rslot.id%>&role_id=<%=role.id%>">Sign up</a>
  <% if @membership.admin? %>
    <a class="pagelet-trigger btn btn-primary btn-sm" href="/shifts/create?rota_id=<%=rota.id%>&rslot_id=<%=rslot.id%>&role_id=<%=role.id%>&na=true">n/a</a>
  <% end %>
<% end %>