<%= partial :group_header %>

<% if @membership.admin? %>
  <% form_tag "/rotas/create?group_id=#{@group.id}" do %>
    <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New rota' %>
  <% end %>
<% end %>

<% @group.rotas.each { |rota| %>
  <h2>
    <a href="/h/<%=@group.slug%>/rotas/<%=rota.id%>">
      <%=rota.name%>
    </a>  
  </h2>  
<% } %>