<%= partial :group_header %>

<% if @membership.admin? %>
  <% form_tag "/rotas/create?group_id=#{@group.id}" do %>
    <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New rota' %>
  <% end %>
<% end %>

<div data-pagelet-url="/h/<%=@group.slug%>/rotas/<%=@rota.id%>">
  <%= partial :'rotas/rota', :locals => {:rota => @rota} %>
</div>

<% if @membership.admin? %>

  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-exchange"></i> Reorder</a>
  <div style="display: none" class="activity-form">

    <h3>Reorder roles</h3>
    <ul class="roles" data-rota-id="<%=@rota.id%>">
      <% @rota.roles.order('o asc').each { |role| %>
        <li id="<%=role.id%>"><%= role.name %></li>
      <% } %>
    </ul>
    <p style="display: none">
      <em>Refresh the page to see your changes</em>
    </p>              

    <h3>Reorder slots</h3>
    <ul class="rslots" data-rota-id="<%=@rota.id%>">
      <% @rota.rslots.order('o asc').each { |rslot| %>
        <li id="<%=rslot.id%>"><%= rslot.name %></li>
      <% } %>
    </ul>  
    <p style="display: none">
      <em>Refresh the page to see your changes</em>
    </p>              

  </div>        

<% end %>