<%= partial :group_header %>

<div style="margin: 10px 0">
  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> List transport</a>
  <div style="display: none" class="transport-form">
    <%= partial :'transports/build' %>  
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Transport</th>
      <th>Cost</th>
      <th>Places taken</th>
      <th></th>
      <th>People</th> 
    </tr>
  </thead>
  <% @group.transports.order('name asc').each { |transport| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a href="/h/<%=@group.slug%>/transports/<%=transport.id%>/edit">
            <%=transport.name%>
          </a>
        <% else %>
          <%=transport.name%>
        <% end %>            
        <br />
        <%= transport.description %>        
      </td>
      <td>
        £<%=transport.cost%>
      </td>
      <td>
        <%=transport.transportships.count%>/<%= transport.capacity %>
      </td>
      <td>
        <% if transportship = @group.transportships.find_by(transport: transport, account: current_account) %>
          <a class="btn btn-primary" href="/transportships/<%=transportship.id%>/destroy">Leave</a>
        <% elsif !@group.transportships.find_by(account: current_account) and !transport.full? %>
          <a class="btn btn-primary" href="/transportships/create?transport_id=<%=transport.id%>">Join</a>
        <% end %>       
      </td>      
      <td>
        <% transport.transportships.map { |transportship| account = transportship.account; %><img data-toggle="tooltip" title="<%=account.name%>" style="width: 50px;" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" /><% } %>
      </td>
    </tr>
  <% } %>
</table>