<table class="table table-striped">
  <thead>
    <tr>
      <th>Tier</th>
      <th>Cost</th>
      <th>Places taken</th>
      <th></th>
      <th>People</th> 
    </tr>
  </thead>
  <% @gathering.tiers.order('cost asc').each { |tier| %>
    <tr>
      <td>
        <% if admin? || @membership.admin? %>
          <a href="/a/<%=@gathering.slug%>/tiers/<%=tier.id%>/edit">
            <%=tier.name%>
          </a>
        <% else %>
          <%=tier.name%>
        <% end %>       
        <br />
        <%= tier.description %>
      </td>
      <td>
        <% if tier.split_cost %>
          <%=@gathering.currency_symbol%><%=tier.cost%> total
          <% if tier.cost_per_person %>
            (<%=@gathering.currency_symbol%><%=tier.cost_per_person%>/person)
          <% end %>        
        <% else %>
          <%=@gathering.currency_symbol%><%=tier.cost%>/person
        <% end %>
      </td>
      <td>
        <%=tier.tierships.count%>/<%=tier.capacity || '&infin;' %>
        <% if tier.capacity %>
          <% if tier.full? %>
            <span class="label label-danger">Full</span>
          <% else %>
            <span class="label label-success">Spaces</span>
          <% end %>
        <% end %>
      </td>       
      <td>
        <% if tiership = @gathering.tierships.find_by(tier: tier, account: current_account) %>
          <a class="pagelet-trigger btn btn-primary" href="/tierships/<%=tiership.id%>/destroy">Leave</a>
        <% elsif !tier.full? %>
          <a class="pagelet-trigger btn btn-primary" href="/tierships/create?tier_id=<%=tier.id%>">Join</a>
        <% end %>
      </td>      
      <td>
        <% y = [] %>
        <% tier.tierships.each { |tiership| account = tiership.account; %>
          <% if params[:view] == 'names' %>
            <% y << capture do %>   
              <%= account.name %>
            <% end %>
          <% else %>
            <% y << capture do %>
              <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
            <% end %>
          <% end %>
        <% } %>
        <% if params[:view] == 'names' %>
          <%= y.map(&:strip).join(', ') %>
        <% else %>
          <div class="image-wall">
            <%= y.map(&:strip).join('') %>
          </div>
        <% end %>       
      </td>
    </tr>
  <% } %>
</table>

<% if params[:view] != 'names' %>
  <a onclick="$(this).closest('[data-pagelet-url]').attr('data-pagelet-url', '/a/<%=@gathering.slug%>/tiers?view=names')" href="#" class="pagelet-trigger">Show names instead of pictures</a>
<% end %>