<table class="table table-striped">
  <thead>
    <tr>
      <th>Accommodation</th>
      <th>Cost for the room</th>
      <th>Places taken</th>
      <th></th>
      <th>People</th> 
      <th>Cost per person</th> 
    </tr>
  </thead>
  <% @gathering.accoms.order('name asc').each { |accom| %>
    <tr>
      <td>
        <% if admin? || @membership.admin? %>
          <a href="/a/<%=@gathering.slug%>/accoms/<%=accom.id%>/edit">
            <%=accom.name%>
          </a>
        <% else %>
          <%=accom.name%>
        <% end %>            
        <br />
        <%= accom.description %>        
      </td>
      <td>
        <%=@gathering.currency_symbol%><%=accom.cost%>
      </td>
      <td>
        <%=accom.accomships.count%>/<%=accom.capacity%>
        <% if accom.full? %>
          <span class="label label-danger">Full</span>
        <% else %>
          <span class="label label-success">Spaces</span>
        <% end %>
      </td>      
      <td>
        <% if accomship = @gathering.accomships.find_by(accom: accom, account: current_account) %>
          <a class="pagelet-trigger btn btn-primary" href="/accomships/<%=accomship.id%>/destroy">Leave</a>
        <% elsif !@gathering.accomships.find_by(account: current_account) and !accom.full? %>
          <a class="pagelet-trigger btn btn-primary" href="/accomships/create?accom_id=<%=accom.id%>">Join</a>
        <% end %>
      </td>      
      <td>
        <% y = [] %>
        <% accom.accomships.each { |accomship| account = accomship.account; %>
          <% if params[:view] == 'names' %>
            <% y << capture do %>   
              <%= account.name %>
            <% end %>
          <% else %>
            <% y << capture do %>
              <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
            <% end %>
          <% end %>
        <% } %>
        <% if params[:view] == 'names' %>
          <%= y.map(&:strip).join(', ') %>
        <% else %>
          <div class="image-wall">
            <%= y.map(&:strip).join('') %>
          </div>
        <% end %>      
      </td>
      <td>
        <% if accom.cost_per_person %>
          <%=@gathering.currency_symbol%><%=accom.cost_per_person%>
        <% end %>
      </td>
    </tr>
  <% } %>
</table>

<% if params[:view] != 'names' %>
  <a onclick="$(this).closest('[data-pagelet-url]').attr('data-pagelet-url', '/a/<%=@gathering.slug%>/accoms?view=names')" href="#" class="pagelet-trigger">Show names instead of pictures</a>
<% end %>
