<% if @membership.admin? %>
  <% form_tag "/accoms/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'margin-top: 10px' do %>
    <%= text_field_tag :name, :required => true, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New accommodation' %>
    <%= text_field_tag :description, :class => 'form-control', :style => 'width: 10em', :placeholder => 'Description' %>          
    <%= number_field_tag :capacity, :required => true, :class => 'form-control', :style => 'width: 6em', :placeholder => 'Capacity' %>

    <div class="input-group">
      <span class="input-group-addon"><%=@group.currency_symbol%></span>
      <%= number_field_tag :cost, :required => true, :class => 'form-control', :style => 'width: 8em', :placeholder => 'Cost' %>
    </div>

    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>

  <% end %>    
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Accommodation</th>
      <th>Cost for the room</th>
      <th>Places taken</th>
      <th></th>
      <th>People</th> 
      <th>Cost per person</th> 
    </tr>
  </thead>
  <% @group.accoms.order('name asc').each { |accom| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a class="pagelet-trigger" data-confirm="Delete this accommodation?" href="/accoms/<%=accom.id%>/destroy">
            <%=accom.name%>
          </a>
        <% else %>
          <%=accom.name%>
        <% end %>            
        <br />
        <%= accom.description %>        
      </td>
      <td>
        <%=@group.currency_symbol%><%=accom.cost%>
      </td>
      <td>
        <%=accom.accomships.count%>/<%=accom.capacity%>
      </td>      
      <td>
        <% if accomship = @group.accomships.find_by(accom: accom, account: current_account) %>
          <a class="pagelet-trigger btn btn-primary" href="/accomships/<%=accomship.id%>/destroy">Leave</a>
        <% elsif !@group.accomships.find_by(account: current_account) and !accom.full? %>
          <a class="pagelet-trigger btn btn-primary" href="/accomships/create?accom_id=<%=accom.id%>">Join</a>
        <% end %>
      </td>      
      <td>
        <% accom.accomships.map { |accomship| account = accomship.account; %><img data-toggle="tooltip" title="<%=account.name%>" style="width: 50px;" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" /><% } %>
      </td>
      <td>
        <% if accom.cost_per_person %>
          <%=@group.currency_symbol%><%=accom.cost_per_person%>
        <% end %>
      </td>
    </tr>
  <% } %>
</table>