<div class="comment-body linkify nl2br tagify" data-original="<%=comment.body%>"><%=comment.body%></div>

<% if comment.first_in_post? %>
  <div data-pagelet-url="/comments/<%=comment.id%>/voptions" class="mt-3 <%= comment.voptions.empty? ? 'd-inline-block' : 'd-block' %>">
    <%= partial :'comments/voptions', :locals => {:comment => comment} %>
  </div>

  <% unless comment.commentable.is_a?(Photo) %>
    <div class="d-inline-block my-3">
      <%= partial :'photos/photos', :locals => {:photoable => comment} %>
    </div>
  <% end %>

  <%= partial :'comments/file', :locals => {:comment => comment} %>
<% end %>