<div class="comment-body linkify nl2br tagify" data-original="<%=comment.body%>"><%=comment.body%></div>

<% if comment.first_in_post? %>
  <div data-pagelet-url="/comments/<%=comment.id%>/options">
    <%= partial :'comments/options', :locals => {:comment => comment} %>
  </div>

  <%= partial :'comments/file', :locals => {:comment => comment} %>
<% end %>