<% if !comment.comment_reactions.find_by(account: current_account) %>
  <a style="background: white" class="rounded p-1 border border-primary" href="javascript:;" onclick="$(this).hide().next().css('display', 'inline').find('input').focus()">&#x2026;</a>

  <% form_tag "/comments/#{comment.id}/react", :class => 'form-inline', :style => 'display: none;' do %>
    <div class="row no-gutters align-items-center">
      <div class="col-auto">
        <% %w{â¤ï¸ ðŸ§¡ ðŸ’› ðŸ’š ðŸ’™ ðŸ’œ ðŸ‘}.each { |e| %>
          <a style="text-decoration: none; background: white" class="rounded p-1 border border-light" href="javascript:;" onclick="$(this).closest('form').find('input').val($(this).text()).closest('form').submit()"><%=e%></a>
        <% } %>  
      </div>
      <div class="col">
        or enter an emoji
      </div>
      <div class="col-auto">        
        <div class="input-group mb-1" style="width: 5rem;">
          <%= text_field_tag :body, :class => 'form-control d-inline' %>
          <div class="input-group-append">
            <button class="btn btn-primary" style="height: 2.125rem" type="submit"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>


<% if comment.comment_reactions.count > 0 %>
  <% comment.comment_reactions.pluck(:body).uniq.each { |body| comment_reactions = comment.comment_reactions.where(body: body) %>  
    <% c = 'd-inline-block border rounded p-1 text-dark' %>
    <a onclick="$(this).tooltip('hide')" data-toggle="tooltip" style="text-decoration: none; background: white" <% if comment_reactions.find_by(account: current_account) %> class="pagelet-trigger border-primary <%=c%>" href="/comments/<%=comment.id%>/unreact" <% else %> class="<%=c%> border-light" <% end %> >
      <%= body == 'â¤' ? 'â¤ï¸' : body %> <%=comment_reactions.count%>
    </a>
    <span style="display: none">
      <%=comment_reactions.map { |comment_reaction| comment_reaction.account.name }.join('<br />') %> 
    </span>		  
  <% } %>
<% end %>