
<% form_for comment, comment.new_record ? "/a/#{@group.slug}/comment" : "/comments/#{comment.id}/edit", :class => "comment-form add-placeholders mb-3", :multipart => true do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :post_id, :value => comment.post_id %>
  <% if defined?(reply) %>
    <%= f.text_area_block :body, :placeholder => 'Write a comment...', :label_class => 'd-none' %>
  <% else %>

    <% if comment.first_in_post? %>
      <div id="comment-title-container" style="display: none">
        <%= f.text_block :title, :label_class => 'd-none' %>
      </div>	 	
    <% end %>

    <%= f.text_area_block :body, :placeholder => "Write a comment...", :label_class => 'd-none' %>

    <div id="comment-file-container" style="display: none">
      <%= f.file_block :file, :label_class => 'd-none' %>
    </div>

    <% if comment.first_in_post? %>

      <div style="margin-bottom: 5px; margin-top: -10px;">

        <a id="create-a-poll" style="text-decoration: none" href="javascript:;" onclick="$(this).hide();
                    $('#divider').hide();
                    $('#comment-title-container').show().find('input').focus();
                    $('textarea[id=comment_body]').attr('placeholder', 'Description')">
          <i class="fa fa-bar-chart"></i>
          <% if comment.new_record? %>
            Create a poll
          <% else %>
            Convert to poll
          <% end %>
        </a>
        <% if comment.title %>
          <script>
            $(function () {
              $('#create-a-poll').click()
            })
          </script>
        <% end %>	

        <span id="divider">&middot;</span>

        <a id="attach-a-file" style="text-decoration: none" href="javascript:;" onclick="$(this).hide();
                    $('#divider').hide();
                    $('#comment-file-container').show().find('input').click();">
          <i class="fa fa-paperclip"></i>
          Attach a file
        </a>
        <% if comment.file %>
          <script>
            $(function () {
              $('#attach-a-file').hide();
              $('#divider').hide();
              $('#comment-file-container').show()
            })
          </script>
        <% end %>						

      </div>

    <% end %>

  <% end %>

  <%= f.submit_block button_text: 'Post', destroy_url: "/comments/#{comment.id}/destroy", :container_class => (@show_buttons ? 'form-group' : 'd-none') %>
<% end %> 