<div class="activity" data-attendances-count="<%=activity.attendances.count%>" data-activity-id="<%=activity.id%>" style="z-index: 99; margin-bottom: 10px; background-image: url('<%=activity.image.try(:url)%>'); background-size: cover; background-position: center center; position: relative;">  
  <div style="background: black; opacity: 0.5; height: 100%"></div>
  <div style="position: absolute; bottom: 10px; left: 10px; color: white">
    <h3 style="color: white; margin-top: 0; margin-bottom: 0; position: relative" data-toggle="tooltip">
      <%=activity.name%>
    </h3>
    <p class="description" style="display: none">
      <%=activity.description.gsub("\n","<br />")%>
    </p>
    <span style="color: white">by <%=activity.account.name%></span>
    <div data-pagelet-url="/activities/<%=activity.id%>/attendees"><% if request.xhr? %><%= partial :'timetables/attendees', :locals => {:activity => activity} %><% end %></div>
  </div>  
  <div style="position: absolute; right: 10px; bottom: 10px; color: white">
    <% if activity.space_id and (@membership.admin? or @group.scheduling_by_all) %>  
      <a class="pagelet-trigger" data-confirm="Are you sure you want to unschedule this activity?" title="Unschedule" href="/activities/<%=activity.id%>/unschedule"><i class="fa fa-calendar-minus-o"></i></a>
      &middot;
    <% end %>      
    <a title="Edit" href="/activities/<%=activity.id%>/edit"><i class="fa fa-pencil"></i></a>      
  </div>  
</div>