<div class="tactivity" data-attendances-count="<%=tactivity.attendances.count%>" data-tactivity-id="<%=tactivity.id%>" style="z-index: 99; margin-bottom: 10px; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%=tactivity.image.try(:url)%>'); background-size: cover; background-position: center center; position: relative;">  
  <div style="position: absolute; bottom: 10px; left: 10px; color: white">
    <h3 style="color: white; margin-top: 0; margin-bottom: 0; position: relative" data-toggle="tooltip">
      <a href="/a/<%=@gathering.slug%>/tactivities/<%=tactivity.id%>"><%=tactivity.name%></a>
    </h3>
    <% if tactivity.description %>
      <span style="display: none"><%=tactivity.description.truncate(150) %></span>
    <% end %>
    <span style="color: white">by <a href="/accounts/<%=tactivity.account_id%>"><%=tactivity.account.name%></a></span>
    <div>
      <div style="display: inline-block" data-pagelet-url="/tactivities/<%=tactivity.id%>/attendees"></div>
    </div>
  </div>  
  <div style="position: absolute; right: 10px; bottom: 10px; color: white">
    <% if tactivity.comments.count > 0 %>
      <a data-toggle="tooltip" title="<%=pluralize(tactivity.comments.count, 'comment')%>" href="/a/<%=@gathering.slug%>/tactivities/<%=tactivity.id%>"><i class="fa fa-comment"></i> <%=tactivity.comments.count%></a>
      &middot; 
    <% end %>    
    <% if tactivity.space_id and (@membership.admin? or tactivity.timetable.scheduling_by_all) %>  
      <a class="pagelet-trigger" data-confirm="Are you sure you want to unschedule this activity?" title="Unschedule" href="/tactivities/<%=tactivity.id%>/unschedule"><i class="fa fa-calendar-minus-o"></i></a>
      &middot;
    <% end %>      
    <a title="Edit" href="/tactivities/<%=tactivity.id%>/edit"><i class="fa fa-pencil"></i></a>      
  </div>  
</div>
