<style>
  .activity a, .activity span { font-size: 12px; color: white }
  .activity, .activity-accept { height: 120px }
  td .activity, td .activity-accept { width: 240px }
  .activity h3 { font-size: 18px; line-height: 20px }
</style>

<% if timetable.hide_schedule? %>

  <div class="row" style="margin-top: 15px">
    <% timetable.activities.sort_by { |activity| -activity.attendances.count }.each { |activity| %>             
      <div class="col-sm-3">
        <%= partial :'timetables/activity', :object => activity %>          
      </div>
    <% } %>
  </div>

<% else %>

  <% if @membership.admin? or @group.scheduling_by_all %>

    <script>
      $(function () {
        $('.activity').draggable({revert: "invalid"});
        $('.activity-accept').droppable({
          drop: function (event, ui) {
            var activity = $(ui.draggable)
            var accept = $(this)
            $.post('/activities/' + $(activity).attr('data-activity-id') + '/schedule', {tslot_id: $(accept).attr('data-tslot-id'), space_id: $(accept).attr('data-space-id')}, function () {
              $(accept).droppable("option", "disabled", true);
              if (activity.parent().hasClass('activity-accept'))
                $(activity.parent()).droppable("option", "disabled", false);
              $(activity).detach().css({top: 0, left: 0}).appendTo(accept);
            })
          }
        });
        $('.activity-accept[data-activity-id]').droppable("option", "disabled", true);
      });
    </script>

  <% end %>

  <div class="row">

    <div class="col-sm-3">
      <h3>Unscheduled</h3>

      <div style="margin-top: 10px">
        <% timetable.activities.where(space_id: nil).sort_by { |activity| -activity.attendances.count }.each { |activity| %>             
          <%= partial :'timetables/activity', :object => activity %>        
        <% } %>
      </div>

    </div>
    <div class="col-sm-9">
      <h3>Scheduled</h3>

      <table class="table table-striped">
        <tr>
          <td></td>
          <% timetable.spaces.order('o asc').each { |space| %>
            <td>
              <strong>
                <% if @membership.admin? %>
                  <a class="pagelet-trigger" data-confirm="Delete this space?" href="/spaces/<%=space.id%>/destroy">
                    <%=space.name%>
                  </a>
                <% else %>
                  <%=space.name%>
                <% end %>       
              </strong>
            </td>
          <% } %>
          <% if @membership.admin? %>
            <td style="width: 1px">
              <% form_tag "/spaces/create?timetable_id=#{timetable.id}", :class => 'form-inline', :style => 'display: inline' do %>
                <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New space' %>
              <% end %>        
            </td>
          <% end %>
        </tr>
        <% timetable.tslots.order('o asc').each { |tslot| %>
          <tr>
            <td style="width: 1px">
              <strong>
                <% if @membership.admin? %>
                  <a class="pagelet-trigger" data-confirm="Delete this slot?" href="/tslots/<%=tslot.id%>/destroy">
                    <%=tslot.name%>
                  </a>
                <% else %>
                  <%=tslot.name%>
                <% end %> 
              </strong>
            </td>
            <% timetable.spaces.order('o asc').each { |space| activity = Activity.find_by(tslot: tslot, space: space) %>
              <td>
                <div class="activity-accept" style="background: #ddd;" <% if activity %>data-activity-id="<%=activity.id%>"<% end %> data-tslot-id="<%=tslot.id%>" data-space-id="<%=space.id%>">
                  <% if activity  %>
                    <%= partial :'timetables/activity', :object => activity %>
                  <% end %>                  
                </div>
              </td>
            <% } %>
            <% if @membership.admin? %>
              <td></td>
            <% end %>        
          </tr>
        <% } %>
        <% if @membership.admin? %>
          <tr>
            <td>
              <% form_tag "/tslots/create?timetable_id=#{timetable.id}", :class => 'form-inline', :style => 'display: inline' do %>
                <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New slot' %>
              <% end %>                  
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

<% end %>
