<%= partial :group_header %>

<h2>
  <a href="/h/<%=@group.slug%>/timetables/<%=@timetable.id%>"><%=@timetable.name%></a>
</h2>

<div class="row">

  <div class="col-sm-8">

    <%= partial :'timetables/activity', :object => @activity %>

    <p style="font-size: 16px; font-weight: 300">
      <%=@activity.description.gsub("\n","<br />")%>
    </p>

    <div data-pagelet-url="/h/<%=@group.slug%>/commentable?commentable_type=Activity&commentable_id=<%=@activity.id%>">
      <%= partial :'comments/commentable', :locals => {:commentable => @activity} %>
    </div>   

  </div>
  <div class="col-sm-4">

    <h3 style="margin-top: 0">Host</h3>
    <%= partial :'accounts/square', :locals => {:account => @activity.account, :width => '75px'} %>

    <h3>Interested</h3>
    <% y = [] %>
    <% @activity.attendances.each { |attendance| account = attendance.account; %>
      <% y << capture do %>
        <%= partial :'accounts/square', :locals => {:account => account, :width => '75px'} %>
      <% end %>
    <% } %>
    <%= y.map(&:strip).join('') %>

  </div>
</div>