<%= partial :'groups/header' %>

<h2>
  <a href="/h/<%=@group.slug%>/timetables/<%=@timetable.id%>"><%=@timetable.name%></a>
</h2>

<div class="row">

  <div class="col-sm-8">

    <%= partial :'timetables/activity', :object => @activity %>

    <p style="font-size: 16px; font-weight: 300">
      <%=Rinku.auto_link(@activity.description.gsub("\n","<br />"))%>
    </p>

    <div data-pagelet-url="/h/<%=@group.slug%>/commentable?commentable_type=Activity&commentable_id=<%=@activity.id%>">
      <%= partial :'comments/commentable', :locals => {:commentable => @activity} %>
    </div>   

  </div>
  <div class="col-sm-4">

    <h3 style="margin-top: 0">Host</h3>
    <%= partial :'accounts/square', :locals => {:account => @activity.account, :width => '75px'} %>

    <h3 class="mt-3">Interested</h3>
    <% y = [] %>
    <% @activity.attendances.each { |attendance| account = attendance.account; %>
      <% y << capture do %>
        <%= partial :'accounts/square', :locals => {:account => account, :width => '75px'} %>
      <% end %>
    <% } %>
    <div class="image-wall">
      <%= y.map(&:strip).join('') %>
    </div>
    
    <% if @activity.attendances.find_by(account: current_account) %>
      <a class="btn btn-primary" href="/activities/<%=@activity.id%>/unattend">No longer interested</a>    
    <% else %>
      <a class="btn btn-primary" href="/activities/<%=@activity.id%>/attend">Interested</a>
    <% end %>   

  </div>
</div>