<%= partial :'organisations/nav', :locals => {:organisation => @organisation} %>
              
<script>
  $(function () {                                  
    var autocomplete = new google.maps.places.Autocomplete($('#organisation_location')[0]);
    $('#organisation_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })
  })
</script>

<% form_for @organisation, @organisation.new_record? ? '/organisations/new' : "/organisations/#{@organisation.id}/edit" do  |f| %>
  <%= f.text_block :name %>
  <%= f.url_block :website %>
  <%= f.text_block :location %>
  <%= f.image_block :image %>
  <div class="my-3">&mdash; or &mdash;</div>
  <%= f.url_block :image_url %>  
  <%= f.text_block :stripe_pk %>
  <%= f.text_block :stripe_sk %>  
  <%= f.text_block :stripe_client_id %>
  <%= f.text_block :stripe_endpoint_secret %>
  <%= f.text_block :gocardless_access_token %>
  <%= f.text_block :patreon_api_key %>
  <%= f.text_block :mailgun_api_key %>
  <%= f.text_block :mailgun_domain %>
  <div class="my-3">
    <%= f.submit_block destroy_url: "/organisations/#{@organisation.id}/destroy" %>
  </div>
<% end %>