<%= partial :'organisations/nav', :locals => {:organisation => @organisation} %>

<div class="row no-gutters align-items-center justify-content-center mb-3">
  <div class="col-12 col-sm-auto mr-3 text-center">
    <% if @organisation.image %>
      <img src="<%=@organisation.image.thumb('200x200').url%>" />
    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col-12 col-sm-auto text-center text-sm-left">
    <h1>
      <%= @organisation.name %>'s events
    </h1>
    <div class="d-inline-block mb-1" data-pagelet-url="/organisationship/<%=@organisation.id%>?btn_class=<%=btn_class if defined?(btn_class)%>">
      <%= partial :'organisations/organisationship', :locals => {:organisation => @organisation, :btn_class => (btn_class if defined?(btn_class))} %>
    </div>
  </div>
</div>

<% form_tag '', :method => 'get', :class => 'form-inline mb-3' do%>
  <label class="my-1 mx-1">
    <span class="mr-1">Show events since</span>
    <%=text_field_tag :from, :class => 'form-control datepicker', :value => @from.to_s(:db) %>
  </label>
  <label class="my-1 mx-1">
    <span class="mr-1">containing the word</span>
    <%=text_field_tag :q, :class => 'form-control', :value => params[:q] %>
  </label>
  <label class="my-1 mx-1">
    <span class="mr-1">tagged</span>
    <%=select_tag :event_tag_id, :options => [''] + @organisation.event_tags.order('name asc').map { |event_tag| [event_tag.name, event_tag.id] }, :selected => params[:event_tag_id], :class => 'form-control' %>
  </label>
  <label class="my-1 mx-1">
    <span class="mr-1">Local group</span>
    <%=select_tag :local_group_id, :options => [''] + @organisation.local_groups.order('name asc').map { |local_group| [local_group.name, local_group.id] }, :selected => params[:local_group_id], :class => 'form-control' %>
  </label>
  <label class="my-1 mx-1">
    <span class="mr-1">Activity</span>
    <%=select_tag :activity_id, :options => [''] + @organisation.activities.order('name asc').map { |activity| [activity.name, activity.id] }, :selected => params[:activity_id], :class => 'form-control' %>
  </label>
  <%= hidden_field_tag :search, :value => 1 %>  
  <%=submit_tag 'Search', :class => 'btn btn-primary mt-3 mt-sm-0'%>
<% end %>

<% events = @events.paginate(:page => params[:page], :per_page => 50) %>
<%= partial :'events/blocks', :locals => {:events => events} %>
<div class="mt-3">
  <%= will_paginate events, :param_name => 'events_page', :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>