
<ul class="fa-ul" id="notifications">
  <% notifications.each_with_index { |notification,i| %>
    <% if defined?(include_group_name) %>
      <li style="opacity: 0.45">    
        <%= notification.group.name %>
      </li>
    <% end %>
    <li>      
      <i class="fa fa-li <%=notification.icon%>"></i>
      <a href="<%= notification.link[1] %>"><%= defined?(minifeed) ? HTML_Truncator.truncate(notification.sentence, 50, :length_in_chars => true) : notification.sentence %></a>
      <span style="font-size: 11px"><%= timeago(notification.created_at) %></span>      
      <% if !defined?(minifeed) %>
        <% if notification.type == 'commented' %>
          <p style="font-size: 13px; margin: 7px"><%=notification.notifiable.body %></p>
        <% end %>
        <hr style="margin: 5px 0" />
      <% end %>
    </li>
  <% } %>
  <% if defined?(minifeed) %>
    <li><a href="/a/<%=@group.slug%>">More...</a></li>
  <% end %>
</ul>

<% if !defined?(minifeed) %>
  <%= will_paginate notifications, :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
<% end %>
