
<% if @group.facebook_group_url and !@membership.member_of_facebook_group %>
  <div class="alert alert-primary" style="margin-top: 10px">
    Please join (or ask someone to add you to) <a target="_blank" href="<%=@group.facebook_group_url%>">the Facebook group</a>
  </div>
<% end %>

<% (missing_tier = (@group.enable_tiers? and @group.tiers.count > 0 and !@membership.tiership)); (missing_accom = (@group.enable_accommodation? and @group.accoms.count > 0 and !@membership.accomship)); if missing_tier or missing_accom %>
  <div class="alert alert-primary" style="margin-top: 10px">
    Please select <%= if missing_tier and missing_accom; 'a tier and accommodation option'; elsif missing_tier; 'a tier'; elsif missing_accom; 'an accommodation option'; end %>
  </div>
<% end %>

<table class="table">

  <% if @group.tiers.count > 0 %>         
    <tr>
      <th>
        Your tier
      </th>
      <td>
        <% if tiership = @membership.tiership %>
          <span style="cursor: pointer" onclick="$(this).hide().next().show()" class="badge badge-primary"><%= tiership.tier.name %> (<%=@group.currency_symbol%><%= tiership.tier.cost %>)</span>
        <% end %>  
        <% form_tag "/memberships/#{@membership.id}/tier", :style => ('display:none' if tiership) do %>
          <%= select_tag :tier_id, :class => 'form-control', :options => [''] + @group.tiers.map { |tier| [tier.name, tier.id] }, :selected => tiership.try(:tier_id), :onchange => '$(this.form).submit()' %>
        <% end %>        
      </td>
    </tr>
  <% end %>

  <% if @group.accoms.count > 0 %>
    <tr>
      <th>
        Your accommodation
      </th>
      <td>
        <% if accomship = @membership.accomship %>
          <span style="cursor: pointer" onclick="$(this).hide().next().show()" class="badge badge-primary"><%= accomship.accom.name %> (<%=@group.currency_symbol%><%= accomship.accom.cost_per_person %>)</span>
        <% end %>  
        <% form_tag "/memberships/#{@membership.id}/accom", :style => ('display:none' if accomship) do %>
          <%= select_tag :accom_id, :class => 'form-control', :options => [''] + @group.accoms.select { |accom| !accom.full? }.map { |accom| [accom.name, accom.id] }, :selected => accomship.try(:accom_id), :onchange => '$(this.form).submit()' %>
        <% end %>      
      </td>
    </tr>
  <% end %>  

  <% if @group.transports.count > 0 %>
    <tr>
      <th>
        Your transport
      </th>
      <td>
        <% if @membership.transportships.count > 0 %>
          <% @membership.transportships.each { |transportship| %>
            <a href="/a/<%=@group.slug%>/transports" class="badge badge-primary"><%= transportship.transport.name %> (<%=@group.currency_symbol%><%= transportship.transport.cost %>)</a> 
          <% } %>     
        <% else %>
          <a href="/a/<%=@group.slug%>/transports">Join transport</a>
        <% end %>
      </td>
    </tr>    
  <% end %>  

  <% if @group.teams.count > 0 %>
    <tr>
      <th>
        Your teams
      </th>
      <td>
        <% if @membership.teamships.count > 0 %>
          <% @membership.teamships.each { |teamship| %>
            <a href="/a/<%=@group.slug%>/teams/<%=teamship.team_id%>"><span class="badge badge-primary"><%=teamship.team.name%></span></a>
          <% } %>      
        <% else %>
          <a href="/a/<%=@group.slug%>/teams">Join teams</a>
        <% end %>
      </td>
    </tr>    
  <% end %>  

  <% if @group.rotas.count > 0 %>
    <tr>
      <th>
        Your shifts
      </th>
      <td>                
        <% if @membership.shifts.count > 0 %>
          <% @membership.shifts.each { |shift| %>
            <a href="/a/<%=@group.slug%>/rotas/<%=shift.rota_id%>"><span class="badge badge-primary"><%=shift.rota.name%>, <%=shift.rslot.name%></span></a>
          <% } %>      
        <% else %>
          <a href="/a/<%=@group.slug%>/rotas">Sign up to shifts</a>
        <% end %>
      </td>
    </tr>    
  <% end %>      

</table>

<% if !@group.disable_stripe and (@membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution))) %>
  <div class="card text-white bg-danger mb-3">
    <div class="card-body">
      You owe <%=@group.currency_symbol%><%= @membership.requested_contribution - @membership.paid%>. 
      (You've paid <%=@group.currency_symbol%><%=@membership.paid or 0%> of a requested contribution of <%=@group.currency_symbol%><%=@membership.requested_contribution%>.)          
      <div style="margin-top: 10px">
        <%= partial :'groups/pay', :locals => {:amount => (@membership.requested_contribution - @membership.paid)} %>
      </div>
    </div>
  </div>
<% end %>


