<td>
  <%= partial :'accounts/account', :object => (account = mapplication.account) %>
</td>
<td>
  <% if mapplication.answers %>
    <a href="javascript:;" onclick="$('#modal .modal-content').load('/mapplications/<%=mapplication.id%>', function () {
            $('#modal').modal('show')
          });">
         <%=mapplication.created_at%>
    </a>
  <% else %>  
    <%=mapplication.created_at%>
  <% end %>
</td>           
<td>
  <%= partial :'mapplications/verdicts', :locals => {:mapplication => mapplication} %>
</td>          

<td>
  <% if mapplication.status == 'on_ice' %>
    Iced by <%=mapplication.processed_by.name%>
  <% end %>  
  <% if @membership.admin? %>      
    &middot; 
    <% if mapplication.acceptable? %>
      <a class="btn btn-success" href="/mapplications/<%=mapplication.id%>/process?status=accepted">Accept</a>
    <% end %>
    <% if mapplication.status == 'on_ice' %>
      <a class="btn btn-default" href="/mapplications/<%=mapplication.id%>/process?status=pending">Defrost</a>
    <% else %>
      <a class="btn btn-default" href="/mapplications/<%=mapplication.id%>/process?status=on_ice">Put on ice</a>
    <% end %>
  <% end %>
</td>
