<% mapplication.answers.each { |q,a| if a %>
    <p><strong><%=q%></strong></p>
    <p><%=a.gsub("\n","<br />")%></p>                    
  <% end } if mapplication.answers  %>              

<div data-pagelet-url="/h/<%=@group.slug%>/commentable?commentable_type=Mapplication&commentable_id=<%=mapplication.id%>">
  <%= partial :'comments/commentable', :locals => {:commentable => mapplication} %>
</div> 