<% [ ['proposer','propose'], ['supporter','support'] ].each { |noun, verb| %>

  <div style="margin-bottom: 10px">
    <%=pluralize(mapplication.verdicts.send(noun.pluralize).count,noun)%>    
    <% if noun == 'proposer' and @group.proposing_delay and (Time.now - mapplication.created_at) < @group.proposing_delay.hours %>
      &middot; <small>Proposers accepted in <%= distance_of_time_in_words((mapplication.created_at + @group.proposing_delay*60*60), Time.now)%></small>    
    <% elsif verdict = current_account.verdicts.send(noun.pluralize).find_by(mapplication: mapplication) %>
      &middot; <a class="pagelet-trigger" href="/verdicts/<%=verdict.id%>/destroy"><%= "Un#{verb}" %></a>
    <% elsif !current_account.verdicts.find_by(mapplication: mapplication) %>                        
      &middot; 
      <a class="pagelet-trigger" <% if @group.send("require_reason_#{noun}") %> data-require-reason="true" <% end %>  href="/verdicts/create?mapplication_id=<%=mapplication.id%>&type=<%=noun%>"><%=verb.capitalize%></a>
    <% end %>

    <div class="image-wall">
      <% mapplication.verdicts.send(noun.pluralize).each { |verdict| account = verdict.account %>
        <% if @group.send("anonymise_#{noun.pluralize}") %>
          <i data-toggle="tooltip" title="<%=verdict.reason%>"  class="fa fa-user-circle" style="font-size: 20px; <% if verdict.reason %> color: #CE2828 <% end %>"></i>
        <% else %> 
          <% if verdict.reason %>
            <%= partial :'accounts/square', :locals => {:account => account, :content => verdict.reason, :style => "width: 50px; border-bottom: 2px solid #CE2828"}%>
          <% else %>
            <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'}%>
          <% end %>
        <% end %>
      <% } %>
    </div>

  </div>        

<% } %>