<% [ ['proposer','propose'], ['supporter','support'], ['blocker','block'] ].each { |noun, verb| %>

  <div style="margin-bottom: 10px">
    <%=pluralize(mapplication.verdicts.send(noun.pluralize).count,noun)%>          
    <% if verdict = current_account.verdicts.send(noun.pluralize).find_by(mapplication: mapplication) %>
      &middot; <a class="pagelet-trigger" href="/verdicts/<%=verdict.id%>/destroy"><%= "Un#{verb}" %></a>
    <% elsif !current_account.verdicts.find_by(mapplication: mapplication) %>                        
      &middot; 
      <% if noun == 'proposer' and @group.proposing_delay and (Time.now - mapplication.created_at) < @group.proposing_delay.hours %>
      <small>Proposers accepted in <%= distance_of_time_in_words((mapplication.created_at + @group.proposing_delay*60*60), Time.now)%></small>
      <% else %>
        <a class="pagelet-trigger" href="/verdicts/create?mapplication_id=<%=mapplication.id%>&type=<%=noun%>"><%=verb.capitalize%></a>
      <% end %>
    <% end %>

    <div>
      <% mapplication.verdicts.send(noun.pluralize).each { |verdict| account = verdict.account %>
        <% if @group.send("anonymise_#{noun.pluralize}") %>
          <i data-toggle="tooltip" title="<%=verdict.reason%>"  class="fa fa-user-circle" style="font-size: 20px; <% if verdict.reason %> color: #CE2828 <% end %>"></i>
        <% else %> 
          <img data-toggle="tooltip" title="<%=account.name%><% if verdict.reason%>: <%=verdict.reason%><% end %>" style="width: 50px; <% if verdict.reason %>border-bottom: 2px solid #CE2828 <% end %>" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" />
        <% end %>
      <% } %>

    </div>

  </div>        

<% } %>