
<%= partial :group_header %>

<% if params[:applied] or (current_account and @mapplicaton = @group.mapplications.find_by(account: current_account)) %>

  <h2>Thanks for applying</h2>

  <%= partial :'mapplications/threshold_info' %>

<% else %>

  <% if @membership %>
    <script>
      $(function () {
        $('form[action$=apply] .btn-primary').prop('disabled', true)
      });
    </script>
    <div class="panel">
      <div class="panel-body">
        <strong>Preview of application form (you are already a member of <%=@group.name%>)</strong>
      </div>
    </div>
  <% end %>

  <div class="row" style="margin-top: 15px">
    <div class="col-sm-4 col-sm-push-8">

      <div style="margin-bottom: 15px">
        <h2 style="margin-top: 0">Co-creators</h2>
        <% (Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:picture_uid.ne => nil).shuffle + Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:picture_uid => nil).shuffle).each { |account| %><img style="width: 50px; margin-bottom: 5px; margin-right: 5px;" data-toggle="tooltip" title="<%=account.name%>" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" /><% } %>      
      </div>

    </div>    
    <div class="col-sm-8 col-sm-pull-4">

      <% if @group.application_preamble %>
        <%=@group.application_preamble%>
      <% end %>

      <% form_for @account, "/h/#{@group.slug}/apply", :class => 'form-horizontal', :style => 'margin-top: 20px' do |f| %>

        <script>
          $(function () {
            $('.form-group > div.col-sm-6').removeClass('col-sm-6').addClass('col-sm-8')
          })
        </script>
        <% if !current_account or @membership %>
          <%= f.text_block :name %>
          <%= f.text_block :email %>
          <%= f.image_block :picture %>  
          <% if @group.ask_for_date_of_birth %>
            <%= f.date_block :date_of_birth, :start_year => 1900, :end_year => Time.now.year %>
          <% end %>
          <% if @group.ask_for_gender %>
            <%= f.select_block :gender %>
          <% end %>
          <% if @group.ask_for_poc %>
            <%= f.check_box_block :poc %>      
          <% end %>
          <% if @group.ask_for_facebook_profile_url %>
            <%= f.url_block :facebook_profile_url %>
          <% end %>
        <% end %>

        <% @group.application_questions_a.each_with_index { |q,i| %>
          <div class="form-group">
            <label class="control-label col-sm-3"><%=q%></label>
            <div class="col-sm-6">  
              <%= text_area_tag "answers[#{i}]", :class => 'form-control' %>
            </div>
          </div>  
        <% } %>

        <%= f.submit_block button_text: ((current_account and @group.application_questions_a.count == 0) ? 'Apply' : 'Submit') %>            

        <div class="row">
          <div class="col-sm-8 col-sm-offset-3" style="font-style: italic; margin-top: -5px">
            <%= partial :'mapplications/threshold_info' %>
          </div>
        </div>

      <% end %>      

    </div>
  </div>

<% end %>