
<%= partial :group_header %>

<% if params[:applied] or (current_account and @group.mapplications.find_by(:status.ne => 'accepted', :account => current_account)) %>

  <h2>Thanks for applying</h2>

  <%= partial :'mapplications/threshold_info' %>

<% else %>

  <% if @membership %>
    <script>
      $(function () {
        $('form[action$=apply] .btn-primary').prop('disabled', true)
      });
    </script>
    <div class="card mt-3">
      <div class="card-body">
        <strong>Preview of application form (you are already a member of <%=@group.name%>)</strong>
      </div>
    </div>
  <% end %>

  <div class="row" style="margin-top: 15px">
    <div class="col-sm-4 order-sm-1">
      <%= partial :'members/cocreators' %>
    </div>    
    <div class="col-sm-8 order-sm-0">

      <% if @group.intro_for_non_members %>
        <%=@group.intro_for_non_members%>
      <% end %>

      <% form_for @account, "/h/#{@group.slug}/apply", :style => 'margin-top: 20px' do |f| %>

        <script>
          $(function () {
            $('.form-group > div.col-sm-6').removeClass('col-sm-6').addClass('col-sm-8')
          })
        </script>
        <% if !current_account or @membership %>
          <%= f.text_block :name %>
          <%= f.text_block :email %>
          <%= f.image_block :picture %>  
          <% if @group.ask_for_date_of_birth %>
            <%= f.date_block :date_of_birth %>
          <% end %>
          <% if @group.ask_for_gender %>
            <%= f.select_block :gender %>
          <% end %>
          <% if @group.ask_for_poc %>
            <%= f.check_box_block :poc %>      
          <% end %>
          <% if @group.ask_for_facebook_profile_url %>
            <%= f.url_block :facebook_profile_url %>
          <% end %>
        <% end %>

        <% @group.application_questions_a.each_with_index { |q,i| %>
          <div class="form-group">
            <label class="control-label col-sm-3"><%=q%></label>
            <div class="col-sm-6">  
              <%= text_area_tag "answers[#{i}]", :class => 'form-control' %>
            </div>
          </div>  
        <% } %>

        <%= f.submit_block button_text: 'Apply' %>            

        <div class="row mt-2">
          <div class="col" style="font-style: italic">
            <%= partial :'mapplications/threshold_info' %>
          </div>
        </div>

      <% end %>      

    </div>
  </div>

<% end %>