<%= partial :group_header %>

<h2>
  <a href="/accounts/<%=@mapplication.account_id%>"><%=@mapplication.account.name%></a>'s application to <a href="/h/<%=@group.slug%>/applications"><%=@group.name%></a>
</h2>

<%= partial :'mapplications/mapplication', :locals => {:mapplication => @mapplication} %>  