
<%= partial :'groups/header' %>

<div data-pagelet-url="/h/<%=@group.slug%>/threshold">
  <%= partial :'mapplications/threshold' %>
</div>

<div class="mb-3">

  <% form_tag '', :class => 'form-inline', :style => 'display:inline', :method => 'get' do %>
    <%= text_field_tag :q, :class => 'form-control', :style => 'width: auto; display: inline-block', :placeholder => 'Search applicants', :value => params[:q] %>
    View as
    <%= select_tag :view, :class => 'form-control', :options => %w{table wall emails}.map { |view| [view.to_s.humanize.capitalize,view] }, :selected => params[:view], :onchange => 'this.form.submit()' %>
  <% end %>

</div>

<%= partial :'mapplications/mapplications' %>

<% if @group.mapplications.paused.count > 0 %>
  <a href="/h/<%=@group.slug%>/applications/paused">View <%=pluralize(@group.mapplications.paused.count, 'paused application')%></a>
<% end %>