<% unless @membership.admin? %>
  <p class="lead">You have <%=pluralize(@membership.invitations_remaining, 'invitation')%> remaining</p>
<% end %>

<% if (@membership.invitations_remaining > 0 or @membership.admin?) && (!@gathering.member_limit or @gathering.memberships.count < @gathering.member_limit) %>

  <script>
    $(function () {
      var accounts = <%=(current_account.network.where(:id.nin => @gathering.members.pluck(:id))).map { |account| {:name => account.name, :email => account.email} }.to_json%>
      $('#add-member input[name=name]').typeahead({
        source: accounts,
        afterSelect: function (selected) {
          $('#add-member input[name=email]').val(selected.email)
        }
      });
    })
  </script>

  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('input[name=name]').focus()">
    <i class="fa fa-plus-circle"></i> Add member
  </a>

  <div style="display:none" id="add-member" class="my-3">
    <% form_tag "/a/#{@gathering.slug}/add_member", :class => 'form-inline' do %>
      <%= text_field_tag :name, :class => 'form-control mr-1', :placeholder => 'Name', :autocomplete => 'off' %>
      <%= email_field_tag :email, :class => 'form-control mr-1', :placeholder => 'Email' %>
      <%= submit_tag 'Add member', :class => 'btn btn-primary' %>
    <% end %>
  </div>

<% end %>