<% if @event.persisted? %>
  <%= partial :'events/nav', :locals => {:event => @event} %>
<% end %>
<script>
  $(function () {
    var autocomplete = new google.maps.places.Autocomplete($('#event_location')[0]);
    $('#event_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })
  })
</script>
<% form_for @event, @event.new_record ? '/events/new' : "/events/#{@event.id}/edit" do |f| %>
  <%= f.text_block :name %>
  <%= f.datetime_block :start_time %>
  <%= f.datetime_block :end_time %>
  <%= f.text_block :location %>
  <%= f.email_block :email %>
  <%= f.image_block :image %>
  <%= f.text_area_block :description %>
  <%= f.number_block :facebook_event_id %>
  
  <%= f.lookup_block :organisation_id, lookup_url: "/organisations.json", placeholder: 'Search organisations', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/organisations/#{@event.organisation_id}">View organisation</a>} if @event.organisation_id) %>
  <script>
    $(function () {
      $('#event_organisation_id').change(function () {
        if ($(this).val().length > 0) {
          $('#organisation-options').show()
          $('#event_coordinator_id').attr('data-lookup-url', '/organisations/' + $('#event_organisation_id').val() + '/admins.json')
          $('#event_activity_id').attr('data-lookup-url', '/organisations/' + $('#event_organisation_id').val() + '/activities.json')
          $('#event_local_group_id').attr('data-lookup-url', '/organisations/' + $('#event_organisation_id').val() + '/local_groups.json')          
        } else {
          $('#organisation-options').hide()
        }
      })
      $('#event_organisation_id').change()
    })
  </script>
  <div id="organisation-options" style="display: none">
    <%= f.lookup_block :coordinator_id, lookup_url: "/organisations/#{@event.organisation_id}/admins.json", placeholder: 'Search accounts', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.coordinator.username}">View account</a>} if @event.coordinator) %>
    <%= f.lookup_block :activity_id, lookup_url: "/organisations/#{@event.organisation_id}/activities.json", placeholder: 'Search activities', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/activities/#{@event.activity_id}">View activity</a>} if @event.activity_id) %>
    <%= f.lookup_block :local_group_id, lookup_url: "/organisations/#{@event.organisation_id}/local_groups.json", placeholder: 'Search local groups', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/local_groups/#{@event.local_group_id}">View local group</a>} if @event.local_group_id) %>
    <%= f.lookup_block :revenue_sharer_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.revenue_sharer.username}">View account</a>} if @event.revenue_sharer_id) %>
    <%= f.number_block :revenue_sharer_revenue_share %>    
  </div>    
  <div class="border border-dark p-3 mb-3 rounded">
    <%= partial :'events/ticket_types', :locals => {:f => f} %>
    <%= f.number_block :capacity %>
    <%= f.number_block :suggested_donation %>
  </div>

  <%= f.text_area_block :feedback_questions %>
  <%= f.submit_block destroy_url: ("/events/#{@event.id}/destroy") %>
<% end %>
