<% if @event.persisted? %>
  <a class="d-inline-block mb-3" href="/events/<%=@event.slug%>"><i class="fa fa-arrow-left"></i> Return to <%=@event.name%></a>
<% end %>
<script>
  $(function () {
    var autocomplete = new google.maps.places.Autocomplete($('#event_location')[0]);
    $('#event_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
      return false;
    })
  })
</script>
<% form_for @event, @event.new_record ? '/events/new' : "/events/#{@event.slug}/edit" do |f| %>
  <%= f.text_block :name %>
  <%= f.datetime_block :start_time %>
  <%= f.datetime_block :end_time %>
  <%= f.text_block :location %>
  <%= f.lookup_block :promoter_id, lookup_url: "/places.json", placeholder: 'Search promoters', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/places/#{@event.promoter_id}">View place</a>} if @event.promoter_id) %>
  <%= f.email_block :email %>
  <%= f.image_block :image %>
  <%= f.text_area_block :description %>
  <%= f.number_block :facebook_event_id %>
  <div class="border border-dark p-3 mb-3 rounded">
    <%= partial :'events/ticket_types', :locals => {:f => f} %>
    <%= f.number_block :capacity %>
    <%= f.number_block :suggested_donation %>
  </div>
  <%= f.text_area_block :feedback_questions %>
  <%= f.submit_block destroy_url: ("/events/#{@event.slug}/destroy") %>
<% end %>
