<% if event_admin? %>
  <%= partial :'events/nav', :locals => {:event => @event} %>
<% end %>

<div class="row">
  <div class="col-sm-7">
    <h1>
      <%= @event.name %>
    </h1>
    <table class="table table-hr">
      <% if @event.organisation %>
        <tr>
          <td>Organisation</td>
          <td>
            <% if @event.organisation.image %>
              <a href="/organisations/<%=@event.organisation_id%>"><img src="<%= @event.organisation.image.thumb('500x500#').url %>" style="width: 50px"></a>              
            <% end %>
            <a href="/organisations/<%=@event.organisation_id%>"><%=@event.organisation.name%></a>
            <% if event_admin? && @event.revenue_sharer && !(organisationship = @event.organisation.organisationships.find_by(:account => @event.revenue_sharer, :stripe_connect_json.ne => nil))%>
              <span class="label label-danger">
                <i class="fa fa-warning"></i> Revenue sharer not connect to this organisation
              </span>
            <% end %>                        
          </td>
        </tr>
      <% end %>
      <% if @event.activity %>
        <tr>
          <td>Activity</td>
          <td>
            <a href="/activities/<%=@event.activity_id%>"><%=@event.activity.name%></a>
          </td>
        </tr>
      <% end %>    
      <% if @event.local_group %>
        <tr>
          <td>Local group</td>
          <td>         
            <a href="/local_groups/<%=@event.local_group_id%>"><%=@event.local_group.name%></a>
          </td>
        </tr>
      <% end %>          
      <tr>
        <td>When</td>
        <td>
          <%= @event.when_details %>
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>
          <a target="_blank" href="https://www.google.co.uk/maps?q=<%=@event.location%>"><%=@event.location%></a>
        </td>
      </tr>
      <% if @event.facebook_event_id %>
        <tr>
          <td>Facebook event</td>
          <td>
            <a target="_blank" href="http://facebook.com/events/<%= @event.facebook_event_id %>">facebook.com/events/<%=@event.facebook_event_id%></a>
          </td>
        </tr>
      <% end %>
      <% if @event.email %>
        <tr>
          <td>Enquiries to</td>
          <td>
            <a target="_blank" href="mailto:<%= @event.email %>"><%= @event.email %></a>
          </td>
        </tr>
      <% end %>
      <% if @event.event_facilitations.count > 0 %>
        <tr>
          <td>Facilitators</td>
          <td>
            <% @event.event_facilitators.order('name asc').each { |account|  %>
              <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
            <% } %>
          </td>
        </tr>          
      <% end %>        
    </table>
    <p class="lead">
      <%=@event.description%>
    </p>

    <% if @event.attendees.count > 0 %>
      <div class="my-3">  
        <h2 class="mt-3">Attending</h2>
        <div class="image-wall">
          <% @event.attendees.each { |account|  %>
            <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
          <% } %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="col-sm-5">
    <% if @event.image %>
      <img class="w-100 mb-3" src="<%=@event.image.url%>" />
    <% end %>    

    <% if params[:success] %>
      <div class="card" id="share-event">
        <h3 class="card-header bg-primary text-white">Thanks for booking!</h2>
          <div class="card-body">
            <%= partial :share_big %>
          </div>
      </div>
    <% elsif @event.sold_out? or (@event.ticket_types.count > 0 and @event.future?) %>
      <% if @event.sold_out? and !params[:ticket_type_id] %>
        <% if params[:added_to_waitlist] %>
          <div class="card">
            <h3 class="card-header bg-primary text-white">Thanks!</h2>
              <div class="card-body">
                <p class="lead mb-0">
                  We'll be in touch if we are able to issue more tickets.
                </p>
              </div>
          </div>
        <% else %>
          <%= partial :'events/waitlist' %>
        <% end %>
      <% elsif @event.organisation %>
        <%= partial :'events/purchase' %>
      <% end  %>
    <% end %>

  </div>  


</div>



<% if @event.activity && @event.activity.event_feedbacks.count > 0 %>
  <h2 class="mt-5">Feedback on <%=@event.activity.name%></h2>
  <div class="mt-3" data-pagelet-url="/activities/<%=@event.activity_id%>/show_feedback"></div>
<% end %>

<% if current_account %>
  <h2 class="mt-5">Comments</h2>
  <div class="mt-3" data-pagelet-url="/commentable?commentable_type=Event&commentable_id=<%=@event.id%>">
    <%= partial :'comments/commentable', :locals => {:commentable => @event} %>
  </div>  
<% end %>  