<div class="row no-gutters">
  <div class="col-12 col-sm-auto mr-3">
    <% if @event.image %>
      <img src="<%=@event.image.thumb('200x200').url%>" />
    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col">
    <h1>
      <%= @event.name %>
    </h1>
    <div class="mb-2">
      <% if @event.account_id == current_account.id %>
        <a class="btn btn-primary" href="/events/<%=@event.slug%>/edit"><i class="fa fa-pencil"></i> Edit event</a>
      <% end %>
    </div>
    <table class="table table-hr">
      <% if @event.promoter %>
        <tr>
          <td>Promoter</td>
          <td>
            <a href="/places/<%=@event.promoter_id%>"><%=@event.promoter.name%></a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>When</td>
        <td>
          <%= @event.when_details %>
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>
          <a target="_blank" href="https://www.google.co.uk/maps?q=<%=@event.location%>"><%=@event.location%></a>
        </td>
      </tr>
      <% if @event.facebook_event_id %>
        <tr>
          <td>Facebook event</td>
          <td>
            <a target="_blank" href="http://facebook.com/events/<%= @event.facebook_event_id %>">facebook.com/events/<%=@event.facebook_event_id%></a>
          </td>
        </tr>
      <% end %>
      <% if @event.email %>
        <tr>
          <td>Enquiries to</td>
          <td>
            <a target="_blank" href="mailto:<%= @event.email %>"><%= @event.email %></a>
          </td>
        </tr>
      <% end %>
    </table>
    <p class="lead">
      <%=@event.description%>
    </p>
  </div>
</div>
<style>
  #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
</style>
<%= partial :'maps/map', :locals => {:points => [@event]} %>
