<%= partial :'events/nav', :locals => {:event => @event} %>

<div class="row no-gutters">
  <div class="col-12 col-sm-auto mr-3">
    <% if @event.image %>
      <img src="<%=@event.image.thumb('200x200').url%>" />
    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col">
    <h1>
      <%= @event.name %>
    </h1>
    <table class="table table-hr">
      <% if @event.promoter %>
        <tr>
          <td>Promoter</td>
          <td>
            <a href="/promoters/<%=@event.promoter_id%>"><%=@event.promoter.name%></a>
          </td>
        </tr>
      <% end %>
      <% if @event.activity %>
        <tr>
          <td>Activity</td>
          <td>
            <a href="/activities/<%=@event.activity_id%>"><%=@event.activity.name%></a>
          </td>
        </tr>
      <% end %>        
      <tr>
        <td>When</td>
        <td>
          <%= @event.when_details %>
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>
          <a target="_blank" href="https://www.google.co.uk/maps?q=<%=@event.location%>"><%=@event.location%></a>
        </td>
      </tr>
      <% if @event.facebook_event_id %>
        <tr>
          <td>Facebook event</td>
          <td>
            <a target="_blank" href="http://facebook.com/events/<%= @event.facebook_event_id %>">facebook.com/events/<%=@event.facebook_event_id%></a>
          </td>
        </tr>
      <% end %>
      <% if @event.email %>
        <tr>
          <td>Enquiries to</td>
          <td>
            <a target="_blank" href="mailto:<%= @event.email %>"><%= @event.email %></a>
          </td>
        </tr>
      <% end %>
      <% if @event.event_facilitations.count > 0 %>
        <tr>
          <td>Facilitators</td>
          <td>
            <% ([@event.leader] + @event.event_facilitators.order('name asc')).compact.uniq.each { |account|  %>
              <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
            <% } %>
            <% if event_admin? && !(promotership = @event.promoter.promoterships.find_by(account: @event.leader))%>
              <span class="label label-danger">
                <i class="fa fa-warning"></i> Lead facilitator not connect to this promoter
              </span>
            <% end %>            
          </td>
        </tr>          
      <% end %>        
    </table>
    <p class="lead">
      <%=@event.description%>
    </p>
  </div>
</div>



<style>
  #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
</style>
<%= partial :'maps/map', :locals => {:points => [@event]} %>


<% if params[:success] %>
  <div class="card" id="share-event">
    <h3 class="card-header bg-primary text-white">Thanks for booking!</h2>
      <div class="card-body">
        <%= partial :share_big %>
      </div>
  </div>
<% elsif @event.sold_out? or (@event.ticket_types.count > 0 and @event.future?) %>
  <% if @event.sold_out? and !params[:ticket_type_id] %>
    <% if params[:added_to_waitlist] %>
      <div class="card">
        <h3 class="card-header bg-primary text-white">Thanks!</h2>
          <div class="card-body">
            <p class="lead mb-0">
              We'll be in touch if we are able to issue more tickets.
            </p>
          </div>
      </div>
    <% else %>
      <%= partial :'events/waitlist' %>
    <% end %>
  <% elsif @event.promoter %>
    <%= partial :'events/purchase' %>
  <% end  %>
<% end  %>
