
<%= partial :'events/nav', :locals => {:event => @event} %>

<% h = @event.ticket_types.where(hidden: true); if h.count > 0 %>

  <h3>Links to hidden ticket types</h3>
  <ul>
    <% h.each { |ticket_type| %>
      <li><a href="/events/<%=@event.id%>?ticket_type_id=<%=ticket_type.id%>"><%=ticket_type.name%></a></li>
    <% } %>    
  </ul>
<%  end %>

<pre>
  <%= Account.where(:id.in => @event.tickets.pluck(:account_id)).map { |account| "#{account.name} &lt;#{account.email}&gt;" }.join(', ') %>
</pre>

<script>
  $(function () {
    $('#tickets').dataTable({paging: false, searching: false});
  })
</script>
<table class="table" id="tickets">
  <thead>
    <tr>      
      <th>Name</th>
      <th>Email</th>
      <th>Ticket description/type</th>
      <th>Price paid</th>
      <th>Ticket ID</th>
      <th>Feedback</th>
      <th></th>
    </tr>
  </thead>
  <% @event.tickets.sort_by { |ticket| [(ticket.ticket_type_id or ''), (ticket.account.name.try(:downcase) or ''), (ticket.account.email or '')] }.each { |ticket| %>
    <tr>
      <td>
        <%= ticket.account.name  %>
      </td>
      <td>
        <%= ticket.account.email  %>
      </td>      
      <td>
        <% if ticket.ticket_type %>
          <%= ticket.ticket_type.name %>
        <% else %>
          <%= ticket.description %>
        <% end %>
      </td>      
      <td>
        <% if ticket.price %>
          <%=number_to_currency ticket.price, unit: '£', precision: 0%>
        <% end %>
        <% if ticket.order && ticket.order.incomplete? %><i title="Payment processing" class="ml-1 fa fa-spin fa-circle-o-notch"></i><% end %>
      </td>            
      <td>
        <%= ticket.id %>
      </td>     
      <td>
        <% if event_feedback = @event.event_feedbacks.find_by(account: ticket.account) %>
          <a href="/event_feedbacks/<%=event_feedback.id%>">
            <% if event_feedback.rating %>
              <% event_feedback.rating.times do %><i class="fa fa-star"></i><% end %>
            <% else %>
              <%=event_feedback.id%>
            <% end %>
          </a>
        <% else %>
          <input type="text" style="width: 8em" class="form-control" value="<%=ENV['BASE_URI']%>/events/<%=@event.id%>/give_feedback?sign_in_token=<%=ticket.account.sign_in_token%>" />
        <% end %>
      </td>      
      <td>
        <a class="btn btn-danger" href="/events/<%=@event.id%>/tickets/<%=ticket.id%>/destroy" data-confirm="Are you sure you want to delete this ticket? Please note that deleting a ticket does not refund the associated order - for that, go to Orders."><i class="fa fa-times"></i></a>
      </td>
    </tr>
  <% } %>
</table>


  <h3 class="mt-5">Create ticket</h3>

  <% form_for @event.tickets.new, "/events/#{@event.id}/create_ticket" do |f| %>
    <%= f.text_block :name %>
    <%= f.text_block :email %>
    <%= f.select_block :ticket_type_id, options: @event.ticket_types.map { |ticket_type| [ticket_type.name, ticket_type.id] } %>
    <%= f.number_block :price %>
    <%= f.submit_block %>
  <% end %>