<div class="quality" data-quality-id="<%=quality.id%>" style="z-index: 99; margin-bottom: 10px; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%=quality.image.try(:url)%>'); background-size: cover; background-position: center center; position: relative;">  
  <div style="position: absolute; bottom: 10px; left: 10px; color: white">
    <h3 style="color: white; margin-top: 0; margin-bottom: 0; position: relative">
      <a target="_blank" href="<%=quality.link%>"><%=quality.name%></a>
    </h3>
    <div data-pagelet-url="/qualities/<%=quality.id%>/cultivators">
      <%= partial :'qualities/cultivators', :locals => {:quality => quality}  %>
    </div>
  </div>  
  <div style="position: absolute; right: 10px; bottom: 10px; color: white">
    <a title="Edit" href="/h/<%=@group.slug%>/qualities/<%=quality.id%>/edit"><i class="fa fa-pencil"></i></a>      
  </div>  
</div>