
<table class="table">
  <tr>
    <td colspan="4">
      <h2>Incomings</h2>
    </td>
  </tr>    
  <tr>
    <th>Item</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td colspan="4">
      <em>Tiers</em>
    </td>
  </tr>
  <% @group.tiers.each { |tier| %>
    <tr>
      <td>
        <%= tier.name %> x <%=tier.tierships.count%>                
      </td>
      <td><%=@group.currency_symbol%><%=tier.cost*tier.tierships.count%></td>      
      <td></td>
      <td></td>
    </tr>
  <% } %>
  <tr>
    <td colspan="4">
      <em>Accommodation</em>
    </td>
  </tr>    
  <% @group.accoms.select { |accom| accom.accomships.count > 0 }.each { |accom| %>
    <tr>
      <td>
        <%= accom.name %>
      </td>
      <td><%=@group.currency_symbol%><%=accom.cost%></td>      
      <td></td>
      <td></td>
    </tr>
  <% } %>   
  <tr>
    <td colspan="4">
      <em>Transport</em>
    </td>
  </tr>   
  <% @group.transports.each { |transport| %>
    <tr>
      <td>
        <%= transport.name %> x <%=transport.transportships.count%>                
      </td>
      <td><%=@group.currency_symbol%><%=transport.cost*transport.transportships.count%></td>      
      <td></td>
      <td></td>
    </tr>
  <% } %>    
  <tr>   
    <th></th>      
    <th><%=@group.currency_symbol%><%=@group.incomings%></th>    
    <th></th>
    <th></th>
  </tr>    

  <tr>
    <td colspan="4">
      <h2>Outgoings</h2>

      <% form_tag "/spends/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'margin-top: 10px' do %>
        <%= text_field_tag :item, :required => true, :class => 'form-control', :style => 'width: 10em', :placeholder => 'Item' %>          

        <div class="input-group">
          <span class="input-group-addon"><%=@group.currency_symbol%></span>
          <%= number_field_tag :amount, :required => true, :class => 'form-control', :style => 'width: 8em', :placeholder => 'Amount' %>
        </div>

        <%= submit_tag 'Submit expense', :class => 'btn btn-primary' %>
      <% end %>  

    </td>
  </tr>

  <tr>
    <th>Item</th>
    <th>Amount</th>
    <th>Paid by</th>
    <th>Reimbused?</th>
  </tr> 

  <% if @group.processed_via_huddl > 0 %>
    <tr>   
      <td>5% transaction fees on <%=@group.currency_symbol%><%=@group.processed_via_huddl%> processed via <%=ENV['SITE_TITLE']%></td>      
      <td><%=@group.currency_symbol%><%="#{'%.2f' % (0.05*@group.processed_via_huddl)}"%></td>      
      <td></td>      
      <td></td>      
    </tr>   
  <% end %>

  <% @group.spends.order('reimbursed asc, amount desc').each { |spend| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a data-confirm="Delete this spend?" class="pagelet-trigger" href="/spends/<%=spend.id%>/destroy">
            <%=spend.item%>
          </a>
        <% else %>
          <%=spend.item%>
        <% end %>                 
      </td>
      <td><%=@group.currency_symbol%><%=spend.amount%></td>
      <td><%=spend.account.name%></td>
      <td>
        <% if @membership.admin? %>   

          <% if spend.reimbursed %>
            <i style="cursor: pointer" class="fa fa-check" onclick="$(this).hide().next().show().find('input').click()"></i>
          <% end %>  
          <% form_tag "/spends/#{spend.id}/reimbursed", :style => ('display:none' if spend.reimbursed) do %>
            <%= check_box_tag :reimbursed, :value => true, :checked => spend.reimbursed, :onclick => '$(this.form).submit()' %>
          <% end %>       

        <% else %>
          <% if spend.reimbursed %>
            <i class="fa fa-check"></i>
          <% end %>          
        <% end %>
      </td>
    </tr>
  <% } %>
  <tr>   
    <th></th>      
    <th><%=@group.currency_symbol%><%=@group.spends.pluck(:amount).sum + (0.05*@group.processed_via_huddl).round%></th>
    <th></th>
    <th></th>       
  </tr>    
</table>