<a href="/mailer"><i class="fa fa-arrow-left"></i> Back to all mails</a>
<% if @pmail.persisted? and !@pmail.sent_at %>
  <a href="/mailer/<%=@pmail.id%>/send_test" class="btn btn-primary">Send test to <%=current_account.email%></a>
  <a href="/mailer/<%=@pmail.id%>/send" data-confirm="Are you sure? Make sure you've saved any final changes." class="btn btn-primary">Send</a>
<% end %>

<style>
  #pmail_body { height: 30rem }
</style>
<script>
  $(function () {

    $('#pmail_body').each(function () {
      var textarea = this;
      var enableButton = $('<a class="btn btn-secondary btn-sm" style="margin-bottom: 5px" href="javascript:;"><i class="fa fa-font"></i> Enable rich text editor</a>')
      $(enableButton).insertBefore(textarea).click(function () {
        var editor = textboxio.replace(textarea, {
          css: {
            stylesheets: ['https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css']
          },
          paste: {
            style: 'plain'
          },
          images: {
            allowLocal: false
          }
        });
        if (textarea.form)
          $(textarea.form).submit(function () {
            if ($(editor.content.get()).text().trim() == '')
              editor.content.set(' ')
          })
        $(enableButton).hide();
      })
    });
  })
</script>

<div class="container-fluid mt-3">

  <% form_for @pmail, @pmail.new_record? ? "/mailer/new" : "/mailer/#{@pmail.id}/edit", :multipart => true do |f| %>
    <%= f.text_block :to %>
    <% if @pmail.to && !@pmail.sent_at %>
      <div class="my-3">          
        <% begin; c = eval("#{@pmail.to}.where(:unsubscribed.ne => true).count") %>
          <span style="font-size: 125%" class="badge badge-success">Sending to <%= pluralize(c, 'person') %></span>
        <% rescue %>
          <span style="font-size: 125%" class="badge badge-danger">Invalid query</span>
        <% end %>
      </div>
    <% end %>
    <%= f.text_block :from %>
    <%= f.text_block :subject %>
    <%= f.text_area_block :body %>
    <%= f.check_box_block :no_layout %>
    <% if !@pmail.sent_at %>
      <%= f.submit_block destroy_url: "/mailer/#{@pmail.id}/destroy", button_text: 'Save' %>
    <% end %>
  <% end %>

</div>
