<div class="row no-gutters">

  <div class="col-12 col-sm-auto mr-3">
    <% if @room.image %>

      <% if @room.account_id == current_account.id %>
        <% room_attachment = @room.room_attachments.order('created_at asc').first %>
        <a data-confirm="Are you sure you want to delete this image?" href="/rooms/<%=@room.id%>/room_attachments/<%=room_attachment.id%>/destroy">
          <img src="<%=room_attachment.image.thumb('200x200#').url%>" />
        </a>
      <% else %>
        <img src="<%=@room.image.thumb('200x200#').url%>" />
      <% end %>

    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col">

    <h1>
      <%= @room.name %>
    </h1>

    <% if @room.account_id == current_account.id %>
      <div class="mb-2">
        <a class="btn btn-primary" href="/rooms/<%=@room.id%>/edit"><i class="fa fa-pencil"></i> Edit room</a>
      </div>
    <% end %>    

    <table class="table table-hr">

      <tr>
        <td>Location</td>
        <td>
          <%=@room.location.gsub(/#{@room.name}[\w ]*,/i,'')%>
        </td>  
      </tr> 

      <tr>
        <td>Listed by</td>
        <td>
          <a href="/u/<%=@room.account.username%>"><%=@room.account.name%></a>
        </td>  
      </tr> 

      <tr>
        <td>Availability</td>          
        <td>
          <%= partial :'rooms/periods', :locals => {:room => @room} %>
        </td>
      </tr>

    </table>

    <p class="lead">
      <%=@room.description.gsub("\n",'<br />')%>
    </p>    

    <%= partial :'rooms/images', :locals => {:room => @room} %>


  </div> 
</div>

<style>
  #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
</style>    
<%= partial :'maps/map', :locals => {:points => [@room]} %>