<% group = (comment.commentable.respond_to?(:group) ? comment.commentable.group : nil) %>

<% if comment.first_in_post.subject %>
  <h1 style="margin-top: 0">
    <%=comment.first_in_post.subject%>
  </h1>
<% end %>

<p><%=comment.description%></p>   

<p><%=comment.body.gsub("\n","<br />")%></p>
<% if comment.file %>
  <p>
    <% if %w{png jpg gif jpeg}.any? { |x| comment.file.name.downcase.ends_with? ".#{x}" } %>
      <img style="max-width: 100%;" src="<%=comment.file.url%>">
    <% else %>
      <a href="<%=comment.file.url%>"><%=comment.file.name%></a>
    <% end %>
  </p>
<% end %>

<% close_divs = ''; comment.post.comments.order_by(:created_at.desc)[1..-1].each { |comment| %>          
  <p>On <%=comment.created_at%>, <%=comment.account.name%> wrote:</p>
  <%= '<div style="border-left: 1px solid #ccc; margin-left: 1em; padding-left: 1em">' %>

  <p><%=comment.body.gsub("\n","<br />")%></p>
  <% if comment.file %>
    <p>
      <% if %w{png jpg gif jpeg}.any? { |x| comment.file.name.downcase.ends_with? ".#{x}" } %>
        <img style="max-width: 100%;" src="<%=comment.file.url%>">
      <% else %>
        <a href="<%=comment.file.url%>"><%=comment.file.name%></a>
      <% end %>
    </p>
  <% end %>  

  <% close_divs << '</div>' %>
<% } %>
<%= close_divs %> 

<p style="font-size: 13px">To continue the conversation,
  <a href="
  <% if group %>
    <%="#{ENV['BASE_URI']}/a/#{group.slug}/#{comment.commentable_type.underscore.pluralize}/#{comment.commentable_id}#post-#{comment.post_id}"%>
  <% else %>
    <%="#{ENV['BASE_URI']}/#{comment.commentable_type.underscore.pluralize}/#{comment.commentable_id}#post-#{comment.post_id}"%>
  <% end %>
     ">
    view the post</a>

  or reply to this email.</p>

<p style="font-size: 12px;">
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/posts/<%=comment.post_id%>/unsubscribe">Unwatch this post</a>
  <% if comment.commentable.is_a?(Team) %>
    or
    <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/a/<%=group.slug%>/teams/<%=comment.commentable_id%>/unsubscribe">turn off email notifications for this team</a>
  <% end %>
</p>

