
<h1 style="margin-top: 0">
  <a style="text-decoration: none" href="<%=ENV['BASE_URI']%>/h/<%=group.slug%>"><%=group.name%></a>
</h1>

<p><%=notification.sentence%></p>

<%=comment.body.gsub("\n","<br />")%>

<% close_divs = ''; comment.post.comments.order_by(:created_at.desc)[1..-1].each { |comment| %>          
  On <%=comment.created_at%>, <%=comment.account.name%> &lt;<a href="mailto:<%=comment.account.email%>"><%=comment.account.email%></a>&gt; wrote:
  <%= '<div style="border-left: 1px solid #ccc; margin-left: 1em; padding-left: 1em">' %>
  <%=comment.body.gsub("\n","<br />")%>
  <% close_divs << '</div>' %>
<% } %>
<%= close_divs %> 

<p style="font-size: 13px">To continue the conversation, <a href="<%=notification.link[1]%>">view the post</a> or reply to this email.</p>

<p style="font-size: 12px;">
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/posts/<%=comment.post_id%>/unsubscribe">Unwatch this post</a>
  <% if comment.commentable.is_a?(Team) %>
    or
    <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/h/<%=group.slug%>/teams/<%=comment.commentable_id%>/unsubscribe">turn off email notifications for this team</a>
  <% end %>
</p>

