Hi %recipient.firstname%,
<br /><br />
Thanks for attending <%= event.name %>.
<br /><br />
Would you take a minute to <a href="<%=ENV['BASE_URI']%>/events/<%=event.id%>/give_feedback?sign_in_token=%recipient.token%">visit this page and give us feedback on the event</a>, so that we can keep improving?
<br /><br />
With thanks,<br />
<%= event.organisation.name %>

<p style="font-size: 12px; color: #aaa">  
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit?sign_in_token=%recipient.token%">Don't send me requests for feedback</a>
  &middot;
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit?sign_in_token=%recipient.token%">Don't send me email notifications of any kind</a>  
</p>