<p>
  <a href="<%=ENV['BASE_URI']%>/accounts/<%=habit_completion_like.account_id%>"><%=habit_completion_like.account.name%></a> liked your completion of <a href="<%=ENV['BASE_URI']%>/habits/<%=habit.id%>"><%=habit.name%></a> on <%=habit_completion.date%>. <a href="<%=ENV['BASE_URI']%>/habits">View habits</a>
</p>

<% if habit_completion.comment %>
  <blockquote><%=habit_completion.comment%></blockquote>
<% end %>

<p style="font-size: 12px;"><a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Turn off email notifications</a></p>
