<p>
  <strong><%=messenger.name%></strong> sent you a message via Autopia.  
</p>

<p><%=message.body.gsub("\n","<br />")%></p>

<p style="font-size: 13px"><a href="<%=ENV['BASE_URI']%>/messages/<%=messenger.id%>">View message history</a></p>

<p style="font-size: 12px; color: #aaa">
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Don't send me email notifications of messages</a>
  &middot;
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Don't send me email notifications of any kind</a>
</p>
