<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <style>
      p, ul, ol, input, select, .form-control, body, blockquote { font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif }
      h1, h2, h3, h4, h5, h6, .h { font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
      a, a:hover, a:focus { color: #CE2828 !important; }
    </style>    
  </head>
  <body>

<div style="background: #FDF8FD; padding: 20px; padding-top: 0">

<div style="text-align: center">
	<a href="https://<%=ENV['DOMAIN']%>"><img src="/images/h-circle.png" style="width: 70px; position: relative; top: 35px" /></a>
</div>

<div style="max-width: 600px; margin: 0 auto; background: white">
<div style="padding: 20px; padding-top: 35px">

    <h1 style="margin-top: 0">
<a style="text-decoration: none" href="https://<%=ENV['DOMAIN']%>/h/<%=group.slug%>"><%=group.name%></a></h1>

    <p><%=notification.sentence%>. <a href="<%=notification.link[1]%>"><%=notification.link[0]%></a></p>
    <%=notification.more%>
    <p>Best,<br /><%=ENV['SIGNATURE']%></p>
    <p style="font-size: 12px;"><a style="color: #aaa !important" href="https://<%=ENV['DOMAIN']%>/accounts/edit">Edit your profile to stop these emails</a></p>

</div>
</div>
</div>

  </body>
</html>