
<h1 style="margin-top: 0">
  <a style="text-decoration: none" href="<%=notification.circle_url%>"><%=circle.name%></a>
</h1>

<p><%=notification.sentence%>. <a href="<%=notification.link[1]%>"><%=notification.link[0]%></a></p>

<% if notification.circle.is_a?(Group) %>
  <p style="font-size: 12px;"><a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/a/<%=circle.slug%>/unsubscribe">Turn off email notifications of key events in <%=circle.name%></a></p>
<% end %>
