
<h1 style="margin-top: 0">
  <a style="text-decoration: none" href="<%=notification.circle_url%>"><%=circle.name%></a>
</h1>

<p><%=notification.sentence%>. <a href="<%=notification.link[1]%>"><%=notification.link[0]%></a></p>


<p style="font-size: 12px; color: #aaa">
  Unsubscribe from
  <% if notification.circle.is_a?(Gathering) %>
    <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/a/<%=circle.slug%>/unsubscribe">this gathering</a>
    &middot;
  <% end %>  
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">all emails</a>            
</p>

