<p>
  You and <%=viber.name%> have mutual vibes!
  <a href="<%=ENV['BASE_URI']%>/accounts/<%=viber.id%>">View <%=viber.firstname%>'s profile</a>
</p>

<p style="font-size: 12px;">
  <a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Don't send me email notifications of any kind</a>
</p>
