<p>
  You and <%=vibe.viber.name%> are vibing!
  <a href="<%=ENV['BASE_URI']%>/accounts/<%=vibe.viber_id%>">View <%=vibe.viber.firstname%>'s profile</a>
</p>

<p style="font-size: 12px;"><a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Turn off email notifications</a></p>
