<p>
  You and <%=viber.name%> have vibes!
  <a href="<%=ENV['BASE_URI']%>/accounts/<%=viber.id%>">View <%=viber.firstname%>'s profile</a>
</p>

<p style="font-size: 12px;"><a style="color: #aaa !important" href="<%=ENV['BASE_URI']%>/accounts/edit">Turn off email notifications</a></p>
