<div style="margin: 10px 0">
  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> List item</a>
  <div style="display: none">
    <%= partial :'wishlists/build_wishlist_item' %>  
  </div>
</div>      

<table class="table"> 
  <tr>
    <th>Item</th>
    <th>Team</th>
    <th>Requested by</th>
    <th>Provided by</th>
  </tr> 

  <% @wishlist.wishlist_items(true).order('team_id asc, amount desc').each { |wishlist_item| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a href="/wishlists/<%=@wishlist.id%>/wishlist_items/<%=wishlist_item.id%>/edit">
            <%=wishlist_item.name%>
          </a>
        <% else %>
          <%=wishlist_item.name%>
        <% end %>                
      </td>   
      <td>
        <% if wishlist_item.team %>
          <a href="/h/<%=@group.slug%>/teams/<%=wishlist_item.team_id%>"><%=wishlist_item.team.name%></a>
        <% end %>
      </td>      
      <td><%=wishlist_item.account.name%></td>
      <td>
        <% if wishlist_item.provided_by %>
          <a href="javascript:;" onclick="$(this).hide().next().show()"><%= wishlist_item.provided_by.name %></a>
        <% end %>  
        <% form_tag "/wishlists/#{@wishlist.id}/wishlist_items/#{wishlist_item.id}/provided", :style => ('display:none' if wishlist_item.provided_by) do %>
          <%= select_tag :provided_by_id, :class => 'form-control', :options => [''] + @group.members.map { |account| [account.name, account.id] }, :selected => wishlist_item.provided_by.try(:id), :onchange => '$(this.form).submit()' %>
        <% end %>  
      </td>
    </tr>
  <% } %>

</table>
