<%= partial :group_header %>

<h2>
  <%=@wishlist.name%>
</h2>

<a style="border-bottom: 1px dotted; text-decoration: none" href="/h/<%=@group.slug%>/wishlists/<%=@wishlist.id%>/edit">
  Edit wishlist
</a>

<% if @wishlist.description %>
  <div style="margin: 15px 0">
    <%= @wishlist.description %>
  </div>
<% end %>

<div data-pagelet-url="/h/<%=@group.slug%>/wishlists/<%=@wishlist.id%>">
  <%= partial :'wishlists/wishlist', :locals => {:wishlist => @wishlist} %>
</div>