<%= partial :group_header %>

<div style="margin: 10px 0">
  <a class="btn btn-primary" href="/h/<%=@group.slug%>/wishlists/new"><i class="fa fa-plus-circle"></i> Create a wishlist</a>
</div>

<% @group.wishlists.each { |wishlist| %>
  <h2>
    <a href="/h/<%=@group.slug%>/wishlists/<%=wishlist.id%>">
      <%=wishlist.name%>
    </a>  
  </h2>
<% } %>