<% form_for @activity, @activity.new_record ? '/activities/new' : "/activities/#{@activity.id}/edit" do |f| %>
  <%= f.text_block :name %>
  <%= f.email_block :email %>
  <%= f.url_block :website %>
  <%= f.image_block :image %>
  <%= f.lookup_block :organisation_id, lookup_url: "/organisations.json", placeholder: 'Search organisations', selected_link: (%Q{<a class="d-inline-block mt-1" target="_blank" href="/organisations/#{@activity.organisation_id}">View organisation</a>} if @activity.organisation_id) %>
  <script>
    $(function () {
      $('#activity_organisation_id').change(function () {
        if ($(this).val().length > 0) {
          $('#organisation-options').show()
        } else {
          $('#organisation-options').hide()
        }
      })
      $('#activity_organisation_id').change()
    })
  </script>

  <%= f.submit_block destroy_url: ("/activities/#{@activity.id}/destroy") %>
<% end %>
