<%= partial :'organisations/nav', :locals => {:organisation => @organisation} %>

<% if @pmail.persisted? and !@pmail.sent_at %>
  <a href="/organisations/<%=@organisation.id%>/pmails/<%=@pmail.id%>/send_test" class="btn btn-primary">Send test to <%=current_account.email%></a>
  <a href="/organisations/<%=@organisation.id%>/pmails/<%=@pmail.id%>/send" data-confirm="Are you sure? Make sure you've saved any final changes." class="btn btn-primary">Send</a>
<% end %>

<style>
  #pmail_body { height: 30rem }
</style>
<script type="text/javascript">
  $(function () {
    var simplemde = new SimpleMDE({element: $("#pmail_body")[0], spellChecker: false});
  });
</script>

<div class="container-fluid my-3">

  <% form_for @pmail, @pmail.new_record? ? "/organisations/#{@organisation.id}/pmails/new" : "/organisations/#{@organisation.id}/pmails/#{@pmail.id}/edit", :multipart => true do |f| %>

    <%
    to_options = []
    to_options << ["Everyone in #{@organisation.name} (#{@organisation.subscribed_members.where(:unsubscribed.ne => true).count})", 'all'] if organisation_admin?

    activities = organisation_admin? ? @organisation.activities : @organisation.activities.where(:id.in => current_account.activityships.where(admin: true).pluck(:activity_id))
    activity_options = (activities.count > 0 ? activities.order('name asc').map { |activity| [
          ["#{activity.name} (#{activity.subscribed_members.where(:id.nin => @organisation.unsubscribed_members.pluck(:id)).where(:unsubscribed.ne => true).count})", "activity:#{activity.id}"]
        ] }.sum : [])        
    to_options += activity_options

    local_groups = organisation_admin? ? @organisation.local_groups : @organisation.local_groups.where(:id.in => current_account.local_groupships.where(admin: true).pluck(:local_group_id))
    local_group_options = (local_groups.count > 0 ? local_groups.order('name asc').map { |local_group| [
          ["#{local_group.name} (#{local_group.subscribed_members.where(:id.nin => @organisation.unsubscribed_members.pluck(:id)).where(:unsubscribed.ne => true).count})", "local_group:#{local_group.id}"]
        ] }.sum : [])    
    to_options += local_group_options
  %>  

    <%= f.select_block :to_option, options: to_options, selected: @pmail.to_selected %>

    <%= f.text_block :from %>
    <%= f.text_block :subject %>
    <%= f.text_area_block :body %>

    <% if !@pmail.sent_at %>
      <%= f.submit_block destroy_url: "/organisations/#{@organisation.id}/pmails/#{@pmail.id}/destroy", button_text: 'Save' %>
    <% end %>  

    <div class="card mt-3">
      <h5 class="card-header bg-primary text-white"><%=@organisation.name%>'s files</h5>
      <div class="card-body">

        <div data-pagelet-url="/organisations/<%=@organisation.id%>/attachments"></div>

        <%= f.file_block :file %>

        <%= f.submit_block button_text: 'Upload' %>

      </div>
    </div>

  <% end %>

</div>

