<a href="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>">   
  <img title="<%=account.name%>" src="<%=account.picture ? account.picture.thumb('400x400').url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
</a>
<strong><%= account.name %></strong>
<div>
  <%= [
    ('<i title="Admin" class="fa fa-key"></i>' if defined?(membership) and membership.admin?),
    account.gender_symbol,
    account.age,
    account.poc ? '<span style="font-weight: bold" title="Identifies as a person of colour">P</span>' : nil,
    (membership.shifts.map { |shift| %Q{<a href="/h/#{@group.slug}/rotas"><i title="#{shift.rota.name} shift" class="fa fa-hand-paper-o"></i></a>} }.join(' ') if defined?(membership) and membership and membership.shifts.count > 0)
    ].compact.join(' &middot; ') %>
</div>
