<% if @membership %>
  
  <% tier_notice = (@group.tiers.count > 0 and !@membership.tiership) %>
  <% accom_notice = (@group.accoms.count > 0 and !@membership.accomship) %>
  <% payment_notice = (@membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution))) %>
  
  <% if tier_notice or accom_notice or payment_notice %>
  
    <div style="box-shadow: 2px 2px 5px #ddd">
      <h5 style="background: #CE2828; color: white; margin: 0; padding: 10px">Your todos</h5>
      <div style="padding: 10px">
        
        <ul class="fa-ul">
        
          <% if tier_notice %>
            <li>
              <i class="fa fa-li fa-square-o"></i>
              Join a <a href="/h/<%=@group.slug%>/tiers">tier</a>
            </li>
          <% end %>
          
          <% if accom_notice %>
            <li>
              <i class="fa fa-li fa-square-o"></i>
              Select your <a href="/h/<%=@group.slug%>/accoms">accommodation</a>
            </li>
          <% end %>
          
          <% if payment_notice %>
            <li>
              <i class="fa fa-li fa-square-o"></i>
              Make a payment:
              You owe <%=@group.currency_symbol%><%= @membership.requested_contribution - @membership.paid%>. 
              (You've paid <%=@group.currency_symbol%><%=@membership.paid or 0%> of a requested contribution of <%=@group.currency_symbol%><%=@membership.requested_contribution%>.)          
              <div style="margin-top: 10px">
                <%= partial :pay, :locals => {:amount => (@membership.requested_contribution - @membership.paid)} %>
              </div>
            </li>
          <% end %>
        
        </ul>
        
      </div>
    </div>
  
  <% end %>

<% end %>