<% if activity.attendances.count > 0 %>
  <span data-toggle="tooltip" title="<%=activity.attendances.map { |attendance| attendance.account.name }.join('<br />')%>">
    <% if activity.attendances.find_by(account: current_account) %>
      <% if activity.attendances.count == 1 %>
        You're interested
      <% else %>
        You and <%=pluralize(activity.attendances.count - 1,'other')%> interested
      <% end %>
    <% else %>
      <%=pluralize(activity.attendances.count,'person')%> interested
    <% end %>
  </span>
<% end %>
<% if activity.attendances.find_by(account: current_account) %>
  <a class="pagelet-trigger" title="No longer interested" href="/activities/<%=activity.id%>/unattend"><i class="fa fa-times"></i></a>    
<% else %>
  <a class="pagelet-trigger" title="Interested"  href="/activities/<%=activity.id%>/attend"><i class="fa fa-thumbs-o-up"></i></a>
<% end %>