<% if activity.attendances.count > 0 %>
  <span><%=pluralize(activity.attendances.count,'person')%> interested</span>
<% end %>
<% if activity.attendances.find_by(account: current_account) %>
  <a class="pagelet-trigger" title="No longer interested" href="/activities/<%=activity.id%>/unattend"><i class="fa fa-times"></i></a>    
<% else %>
  <a class="pagelet-trigger" title="Interested"  href="/activities/<%=activity.id%>/attend"><i class="fa fa-thumbs-o-up"></i></a>
<% end %>
<% if activity.space_id %>      
  &middot;
  <a title="Unschedule" href="/activities/<%=activity.id%>/unschedule"><i class="fa fa-calendar-minus-o"></i></a>
<% end %>
&middot;
<a title="Edit" href="/activities/<%=activity.id%>/edit"><i class="fa fa-pencil"></i></a>