

<% if @group.booking_limit %>
  <p>
    <% if booking_lift = @group.booking_lifts.find_by(date: date) %>
      No limit on this day
      <% if @membership.admin? %>
        &middot; 
        <a href="/booking_lifts/<%=booking_lift.id%>/destroy">Reinstate limit</a>
      <% end %>
    <% else %>
      <%= @group.bookings.where(:date => date).count %> of <%= pluralize(@group.booking_limit,'place') %> taken    
      <% if @membership.admin? %>
        &middot;
        <a href="/h/<%=@group.slug%>/create_booking_lift?date=<%=date.to_s(:db)%>">Lift limit</a>
      <% end %>
    <% end %>
  </p>
<% end %> 

<% if (!@membership.booking_limit or @membership.bookings.count < @membership.booking_limit) and (!@group.booking_limit or @group.booking_lifts.find_by(date: date) or @group.bookings.where(date: date).count < @group.booking_limit) and !@membership.bookings.find_by(date: date) %>
  <a style="margin-bottom: 10px; display: inline-block" class="btn btn-primary" href="/h/<%=@group.slug%>/book?date=<%=date.to_s(:db)%>">Book</a>
<% end %>

<ul>
  <% @group.bookings.where(:date => date).each { |booking| %>
    <li>
      <% if (booking.account == current_account) or @membership.admin? %>
        <a data-confirm="Remove this person from this booking?" href="/bookings/<%=booking.id%>/destroy">
          <%=booking.account.name%>
        </a>
      <% else %>        
        <%=booking.account.name%>
      <% end %>
    </li>
  <% } %>
</ul>
