<% if current_account %>
  <% unless current_account.id == account.id %>

    <%
    follow = current_account.follows_as_follower.find_by(followee: account)
    state_options = {
      'not_following' => 'Not following',
      'follow_without_subscribing' => 'Following, emails off',
      'follow_and_subscribe' => 'Following, emails on'
      }    
    current_state = follow ? (follow.unsubscribed ? 'follow_without_subscribing' : 'follow_and_subscribe') : 'not_following'
    text = state_options[current_state]
    action_options = {
      'not_following' => 'Unfollow',
      'follow_without_subscribing' => 'Follow. emails off',
      'follow_and_subscribe' => 'Follow, emails on'
      }    
  %>

    <div class="dropdown">
      <button class="btn <%= btn_class if defined?(btn_class) %> <%= current_state == 'not_following' ? 'btn-outline-primary' : 'btn-primary' %> dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= text %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% action_options.invert.each { |text,value| %>
          <a class="pagelet-trigger dropdown-item" href="/follow/<%=account.id%>?f=<%=value%>"><%=text%></a>
        <% } %>
      </div>
    </div>          

  <% end %>
<% end %>