
<%= partial :group, :object => @group  %>


<% if @membership %>

  <div style="font-size: 13px">
    <%= ul_nav 'nav nav-pills', [
      ["Members (#{@group.memberships.count})", "/h/#{@group.slug}"],
      ["Applications (#{@group.mapplications.pending.count})", "/h/#{@group.slug}/applications"],      
      ["Timetable (#{@group.activities.count})", "/h/#{@group.slug}/timetable"],
      ["Teams (#{@group.teams.count})", "/h/#{@group.slug}/teams"],
      ["Rotas (#{@group.rotas.count})", "/h/#{@group.slug}/rotas"],        
      ["Tiers (#{@group.tiers.count})", "/h/#{@group.slug}/tiers"],    
      ["Accommodation (#{@group.accoms.count})", "/h/#{@group.slug}/accoms"],
      ["Transport (#{@group.transports.count})", "/h/#{@group.slug}/transports"],        
      ["Spending (#{@group.spends.count})", "/h/#{@group.slug}/spending"],    
      ["Newsfeed", "/h/#{@group.slug}/newsfeed"],
      (["Facebook group", @group.facebook_group] if @group.facebook_group),    
      ] %>
  </div>

  <% if @group.tiers.count > 0 and !@membership.tiership %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> No tier</h3>
      </div>
      <div class="panel-body">
        <p>Please select a <a href="/h/<%=@group.slug%>/tiers">tier</a>.
      </div>
    </div>
  <% end %>

  <% if @group.accoms.count > 0 and !@membership.accomship %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> No accommodation</h3>
      </div>
      <div class="panel-body">
        <p>Please select your <a href="/h/<%=@group.slug%>/accoms">accommodation</a>.
      </div>
    </div>
  <% end %>

  <% if @group.payment_details and @membership.contribution > 0 and (!@membership.paid or (@membership.paid < @membership.contribution)) %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Payment required</h3>
      </div>
      <div class="panel-body">
        <p>You've paid £<%=@membership.paid%> of a requested contribution of £<%=@membership.contribution%>.</p>
        <%=@group.payment_details%>
      </div>
    </div>
  <% end %>

  <% if !current_account.not_on_facebook and @group.facebook_group and !@membership.added_to_facebook_group %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Not on Facebook group</h3>
      </div>
      <div class="panel-body">
        It looks like you're not a member of the <a href="<%=@group.facebook_group%>">Facebook group</a>.
        Please ask someone that is to add you, or <a href="/accounts/not_on_facebook">click here to let us know that you don't use Facebook</a>
      </div>
    </div>
  <% end %>

<% end %>