
<div style="position: relative; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%=group.image.try(:url)%>'); background-size: cover; background-position: center center;" class="group">
  <table style="width: 100%; position: relative; height: 200px">
    <tr>
      <td style="vertical-align: bottom">
        <div style="padding: 0 10px">
          <%= partial :'group_header_actions', :locals => {:group => group} %>
        </div>
      </td>
      <% if @group and @membership and !@hide_minifeed %>  
        <td style="vertical-align: bottom; width: 1px">
          <div class="hidden-sm hidden-xs" style="padding: 0 10px; white-space: nowrap">
            <style>
              #notifications { color: white }
              #notifications li a { color: white }
              #notifications li span { opacity: 0.6 }
            </style>
            <div data-pagelet-url="/h/<%=@group.slug%>/minifeed" data-pusher-channel="notifications.<%=@group.slug%>">
              <%= partial :newsfeed, :locals => {:notifications => @group.notifications.order('created_at desc').limit(3), :minifeed => true} %>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  </table>
</div>
