<div style="margin-bottom: 10px; background-image: url('<%=group.image.try(:url)%>'); background-size: cover; background-position: center center; height: 200px; position: relative">    
  <div style="background: black; opacity: 0.4; height: 100%"></div>

  <% if @group and @membership and !@notifications; @minifeed = true %>  
    <div class="hidden-sm hidden-xs" style="position: absolute; right: 10px; bottom: 0;">
      <style>
        #notifications { color: white }
        #notifications li a { color: white }
        #notifications li span { opacity: 0.6 }
      </style>
      <%= partial :newsfeed, :locals => {:notifications => @group.notifications.order('created_at desc').limit(3), :more => true} %>      
    </div>
  <% end %>

  <div style="position: absolute; bottom: 0; left: 10px;">
    <h1>
      <a style="color: white" href="/h/<%=group.slug%>"><%=group.name%></a>
      <% if @group and @membership and @membership.admin? %>
        <a href="/h/<%=group.slug%>/edit"><i class="fa fa-pencil"></i></a>
      <% end %>
    </h1>  
    <% if @group and @membership %>
      <p style="color: white;">Non-members can apply at <a href="<%="http://#{ENV['DOMAIN']}/h/#{group.slug}"%>" style="color: white; text-decoration: none; border-bottom: 1px dotted white"><%="http://#{ENV['DOMAIN']}/h/#{group.slug}"%></a></p>
      <% end %>
  </div>

</div>