
<div style="position: relative; background-image: url('<%=group.image.try(:url)%>'); background-size: cover; background-position: center center;">
  <div style="background: black; opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 0"></div>
  <table style="width: 100%; position: relative; height: 200px">
    <tr>
      <td style="vertical-align: bottom">
        <div style="padding: 0 10px">
          <h1>
            <a style="color: white" href="/h/<%=group.slug%>"><%=group.name%></a>
          </h1> 
          <% if @group and @membership and@membership.admin? %>        
            <p style="color: white;"> 
              <a style="color: white; text-decoration: none; border-bottom: 1px dotted white" href="/h/<%=group.slug%>/edit">Edit group</a>
              &middot;
              <a style="color: white; text-decoration: none; border-bottom: 1px dotted white" href="/h/<%=group.slug%>/balance">Balance: <%=@group.currency_symbol%><%="#{'%.2f' % @group.balance}"%></a>
            </p>
          <% end %> 
          <% if @group and @membership %>
            <p style="color: white;">
              Non-members can apply at <a href="<%="https://#{ENV['DOMAIN']}/h/#{group.slug}"%>" style="color: white; text-decoration: none; border-bottom: 1px dotted white"><%="https://#{ENV['DOMAIN']}/h/#{group.slug}"%></a>
            </p>                 
          <% end %>
        </div>
      </td>
        <% if @group and @membership and !@notifications %>  
          <td style="vertical-align: bottom; width: 1px">
            <div class="hidden-sm hidden-xs" style="padding: 0 10px; white-space: nowrap">
              <style>
                #notifications { color: white }
                #notifications li a { color: white }
                #notifications li span { opacity: 0.6 }
              </style>
              <div data-pagelet-url="/h/<%=@group.slug%>/minifeed" data-pagelet-interval="10000">
                <%= partial :newsfeed, :locals => {:notifications => @group.notifications.order('created_at desc').limit(3), :minifeed => true} %>
              </div>
            </div>
          </td>
        <% end %>
    </tr>
  </table>
</div>