
<%= partial :group, :object => @group  %>


<% if @membership %>

  <div style="font-size: 12px">
    <%= ul_nav 'nav nav-pills', [
      ["Members (#{@group.memberships.count})", "/h/#{@group.slug}"],
      ["Applications (#{@group.mapplications.pending.count})", "/h/#{@group.slug}/applications"],        
      (["Teams (#{@group.teams.count})", "/h/#{@group.slug}/teams"] if @group.enable_teams),
      (["Qualities (#{@group.qualities.count})", "/h/#{@group.slug}/qualities"] if @group.enable_qualities),
      (["Timetables", (@group.timetables.empty? ? "/h/#{@group.slug}/timetables" : @group.timetables.map { |timetable| [timetable.name, "/h/#{@group.slug}/timetables/#{timetable.id}"] } ) if @group.enable_timetables)],
      (["Rotas (#{@group.rotas.count})", "/h/#{@group.slug}/rotas"] if @group.enable_rotas),
      (["Tiers (#{@group.tiers.count})", "/h/#{@group.slug}/tiers"] if @group.enable_tiers),
      (["Bookings (#{@group.bookings.count})", "/h/#{@group.slug}/bookings"] if @group.enable_bookings),
      (["Accommodation (#{@group.accoms.count})", "/h/#{@group.slug}/accoms"] if @group.enable_accommodation),
      (["Transport (#{@group.transports.count})", "/h/#{@group.slug}/transports"] if @group.enable_transport),        
      (["Budget", "/h/#{@group.slug}/budget"] if @group.enable_budget),    
      ["Newsfeed", "/h/#{@group.slug}/newsfeed"],
      ].compact %>
  </div>

  <% if @group.tiers.count > 0 and !@membership.tiership %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> No tier</h3>
      </div>
      <div class="panel-body">
        <p>Please select a <a href="/h/<%=@group.slug%>/tiers">tier</a>.
      </div>
    </div>
  <% end %>

  <% if @group.accoms.count > 0 and !@membership.accomship %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> No accommodation</h3>
      </div>
      <div class="panel-body">
        <p>Please select your <a href="/h/<%=@group.slug%>/accoms">accommodation</a>.
      </div>
    </div>
  <% end %>

  <% if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution)) %>
    <div class="panel panel-primary" style="margin-top: 20px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Payment required</h3>
      </div>
      <div class="panel-body">
        <p>
          You owe <%=@group.currency_symbol%><%= @membership.requested_contribution - @membership.paid%>. 
          (You've paid <%=@group.currency_symbol%><%=@membership.paid or 0%> of a requested contribution of <%=@group.currency_symbol%><%=@membership.requested_contribution%>.)
        </p>
        <%= partial :pay, :locals => {:amount => (@membership.requested_contribution - @membership.paid)} %>
      </div>
    </div>
  <% end %>

<% end %>