<div style="margin-bottom: 10px; background-image: url(<%=group.image.try(:url)%>); background-size: cover; background-position: center center; height: 200px; position: relative">    
  <div style="background: black; opacity: 0.4; height: 100%"></div>
  <div style="position: absolute; bottom: 0; left: 10px;">
    <h1>
      <a style="color: white" href="/h/<%=group.slug%>"><%=group.name%></a>
      <% if @group and @membership and @membership.admin? %>
        <a href="/h/<%=group.slug%>/edit"><i class="fa fa-pencil"></i></a>
      <% end %>
    </h1>  
    <% if @group and @membership %>
      <p style="color: white;">Non-members can apply at <a href="<%="http://#{ENV['DOMAIN']}/h/#{group.slug}"%>" style="color: white; text-decoration: none; border-bottom: 1px dotted white"><%="http://#{ENV['DOMAIN']}/h/#{group.slug}"%></a></p>
    <% end %>
  </div>

</div>