<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applied on</th>
      <th>Application</th>      
      <th>Proposers, supporters and blockers</th>     
      <% if @membership.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>  
  <% @mapplications.order('created_at desc').each { |mapplication| account = mapplication.account %>
    <tr>
      <td>
        <%= partial :account, :object => account %>
      </td>
      <td>
        <%=mapplication.created_at%>
      </td>           
      <td>

        <% if mapplication.answers %>
          <div>
            <a href="javascript:;" onclick="$('#modal .modal-content').load('/mapplications/<%=mapplication.id%>', function () {
                      $('#modal').modal('show')
                    });">
              <i class="fa fa-file-text-o" style="font-size: 20px"></i>
            </a>
          </div>
        <% end %>

      </td>    
      <td>

        <% [ ['proposer','propose'], ['supporter','support'], ['blocker','block'] ].each { |noun, verb| %>

          <div style="margin-bottom: 10px">
            <%=pluralize(mapplication.verdicts.send(noun.pluralize).count,noun)%>          
            <% if verdict = current_account.verdicts.send(noun.pluralize).find_by(mapplication: mapplication) %>
              &middot; <a href="/verdicts/<%=verdict.id%>/destroy"><%= "Un#{verb}" %></a>
            <% elsif !current_account.verdicts.find_by(mapplication: mapplication) %>
              &middot; <a onclick="
                        var reason = prompt('Explain your decision (optional)');
                        if (reason != null) {
                          $(this).attr('href', $(this).attr('href') + '&reason=' + reason)
                        }
                          " href="/verdicts/create?mapplication_id=<%=mapplication.id%>&type=<%=noun%>"><%=verb.capitalize%></a>
                        <% end %>

            <div>
              <% mapplication.verdicts.send(noun.pluralize).each { |verdict| account = verdict.account %>
                <% if @group.send("anonymous_#{noun.pluralize}") %>
                  <i data-toggle="tooltip" title="<%=verdict.reason%>"  class="fa fa-user-circle" style="font-size: 20px; <% if verdict.reason %> color: #CE2828 <% end %>"></i>
                <% else %> 
                  <img data-toggle="tooltip" title="<%=account.name%><% if verdict.reason%>: <%=verdict.reason%><% end %>" style="width: 50px; <% if verdict.reason %>border-bottom: 2px solid #CE2828 <% end %>" src="<%=account.picture ? account.picture.thumb('50x50#').url : '/images/silhouette.png'%>" />
                <% end %>
              <% } %>

            </div>

          </div>        

        <% } %>

      </td>          

      <% if @membership.admin? %>
        <td>
          <% if mapplication.status == 'rejected' %>
            Rejected by <%=mapplication.processed_by.name%>
            <% if mapplication.acceptable? %>
              &middot; 
            <% end %>
          <% end %>          
          <% if mapplication.acceptable? %>
            <a class="btn btn-success" href="/mapplications/<%=mapplication.id%>/process?status=accepted">Accept</a>
          <% end %>
          <% unless mapplication.status == 'rejected' %>
            <a class="btn btn-danger" href="/mapplications/<%=mapplication.id%>/process?status=rejected">Reject</a>
          <% end %>
        </td>
      <% end %>

    </tr>
  <% } %>
</table>
