<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applied on</th>
      <th>Responses</th>      
      <th>Proposers, supporters and blockers</th>      
      <th></th>
    </tr>
  </thead>  
  <% @mapplications.order('created_at desc').each { |mapplication| account = mapplication.account %>
    <tr>
      <td>
        <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
        <%= account.name %>
      </td>  
      <td>
        <%=mapplication.created_at%>
      </td>           
      <td>
        <% if mapplication.answers %>
          <% mapplication.answers.each { |q,a| %>
            <p><strong><%=q%></strong></p>
            <p><%=a.gsub("\n","<br />")%></p>                    
          <% }  %>
        <% end %>
      </td>    
      <td>

        <% [ ['proposer','propose'], ['supporter','support'], ['blocker','block'] ].each { |noun, verb| %>

          <div style="margin-bottom: 10px">
            <%=pluralize(mapplication.verdicts.send(noun.pluralize).count,noun)%>          
            <% if verdict = current_account.verdicts.send(noun.pluralize).find_by(mapplication: mapplication) %>
              &middot; <a href="/verdicts/<%=verdict.id%>/destroy"><%= "Un#{verb}" %></a>
            <% elsif !current_account.verdicts.find_by(mapplication: mapplication) %>
              &middot; <a href="/verdicts/create?mapplication_id=<%=mapplication.id%>&type=<%=noun%>"><%=verb.capitalize%></a>
            <% end %>

            <div>
              <% mapplication.verdicts.send(noun.pluralize).each { |verdict| account = verdict.account %>
                <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 50px;"/>
              <% } %>
            </div>

          </div>        

        <% } %>

      </td>          

      <td>
        <% if mapplication.status == 'rejected' %>
          Rejected by <%=mapplication.processed_by.name%>
          <% if mapplication.acceptable? %>
            &middot; 
          <% end %>
        <% end %>
        <% if mapplication.acceptable? %>
          <a class="btn btn-success" href="/mapplications/<%=mapplication.id%>/process?status=accepted">Accept</a>
        <% end %>
        <% unless mapplication.status == 'rejected' %>
          <a class="btn btn-danger" href="/mapplications/<%=mapplication.id%>/process?status=rejected">Reject</a>
        <% end %>
      </td>

      </td>
    </tr>
  <% } %>
</table>