<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applied on</th>
      <th>Application</th>      
      <th>Proposers, supporters and blockers</th>     
      <% if @membership.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>  
  <% @mapplications.order('created_at desc').each { |mapplication| account = mapplication.account %>
    <tr>
      <td>
        <%= partial :account, :object => account %>
      </td>
      <td>
        <%=mapplication.created_at%>
      </td>           
      <td>

        <% if mapplication.answers %>
          <div>
            <a href="javascript:;" onclick="$('#modal .modal-content').load('/mapplications/<%=mapplication.id%>', function () {
                      $('#modal').modal('show')
                    });">
              <i class="fa fa-file-text-o" style="font-size: 20px"></i>
            </a>
          </div>
        <% end %>

      </td>    
      <td>
        <div data-pagelet-url="/mapplications/<%=mapplication.id%>/verdicts"></div>        
      </td>          

      <% if @membership.admin? %>
        <td>
          <% if mapplication.status == 'rejected' %>
            Rejected by <%=mapplication.processed_by.name%>
            <% if mapplication.acceptable? %>
              &middot; 
            <% end %>
          <% end %>          
          <% if mapplication.acceptable? %>
            <a class="btn btn-success" href="/mapplications/<%=mapplication.id%>/process?status=accepted">Accept</a>
          <% end %>
          <% unless mapplication.status == 'rejected' %>
            <a class="btn btn-danger" href="/mapplications/<%=mapplication.id%>/process?status=rejected">Reject</a>
          <% end %>
        </td>
      <% end %>

    </tr>
  <% } %>
</table>
