

<script>
  $(function () {

  $('ul.sub-menu ul.sub-menu li.active').closest('li.has-sub').find('> a').click()

  })
</script>

<ul class="nav">

  <li class="mt-3 <%='active' if request.path == '/'%>">
    <a href="/">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>

  <li class="<%='active' if request.path == '/a/new'%>">
    <a href="/a/new">
      <i class="fa fa-fw fa-plus-circle"></i>
      <span class="nav-link-text">Create a group</span>
    </a>
  </li>      

  <li class="nav-divider"></li>
  <li class="nav-header">Groups</li>    

  <% if current_account %>            
    <% current_account.memberships.select { |membership| membership.group == @group or !membership.hide_from_sidebar }.sort_by { |membership| membership.group.name }.each { |membership| group = membership.group %>          


      <li class="has-sub <%= 'active' if @group == group %>">    
        <a href="javascript:;" id="group-<%=group.slug%>">
          <b class="caret caret-right pull-right"></b>
          <i class="fa fa-users"></i> 
          <span><%=group.name%></span>
        </a>    

        <%= ul_nav [
          ["Home", "/a/#{group.slug}"],
          (["Settings", "/a/#{group.slug}/edit"] if membership.admin),
          ([%Q{Balance <span class="float-right label #{'label-primary' if group.balance > 0}">#{group.currency_symbol}#{'%.2f' % group.balance}}, "/a/#{group.slug}/balance"]  if membership.admin),                   
          ["Members (#{group.memberships.count})", "/a/#{group.slug}/members"],
          (["Applications (#{group.mapplications.pending.count})", "/a/#{group.slug}/applications"] if group.enable_applications or group.mapplications.where(:status.ne => 'accepted').count > 0),        
          (["Habits", "/a/#{group.slug}/habits"] if group.enable_habits),              
          (["Teams",
              (
                group.teams(true).order('name asc').map { |team| [%Q{
                #&nbsp;#{team.name}
                #{if (unread = team.comments.where(:id.nin => current_account.read_receipts.pluck(:comment_id)).count) > 0; %Q{<span class="float-right label label-primary" title="#{pluralize(unread, 'unread comment')}">#{unread}</span>}; end}
                    }, "/a/#{group.slug}/teams/#{team.id}"] } + [['Overview', "/a/#{group.slug}/teams"], ['Create a team', "/a/#{group.slug}/teams/new"]]
              )              
              ] if group.enable_teams),      
          (["Qualities (#{group.qualities.count})", "/a/#{group.slug}/qualities"] if group.enable_qualities),
          (["Calendar", "/a/#{group.slug}/calendar"] if group.teamup_calendar_url),
          (["Timetables",
              (
                group.timetables(true).map { |timetable| [timetable.name, "/a/#{group.slug}/timetables/#{timetable.id}"] } + (membership.admin? ? [['Create a timetable', "/a/#{group.slug}/timetables/new"]] : [])
              )
              ] if group.enable_timetables),
          (["Rotas",
              (
                group.rotas(true).map { |rota| [rota.name, "/a/#{group.slug}/rotas/#{rota.id}"] } + (membership.admin? ? [['Create a rota', "/a/#{group.slug}/rotas/new"]] : [])
              )              
              ] if group.enable_rotas),
          (["Tiers (#{group.tiers.count})", "/a/#{group.slug}/tiers"] if group.enable_tiers),
          (["Bookings (#{group.bookings.count})", "/a/#{group.slug}/bookings"] if group.enable_bookings),
          (["Accommodation (#{group.accoms.count})", "/a/#{group.slug}/accoms"] if group.enable_accommodation),
          (["Transport (#{group.transports.count})", "/a/#{group.slug}/transports"] if group.enable_transport),        
          (["Inventory", "/a/#{group.slug}/inventory"] if group.enable_inventory),       
          (["Budget", "/a/#{group.slug}/budget"] if group.enable_budget)
          ].compact,
        ul_class: 'sub-menu',
        li_class: '',
        li_active_class: 'active',
        a_class: '',
        a_active_class: '',
        ul_id: "collapse-group-#{group.slug}",             
        subnav_li_class: 'has-sub',
        subnav_data_toggle: '',
        subnav_a_class: '',
        subnav_caret: '<b class="caret caret-right pull-right"></b>',
        subnav_ul_class: 'sub-menu',
        subnav_li2_class: '',
        subnav_a2_class: '',
        generate_subnav_href_and_ul: false
      %>

      </li>  
    <% } %>
  <% end %>


</ul>