<style>
  .navbar-sidenav {
    overflow: hidden
  }
</style>
<script>
  $(function () {    
    const ps = new PerfectScrollbar($('.navbar-sidenav')[0]);
    
    $('.navbar-sidenav span.badge').each(function () {
      $(this).parent().addClass('d-flex').addClass('justify-content-between').addClass('align-items-center')
      $(this).removeClass('d-none')
    });
  })
</script>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="/"><%= @group ? " h / #{@group.name}" : 'Huddl' %> </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="sidebarAccordion">

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link <%='active' if request.path == '/'%>" href="/">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link <%='active' if request.path == '/h/new'%>" href="/h/new">
          <i class="fa fa-fw fa-plus"></i>
          <span class="nav-link-text">Create a group</span>
        </a>
      </li>      

      <% if current_account %>            
        <% current_account.memberships.select { |membership| !membership.group.archived }.sort_by { |membership| membership.group.name }.each { |membership| group = membership.group %>          
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="<%=group.name%>">
            <a class="nav-link nav-link-collapse collapsed <%='active' if group == @group %>" data-toggle="collapse" href="#collapse-group-<%=group.slug%>">
              <i class="fa fa-fw fa-group"></i>
              <span class="nav-link-text"><%=group.name%></span>
            </a>

            <%= ul_nav [
              ["Home", "/h/#{group.slug}"],
              ["Members (#{group.memberships.count})", "/h/#{group.slug}/members"],
              (["Applications (#{group.mapplications.pending.count})", "/h/#{group.slug}/applications"] if group.enable_applications or group.mapplications.where(:status.ne => 'accepted').count > 0),        
              (["Teams",
                  (
                    group.teams(true).order('name asc').map { |team| [%Q{
                #&nbsp;#{team.name}
                #{if (unread = team.comments.where(:id.nin => current_account.read_receipts.pluck(:comment_id)).count) > 0; %Q{<span class="d-none badge badge-light" title="#{pluralize(unread, 'unread comment')}">#{unread}</span>}; end}
                        }, "/h/#{group.slug}/teams/#{team.id}"] } + [['Overview', "/h/#{group.slug}/teams"], ['Create a team', "/h/#{group.slug}/teams/new"]]
                  )              
                  ] if group.enable_teams),      
              (["Qualities (#{group.qualities.count})", "/h/#{group.slug}/qualities"] if group.enable_qualities),
              (["Calendar", "/h/#{group.slug}/calendar"] if group.teamup_calendar_url),
              (["Timetables",
                  (
                    group.timetables(true).map { |timetable| [timetable.name, "/h/#{group.slug}/timetables/#{timetable.id}"] } + (membership.admin? ? [['Create a timetable', "/h/#{group.slug}/timetables/new"]] : [])
                  )
                  ] if group.enable_timetables),
              (["Rotas",
                  (
                    group.rotas(true).map { |rota| [rota.name, "/h/#{group.slug}/rotas/#{rota.id}"] } + (membership.admin? ? [['Create a rota', "/h/#{group.slug}/rotas/new"]] : [])
                  )              
                  ] if group.enable_rotas),
              (["Tiers (#{group.tiers.count})", "/h/#{group.slug}/tiers"] if group.enable_tiers),
              (["Bookings (#{group.bookings.count})", "/h/#{group.slug}/bookings"] if group.enable_bookings),
              (["Accommodation (#{group.accoms.count})", "/h/#{group.slug}/accoms"] if group.enable_accommodation),
              (["Transport (#{group.transports.count})", "/h/#{group.slug}/transports"] if group.enable_transport),        
              (["Inventory", "/h/#{group.slug}/inventory"] if group.enable_inventory),       
              (["Budget", "/h/#{group.slug}/budget"] if group.enable_budget),    
              (["Timetracker", "/h/#{group.slug}/time"] if group.enable_timetracker),    
              ].compact,
            ul_class: "sidenav-second-level collapse #{'show' if @group == group}",
            li_class: '',
            a_class: '',
            ul_id: "collapse-group-#{group.slug}",             
            subnav_li_class: '',
            subnav_data_toggle: 'collapse',
            subnav_a_class: 'nav-link-collapse',
            subnav_caret: '',
            subnav_ul_class: 'sidenav-third-level collapse show',
            subnav_li2_class: '',
            subnav_a2_class: '',
            generate_subnav_href_and_ul: true
          %>

          </li>
        <% } %>
      <% end %>

    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>

    <%=       ul_nav [
      ([current_account.name, [
            ['View profile', "/accounts/#{current_account.id}"],
            ['Edit profile', '/accounts/edit'],
            ['Sign out', '/accounts/sign_out'],
          ]
          ] if current_account),
      (['Sign up', '/accounts/sign_up'] if !current_account),
      (['Sign in', '/accounts/sign_in'] if !current_account)
      ].compact, ul_class: 'navbar-nav ml-auto'
  %>

  </div>
</nav>


