<ul class="list-unstyled">
  <% notifications.each_with_index { |notification,i| %>
    <li>    

      <div class="media">
        <span style="border-radius: 6px; height: 18px; width: 18px; font-size: 12px" class="text-center bg-dark text-white"><i class="fa <%=notification.icon%>"></i></span>

        <div class="media-body ml-2">
          <% if include_group_name %>
            <strong><a class="text-dark" href="/a/<%=notification.group.slug%>"><%= notification.group.name %></a></strong>
          <% else %>      
            <a href="<%= notification.link[1] %>"><%= notification.sentence %></a>
          <% end %>
          <span style="font-size: 11px" class="text-muted"><%= timeago(notification.created_at) %></span>      

          <% if include_group_name %>
            <p class="my-0 mt-1">
              <a href="<%= notification.link[1] %>"><%= notification.sentence %></a>
            </p>
          <% end %>

          <% if notification.type == 'commented'; comment = notification.notifiable %>
            <div class="media ml-2 my-2">
              <%= partial :'accounts/square', :locals => {:account => notification.notifiable.account, :style => 'display: block; width: 32px'} %>
              <div class="media-body ml-2">
                <%=comment.body.gsub("\n","<br />") %>            
                <%= partial :'comments/file', :locals => {:comment => comment} %>
              </div>              
            </div>
          <% end %>
        </div>
      </div>

      <hr class="my-3 border-light" />

    </li>
  <% } %>
</ul>

<%= will_paginate notifications, :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
