
<ul class="fa-ul" id="notifications">
  <% notifications.each_with_index { |notification,i| %>
    <li>
      <i class="fa fa-li <%=notification.icon%>"></i>
      <a <% if defined? more %> class="truncate" <% end %> href="<%= notification.link[1] %>"><%= notification.sentence %></a>
      <span style="font-size: 11px"><%= timeago(notification.created_at) %></span>      
      <% if @notifications %>
        <hr />
      <% end %>
    </li>
  <% } %>
  <% if defined? more %>
    <li><a href="/h/<%=@group.slug%>/newsfeed">More...</a></li>
  <% end %>
</ul>