
<ul class="fa-ul" id="notifications">
  <% notifications.each_with_index { |notification,i| %>
    <li>
      <i class="fa fa-li <%=notification.icon%>"></i>
      <a href="<%= notification.link[1] %>"><%= defined?(minifeed) ? HTML_Truncator.truncate(notification.sentence, 50, :length_in_chars => true) : notification.sentence %></a>
      <span style="font-size: 11px"><%= timeago(notification.created_at) %></span>      
      <% if !defined?(minifeed) %>
        <hr style="margin: 5px 0" />
      <% end %>
    </li>
  <% } %>
  <% if defined?(minifeed) %>
    <li><a href="/h/<%=@group.slug%>">More...</a></li>
  <% end %>
</ul>

<% if !defined?(minifeed) %>
  <%= will_paginate notifications, :inner_window => 1, :outer_window => 1, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
<% end %>
