<% x = [] %>
<%  x << capture do %>
  <a href="?"><i data-toggle="tooltip" title="Members" class="fa fa-group"></i></a> <%= @group.memberships.count %>
<% end %>

<% Account.genders.reject(&:blank?).map { |gender| x << capture do %>
    <a href="?gender=<%=gender%>"><%= Account.gender_symbol(gender, pluralize: true) %></a> <%= @group.memberships.where(:account_id.in => Account.where(:gender => gender).pluck(:id)).count %>
  <% end  } %>

<% youngest_p = Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.ne => nil).order('date_of_birth desc').first.age.to_s[0] %>
<% oldest_p = Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.ne => nil).order('date_of_birth asc').first.age.to_s[0] %>
<% youngest_p.upto(oldest_p) do |p| p = "#{p}0".to_i; %>
  <% x << capture do %>
    <a href="?p=<%=p%>" data-toggle="tooltip" title="People in their <%=p%>s"><%=p%>s</a>
    <%= @group.memberships.where(:account_id.in => Account.where(:date_of_birth.lte => (Date.today-p.years)).where(:date_of_birth.gt => (Date.today-(p+10).years)).pluck(:id)).count %>
  <% end %>
<% end %>    

<% x << capture do %>
  <a href="?poc=true" style="font-weight: bold" data-toggle="tooltip" title="People of colour">P</a> <%= @group.memberships.where(:account_id.in => Account.where(:poc => true).pluck(:id)).count %>
<% end %>


<% y = [] %>
<% y << capture do %>
  <a href="?paid=true">Payment received</a> <%= @group.memberships.where(:paid.ne => nil).count %>
<% end %>
<% y << capture do %>
  <a href="?not_paid=true">Payment not received</a> <%= @group.memberships.where(:paid => nil).count %>
<% end %>
<% y << capture do %>
  <a href="?shifts=true">People with shifts</a> <%= @group.memberships.where(:account_id.in => @group.shifts.pluck(:account_id)).count %>
<% end %>
<% y << capture do %>
  <a href="?no_shifts=true">People without shifts</a> <%= @group.memberships.where(:account_id.nin => @group.shifts.pluck(:account_id)).count %>
<% end %>
<% y << capture do %>
  <a href="?not_facebook=true">Not on Facebook group</a> <%= @group.memberships.where(:added_to_facebook_group.ne => true).count %>
<% end %>
<% y << capture do %>
  <a href="?no_tier=true">No tier</a> <%= @group.memberships.where(:account_id.nin => @group.tierships.pluck(:account_id)).count %>
<% end %>
<% y << capture do %>
  <a href="?no_accom=true">No accommodation</a> <%= @group.memberships.where(:account_id.nin => @group.accomships.pluck(:account_id)).count %>
<% end %>  
<% if @group.democratic_threshold %>
  <% y << capture do %>
    <a href="?threshold=true">Suggested magic number</a> <%= @group.memberships.where(:desired_threshold.ne => nil).count %>
  <% end %>
<% end %>

<div style="margin-top: 10px; font-size: 20px"><%= x.map(&:strip).join(' &middot; ') %></div>
<div style="margin-bottom: 10px; font-size: 13px;"><%= y.map(&:strip).join(' &middot; ') %></div>