<%= partial :group_header %>

<% if @membership.admin? %>
  <% form_tag "/accoms/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'margin-top: 10px' do %>
    <%= text_field_tag :name, :required => true, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New accommodation' %>
    <%= text_field_tag :description, :class => 'form-control', :style => 'width: 10em', :placeholder => 'Description' %>          
    <%= number_field_tag :capacity, :required => true, :class => 'form-control', :style => 'width: 6em', :placeholder => 'Capacity' %>

    <div class="input-group">
      <span class="input-group-addon">£</span>
      <%= number_field_tag :cost, :required => true, :class => 'form-control', :style => 'width: 8em', :placeholder => 'Cost' %>
    </div>

    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>

  <% end %>    
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Accommodation</th>
      <th>Cost for the room</th>
      <th>Places taken</th>
      <th></th>
      <th>People</th> 
      <th>Cost per person</th> 
    </tr>
  </thead>
  <% @group.accoms.order('name asc').each { |accom| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a data-confirm="Delete this accommodation?" href="/accoms/<%=accom.id%>/destroy">
            <%=accom.name%>
          </a>
        <% else %>
          <%=accom.name%>
        <% end %>            
        <br />
        <%= accom.description %>        
      </td>
      <td>
        £<%=accom.cost%>
      </td>
      <td>
        <%=accom.accomships.count%>/<%=accom.capacity%>
      </td>      
      <td>
        <% if !@group.accomships.find_by(account: current_account) and !accom.full?  %>
          <a class="btn btn-primary" href="/accomships/create?accom_id=<%=accom.id%>">Join</a>
        <% end %>
      </td>      
      <td>
        <% names = accom.accomships.map { |accomship| account = accomship.account; capture do %>
            <% if accomship.account == current_account or @membership.admin? %>
              <a data-confirm="Remove this person from this accommodation?" href="/accomships/<%=accomship.id%>/destroy"><%=account.name%></a>
            <% else %>
              <%=account.name%>
            <% end %>
          <% end }.map(&:strip).join(', ') %>
        <%= names %>
      </td>
      <td>
        <% if accom.cost_per_person %>
          £<%=accom.cost_per_person%>
        <% end %>
      </td>
    </tr>
  <% } %>
</table>