
<%= partial :group_header %>

<% if params[:applied] or (current_account and @mapplicaton = @group.mapplications.find_by(account: current_account)) %>

  <h2>Thanks for expressing your interest. We'll be in touch as soon as possible.</h2>

<% else %>

  <% @group.memberships.each { |membership| account = membership.account %>
    <img data-toggle="tooltip" title="<%=account.name%>" style="width: 50px;" src="<%=account.picture ? account.picture.thumb('50x50#').url : '/images/silhouette.png'%>" />
  <% } %>  

  <h2>Express your interest</h2>

  <% if @group.application_preamble %>
    <p><%=@group.application_preamble%></p>
  <% end %>

  <% form_for @account, "/h/#{@group.slug}/apply", :class => 'form-horizontal' do |f| %>

    <% if !current_account %>
      <%= f.text_block :name %>
      <%= f.text_block :email %>
      <%= f.image_block :picture %>    
      <%= f.date_block :date_of_birth, :start_year => 1900, :end_year => Time.now.year %>
      <%= f.select_block :gender %>
      <%= f.check_box_block :poc %>      
    <% end %>

    <% @group.application_questions_a.each_with_index { |q,i| %>
      <div class="form-group">
        <label class="control-label col-sm-3"><%=q%></label>
        <div class="col-sm-6">  
          <%= text_area_tag "answers[#{i}]", :class => 'form-control' %>
        </div>
      </div>  
    <% } %>

    <%= f.submit_block button_text: 'Submit' %>            

  <% end %>

<% end %>