
<%= partial :group_header %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Responses</th>      
      <th>Supporters and blocks</th>      
      <th></th>
    </tr>
  </thead>  
  <% @group.mapplications.pending.each { |mapplication| account = mapplication.account %>
    <tr>
      <td>
        <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
        <%= account.name %>
      </td>  
      <td>
        <%=mapplication.created_at%>
      </td>           
      <td>
        <% if mapplication.answers %>
          <% mapplication.answers.each { |q,a| %>
            <p><strong><%=q%></strong></p>
            <p><%=a.gsub("\n","<br />")%></p>                    
          <% }  %>
        <% end %>
      </td>    
      <td>

        <div style="margin-bottom: 10px">
          <%=pluralize(mapplication.mapplication_votes.count,'supporter')%>
          &middot;
          <% if mapplication_vote = current_account.mapplication_votes.find_by(mapplication: mapplication) %>
            <a href="/mapplication_votes/<%=mapplication_vote.id%>/destroy">Rescind support</a>
          <% else %>
            <a href="/mapplication_votes/create?mapplication_id=<%=mapplication.id%>">Support this application</a>
          <% end %>

          <div>
            <% mapplication.mapplication_votes.each { |vote| account = vote.account %>
              <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 50px;"/>
            <% } %>
          </div>

        </div>

        <div>
          <%=pluralize(mapplication.mapplication_blocks.count,'block')%>
          &middot;
          <% if mapplication_block = current_account.mapplication_blocks.find_by(mapplication: mapplication) %>
            <a href="/mapplication_blocks/<%=mapplication_block.id%>/destroy">Remove block</a>
          <% else %>
            <a href="/mapplication_blocks/create?mapplication_id=<%=mapplication.id%>">Block</a>
          <% end %> 

          <div>
            <% mapplication.mapplication_blocks.each { |block| account = block.account %>
              <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 50px;"/>
            <% } %>
          </div>

        </div>          

      <td>
        <% unless mapplication.mapplication_blocks.count > 0 %>
          <a class="btn btn-success" href="/mapplications/<%=mapplication.id%>/process?status=accepted">Accept</a>
        <% end %>
        <a class="btn btn-danger" href="/mapplications/<%=mapplication.id%>/process?status=rejected">Reject</a>
      </td>

      </td>
    </tr>
  <% } %>
</table>