
<%= partial :group_header %>

<h2>Apply now</h2>

<% form_for @account, "/groups/#{@group.slug}/apply", :class => 'form-horizontal' do |f| %>

  <% if !current_account %>
    <%= f.text_block :name %>
    <%= f.text_block :email %>
    <%= f.password_block :password %>
    <%= f.image_block :picture %>
  <% end %>

  <% @group.request_questions_a.each { |q| %>
    <div class="form-group">
      <label class="control-label col-sm-3"><%=q%></label>
      <div class="col-sm-6">  
        <%= text_area_tag "answers[]", :class => 'form-control' %>
      </div>
    </div>  
  <% } %>

  <%= f.submit_block button_text: 'Submit application' %>            

<% end %>
