<%= partial :group_header %>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="lead" style="margin: 15px 0">
      <strong><%=@group.currency_symbol%><%="#{'%.2f' % @group.balance}"%></strong> is waiting to be paid out. Payouts are via PayPal.
    </p>
  </div>
</div>

<% form_for @group, "/h/#{@group.slug}/payout", :multipart => true do |f| %>
  <%= f.text_block :paypal_email %>
  <%= f.submit_block button_text: 'Request payout' %> 
<% end %>

