
<%= partial :'groups/header' %>

<% if @membership.booking_limit %>
  <p style="font-size: 20px">
    You've used <%=@membership.bookings.count%> of <%=pluralize(@membership.booking_limit,'day') %>
  </p>
<% end %>



<script>
  $(function () {
    $('#calendar').fullCalendar({
      events: '/a/<%=@group.slug%>/bookings',
      buttonText: {
        today: 'Today'
      },
      eventClick: function (day) {
        console.log(day)
        $('.popover').remove()
        el = $(this);
        $.get('/a/<%=@group.slug%>/bookings?date=' + day._start._i, function (response) {
          el.popover({
            content: response,
            trigger: 'manual',
            title: moment(day._start._d).format('ddd Do MMM YYYY'),
            placement: 'auto top',
            container: 'body',
            html: true
          }).popover('show');
        });
      },
      viewDestroy: function () {
        $('.popover').remove()
      }
    })
  });
</script>
<div id="calendar"></div>