
<% if @group.persisted? %>
  <%= partial :group_header %>
<% end %>

<h1><%= @group.persisted? ? '' : 'Create a group' %></h1>

<script>
  $(function() {
    
  <% if @group.new_record? %>
    $('.tab-pane').each(function() { 
      var tabPane = this
      $('<div class="form-group"><div class="col-sm-6 col-sm-offset-3"><a href="javascript:;" class="next btn btn-primary">Next</a></div></div>').appendTo(tabPane)
      $(this).find('a.next').click(function() {
        $('#group-build-tags a[href="#'+$(tabPane).next().attr('id')+'"]').tab('show')
      })      
    })
    $('#tab4').find('a.next').parent().remove()
  <% end %>     
      
    var pairs = [['#group_enable_timetables', '#group_scheduling_by_all'], ['#group_enable_bookings', '#group_booking_limit']]
    $.each(pairs, function(i,pair) {
      var a = pair[0]
      var b = pair[1]
      $(a).click(function() {
        if($(a).is(':checked'))
          $(b).parent().parent().show()
        else
          $(b).parent().parent().hide()
      });    
      if($(a).is(':checked'))
        $(b).parent().parent().show()
      else
        $(b).parent().parent().hide()    
    });
        
  })
</script>

<% form_for @group, @group.new_record? ? '/h/new' : "/h/#{@group.slug}/edit", :class => 'form-horizontal', :multipart => true do |f| %>
  
  <!-- Nav tabs -->
  <ul id="group-build-tags" class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Applying and accepting</a></li>
    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Intro</a></li>
    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Enable features</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin-top: 20px">
    <div role="tabpanel" class="tab-pane active" id="tab1">    
      <%= f.text_block :name %>
      <%= f.slug_block :slug %>
      <%= f.image_block :image %>  
      <% if @group.new_record? %>
        <%= f.select_block :currency %>
      <% end %>      
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= f.wysiwyg_block :application_preamble %>
      <%= f.text_area_block :application_questions %>
      <%= f.check_box_block :ask_for_date_of_birth %>  
      <%= f.check_box_block :ask_for_gender %>  
      <%= f.check_box_block :ask_for_poc %>  
      <%= f.check_box_block :anonymise_supporters %>
      <%= f.check_box_block :anonymise_blockers %>       
      <%= f.number_block :fixed_threshold %>
      <%= f.check_box_block :democratic_threshold %>  
      <%= f.number_block :member_limit %>      
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
      <%= f.wysiwyg_block :intro_for_members %>       
    </div>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <% (Group.enablable - %w{bookings}).each { |x| %>
        <%= f.check_box_block "enable_#{x}".to_sym %>
      <% } %>
      <%= f.number_block :booking_limit %>
      <%= f.check_box_block :scheduling_by_all %>      
      <%= f.url_block :teamup_calendar_url %>
      <% if @group.new_record? %>
        <%= f.submit_block %>  
      <% end %>        
    </div>    
  </div>

  <% if @group.persisted? %>
    <%= f.submit_block %>  
  <% end %>
  
<% end %>
