
<% if @group.persisted? %>
  <%= partial :group_header %>
<% end %>

<h1><%= @group.persisted? ? '' : 'Create a group' %></h1>

<script>
  $(function() {
  
    var pairs = [['#group_enable_timetables', '#group_scheduling_by_all'], ['#group_enable_bookings', '#group_booking_limit']]
    $.each(pairs, function(i,pair) {
      var a = pair[0]
      var b = pair[1]
      $(a).click(function() {
        if($(a).is(':checked'))
          $(b).parent().parent().show()
        else
          $(b).parent().parent().hide()
      });    
      if($(a).is(':checked'))
        $(b).parent().parent().show()
      else
        $(b).parent().parent().hide()    
    });
    
  })
</script>

<% form_for @group, @group.new_record? ? '/h/new' : "/h/#{@group.slug}/edit", :class => 'form-horizontal', :multipart => true do |f| %>
  <%= f.text_block :name %>
  <%= f.slug_block :slug %>
  <%= f.image_block :image %>
  <%= f.wysiwyg_block :application_preamble %>
  <%= f.text_area_block :application_questions %>
  <%= f.check_box_block :ask_for_date_of_birth %>  
  <%= f.check_box_block :ask_for_gender %>  
  <%= f.check_box_block :ask_for_poc %>
  <%= f.wysiwyg_block :intro_for_members %>
  <%= f.check_box_block :anonymise_supporters %>
  <%= f.check_box_block :anonymise_blockers %>  
  <%= f.number_block :fixed_threshold %>
  <%= f.check_box_block :democratic_threshold %>  
  <%= f.number_block :member_limit %>
  <% (Group.enablable - %w{bookings}).each { |x| %>
    <%= f.check_box_block "enable_#{x}".to_sym %>
  <% } %>
  <%= f.number_block :booking_limit %>
  <%= f.check_box_block :scheduling_by_all %>
  <%= f.url_block :teamup_calendar_url %>
  <%= f.select_block :currency %>
  <%= f.submit_block %>  
<% end %>

<% if @group.persisted? and @group.balance > 0 %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h2>Payout</h2>
      <p>
        There's a 5% fee for transactions made via Huddl (less than Eventbrite, which is at least 5.5%).
        <br />
        <strong><%=@group.currency_symbol%><%="#{'%.2f' % @group.balance}"%></strong> is waiting to be paid out. Payouts are via PayPal.
      </p>
    </div>
  </div>
  <% form_for @group, "/h/#{@group.slug}/payout", :class => 'form-horizontal', :multipart => true do |f| %>
    <%= f.text_block :paypal_email %>
    <%= f.submit_block button_text: 'Request payout' %> 
  <% end %>

<% end %>
