
<% if @group.persisted? %>
  <%= partial :group_header %>
<% end %>

<h1><%= @group.persisted? ? '' : 'Create a group' %></h1>

<% form_for @group, @group.new_record? ? '/h/new' : "/h/#{@group.slug}/edit", :class => 'form-horizontal', :multipart => true do |f| %>
  <%= f.text_block :name %>
  <%= f.slug_block :slug %>
  <%= f.image_block :image %>
  <%= f.url_block :facebook_group %>
  <%= f.wysiwyg_block :application_preamble %>
  <%= f.text_area_block :application_questions %>
  <%= f.check_box_block :anonymous_supporters %>
  <%= f.check_box_block :anonymous_blockers %>
  <%= f.submit_block %>  
<% end %>

<% if @group.persisted? %>
  <h2>Teams</h2>
  <ul class="list-inline">
    <% @group.teams.each { |team| %>
      <li><%=team.name %> <a href="/teams/<%=team.id%>/destroy"><i class="fa fa-times"></i></a></li>
    <% } %>
  </ul>
<% end %>

<% form_tag "/teams/create?group_id=#{@group.id}" do %>
  <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New team' %>
<% end %>        

<% if @group.persisted? %>
  <h2>Rotas</h2>
  <ul class="list-inline">
    <% @group.rotas.each { |rota| %>
      <li><%=rota.name %> <a href="/rotas/<%=rota.id%>/destroy"><i class="fa fa-times"></i></a></li>
        <% } %>
  </ul>
<% end %>

<% form_tag "/rotas/create?group_id=#{@group.id}" do %>
  <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New rota' %>
<% end %>