
<% if @group.persisted? %>
  <%= partial :group_header %>
<% end %>

<h1><%= @group.persisted? ? '' : 'Create a group' %></h1>

<% form_for @group, @group.new_record? ? '/h/new' : "/h/#{@group.slug}/edit", :class => 'form-horizontal', :multipart => true do |f| %>
  <%= f.text_block :name %>
  <%= f.slug_block :slug %>
  <%= f.image_block :image %>
  <%= f.wysiwyg_block :application_preamble %>
  <%= f.text_area_block :application_questions %>
  <%= f.check_box_block :ask_for_date_of_birth %>  
  <%= f.check_box_block :ask_for_gender %>  
  <%= f.check_box_block :ask_for_poc %>
  <%= f.wysiwyg_block :intro_for_members %>
  <%= f.check_box_block :anonymous_supporters %>
  <%= f.check_box_block :anonymous_blockers %>  
  <%= f.check_box_block :democratic_threshold %>
  <%= f.number_block :fixed_threshold %>
  <%= f.number_block :member_limit %>
  <% Group.enablable.each { |x| %>
    <%= f.check_box_block "enable_#{x}".to_sym %>
  <% } %>
  <% if @group.enable_bookings %>
    <%= f.number_block :booking_limit %>
  <% end %>
  <%= f.submit_block %>  
<% end %>

<% if @group.persisted? and @group.balance > 0 %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h2>Payout</h2>
      <p>
        <strong>£<%=@group.balance%></strong> is waiting to be paid out. Payouts are via PayPal.
      </p>
    </div>
  </div>
  <% form_for @group, "/h/#{@group.slug}/payout", :class => 'form-horizontal', :multipart => true do |f| %>
    <%= f.text_block :paypal_email %>
    <%= f.submit_block button_text: 'Request payout' %> 
  <% end %>

<% end %>
