
<% if @group.persisted? %>
  <%= partial :group_header %>
<% end %>

<h1><%= @group.persisted? ? '' : 'Create a group' %></h1>

<% form_for @group, @group.new_record? ? '/h/new' : "/h/#{@group.slug}/edit", :class => 'form-horizontal', :multipart => true do |f| %>
  <%= f.text_block :name %>
  <%= f.slug_block :slug %>
  <%= f.image_block :image %>
  <%= f.url_block :facebook_group %>
  <%= f.wysiwyg_block :application_preamble %>
  <%= f.text_area_block :application_questions %>
  <%= f.check_box_block :anonymous_supporters %>
  <%= f.check_box_block :anonymous_blockers %>
  <%= f.number_block :threshold %>
  <%= f.submit_block %>  
<% end %>
