<% form_tag '', :method => :get do %>
  <%= text_area_tag :names, :class => 'form-control' %>
  <%= submit_tag 'Submit', :class => 'btn btn-primary', :style => 'margin-top: 5px' %>
<% end %>

<% if params[:names]; f = params[:names].split("\n").map(&:strip); h = @group.memberships.map(&:account).map { |a| a.facebook_name || a.name } %>
  <h2>On Facebook group and Huddl <small><%= x = (f & h).count %></small></h2>
  <%= (f & h).join(' <br /> ') %>
  <h2>On Facebook group, not on Huddl <small><%= x = (f - h).count %></small></h2>
  <%= x.join(' <br /> ') %>
  <h2>On Huddl, not on Facebook group <small><%= x = (h - f).count %></small></h2> 
  <table class="table" style="width: auto">
    <% x.each { |name| account = Account.where(:id.in => @group.memberships.pluck(:account_id)).find_by(facebook_name: name) || Account.where(:id.in => @group.memberships.pluck(:account_id)).find_by(name: name) %>
      <tr>
        <td>
          <%= name %>
        </td>
        <td>
          <% form_tag "/update_facebook_name/#{account.id}" do %>
            <%= text_field_tag :facebook_name, :class => 'form-control', :value => account.facebook_name %>
          <% end %>
        </td>
      <% } %>
    </tr>
  </table>
<% end %>

