
<%= partial :gathering_header %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Accepted by</th>
      <th>Joined Facebook group?</th>
      <th>Paid</th>
      <!--
      <th>Teams</th>
      <th>Shifts</th>
      -->
    </tr>
  </thead>
  <% @gathering.gatheringships.each { |gatheringship| account = gatheringship.account %>
    <tr>
      <td>
        <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
        <%= account.name %>
      </td>  
      <td>
        <%= gatheringship.accepted_by ? gatheringship.accepted_by.name : 'n/a' %>
      </td>  
      <td>
        <% if gatheringship.joined_facebook_group  %>
          <i class="fa fa-check"></i>
        <% else %>
          <a href="/gatheringships/<%=gatheringship.id%>/joined_facebook_group">Joined</a>
        <% end %>
      </td>      
      <td>
        <% if gatheringship.paid %>
          £<%= gatheringship.paid %>
        <% else %>
          <% form_tag "/gatheringships/#{gatheringship.id}/paid" do %>
            <%= number_field_tag :paid, :class => 'form-control' %>
          <% end %>
        <% end %>
      </td>          
      <!--
      <td>
      <% gatheringship.teamships.each { |teamship| %>
                    <span class="label label-primary"><%=teamship.team.name%></span>
      <% } %></td>
      <td>
      <%=pluralize(gatheringship.shifts.count,'shift')%>
      </td>
      -->
    </tr>
  <% } %>
</table>