
<%= partial :group_header %>

<div class="row">
  <div class="col-sm-6">
    <% if @group.intro_for_members %>  
      <div style="margin-top: 20px">
        <%= @group.intro_for_members %>
        <hr />
      </div>
    <% end %>  
    <div data-pagelet-url="/h/<%=@group.slug%>/todos">
      <%= partial :todos %>
    </div>
    <h2>Online now</h2>
    <div class="image-wall">
      <% @group.members.where(:last_active.gt => 5.minutes.ago).each { |account| %>
        <%= partial :'accounts/square', :locals => {:account => account, :content => (if account.last_active; "#{time_ago_in_words account.last_active} ago"; end), :width => '75px'} %>
      <% } %>
    </div>
  </div>  
  <div class="col-sm-6">
    <div data-pagelet-url="/h/<%=@group.slug%>/newsfeed" data-pusher-channel="notifications.<%=@group.slug%>" style="margin-top: 10px"></div>
  </div>
</div>