<div class="row">
  <div class="col-sm-8">

    <a class="btn btn-primary mb-2 mr-2" href="/a/new">Create a group</a>
    <a class="btn btn-primary mb-2" href="/habits?add=true">Add a habit</a>

    <div class="mt-3">
      <%= partial :newsfeed, :locals => {:notifications => @notifications, :include_circle_name => true} %>
    </div>

  </div>  
  <div class="col-sm-4">

    <style>.group h1 { font-size: 26px }</style>

    <% if current_account.memberships.count > 0 %>

      <h2>Your groups</h2>

      <div class="list-group mb-3">        
        <% current_account.memberships.sort_by { |membership| membership.group.notifications_as_circle.order('created_at desc').first.try(:created_at).try(:to_i) or 0 }.reverse.each { |membership| group = membership.group %>
          <a href="/a/<%=group.slug%>" class="list-group-item">
            <%=group.name%>
            <% if change = group.notifications_as_circle.order('created_at desc').first.try(:created_at) %>
              <span style="font-size: 11px" class="text-muted">Active <%= timeago(change) %></span>      
            <% end %>          
          </a>
        <% } %>
      </div>

    <% end %>   

    <div class="mb-3">
      <h2>Online now</h2>
      <div class="image-wall">
        <% current_account.network.where(:last_active.gt => 5.minutes.ago).each { |account| %>
          <%= partial :'accounts/square', :locals => {:account => account, :content => (if account.last_active; "#{time_ago_in_words account.last_active} ago"; end), :width => '75px'} %>
        <% } %>
      </div>
    </div>

  </div>  
</div>
