
<%= partial :group_header %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Proposed by</th>
      <th>Accepted by</th>
      <th>Accepted on</th>
      <% if @membership.admin %>
        <% if @group.facebook_group %>
          <th>Added to Facebook group?</th>
        <% end %>
        <th>Paid</th>
        <th></th>
      <% end %>
      <!--
     <th>Teams</th>
     <th>Shifts</th>
      -->
    </tr>
  </thead>
  <% @group.memberships.order('created_at desc').each { |membership| account = membership.account %>
    <tr>
      <td>
        <img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
        <%= account.name %>
        <% if membership.admin? %>
          <i title="Admin" class="fa fa-key"></i>
        <% end %>
      </td>
      <td>
        <%= membership.mapplication ? membership.mapplication.verdicts.proposers.map { |verdict| verdict.account.name }.to_sentence : 'n/a' %>
      </td>        
      <td>
        <%= membership.mapplication ? "#{membership.mapplication.processed_by.name} at #{pluralize(membership.mapplication.verdicts.supporters.count,'supporter')}" : 'n/a' %>
      </td>  
      <td>
        <%= membership.created_at %>
      </td>
      <% if @membership.admin? %>
        <% if @group.facebook_group %>
          <td>
            <% if membership.added_to_facebook_group  %>
              <i class="fa fa-check"></i>
            <% else %>
              <input type="checkbox" onclick="window.location = '/memberships/<%=membership.id%>/added_to_facebook_group'">
            <% end %>
          </td>      
        <% end %>
        <td>
          <% form_tag "/memberships/#{membership.id}/paid" do %>
            <div class="input-group">
              <span class="input-group-addon">£</span>
              <%= number_field_tag :paid, :class => 'form-control', :style => 'width: 6em', :value => membership.paid %>
            </div>
          <% end %>
        </td>            
        <td>
          <% if !membership.admin %>
            <a class="btn btn-success" href="/memberships/<%=membership.id%>/make_admin">Make admin</a>
          <% end %>
        </td>
      <% end %>
      <!--
  <td>
      <% membership.teamships.each { |teamship| %>
                                                      <span class="label label-primary"><%=teamship.team.name%></span>
      <% } %></td>
  <td>
      <%=pluralize(membership.shifts.count,'shift')%>
  </td>
      -->
    </tr>
  <% } %>
    <tr>
      <th></th>      
      <th></th>
      <th></th>
      <th></th>
      <% if @membership.admin %>
        <% if @group.facebook_group %>
          <th></th>
        <% end %>
        <th>£<%=  p = @group.memberships.pluck(:paid); p.sum unless p.compact.empty? %></th>
        <th></th>
      <% end %>
      <!--
     <th></th>
     <th></th>
      -->            
    </tr>
</table>