
<%= partial :group_header %>

<% x = [] %>
<%  x << capture do %>
  <a href="?"><i data-toggle="tooltip" title="Members" class="fa fa-group"></i></a> <%= @group.memberships.count %>
<% end %>
<% Account.genders.reject(&:blank?).map { |gender| x << capture do %>
    <a href="?gender=<%=gender%>"><%= Account.gender_symbol(gender, pluralize: true) %></a> <%= @group.memberships.where(:account_id.in => Account.where(:gender => gender).pluck(:id)).count %>
  <% end  } %>
<% x << capture do %>
  <a href="?poc=true" style="font-weight: bold" data-toggle="tooltip" title="People of colour">P</a> <%= @group.memberships.where(:account_id.in => Account.where(:poc => true).pluck(:id)).count %>
<% end %>
<% if a = Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.ne => nil).order('date_of_birth asc').first; a.date_of_birth.year.to_s[2].to_i.upto(9) do |d| d = "#{d}0".to_i; x << capture do %>
      <a href="?d=<%=d%>" data-toggle="tooltip" title="Born in the <%=d%>s"><%= d %>s</a> <%= Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.gte => "19#{d}-01-01").where(:date_of_birth.lt => "19#{d+10}-01-01").count %>
    <% end; end; end %>
<% x << capture do %>
  <a href="?paid=true" style="font-weight: bold" data-toggle="tooltip" title="Paid"><i class="fa fa-gbp"></i></a> <%= @group.memberships.where(:paid.ne => nil).count %>
<% end %>
<% x << capture do %>
  <a href="?not_paid=true" style="font-weight: bold" data-toggle="tooltip" title="Not paid"><i class="fa fa-warning"></i></a> <%= @group.memberships.where(:paid => nil).count %>
<% end %>
<% x << capture do %>
  <a href="?shifts=true" style="font-weight: bold" data-toggle="tooltip" title="Shifts"><i class="fa fa-hand-paper-o"></i></a> <%= @group.memberships.where(:account_id.in => Shift.pluck(:account_id)).count %>
<% end %>
<% x << capture do %>
  <a href="?no_shifts=true" style="font-weight: bold" data-toggle="tooltip" title="No shifts"><i class="fa fa-warning"></i></a> <%= @group.memberships.where(:account_id.nin => Shift.pluck(:account_id)).count %>
<% end %>

<div style="margin: 10px 0; font-size: 20px"><%= x.map(&:strip).join(' &middot; ') %></div>

<% form_tag '', :method => 'get' do %>
  <%= text_field_tag :q, :class => 'form-control', :style => 'width: auto; display: inline-block', :placeholder => 'Search members', :value => params[:q] %>
  &middot;
  <% if params[:view] == 'wall' %>
    <a href="?">Table view</a>
  <% else %>
    <a href="?view=wall">Wall view</a>
  <% end %>
<% end %>

<% if params[:view] == 'wall' %>

  <div style="margin-top: 15px">
    <% (Account.where(:id.in => @memberships.pluck(:account_id)).where(:picture_uid.ne => nil).shuffle + Account.where(:id.in => @memberships.pluck(:account_id)).where(:picture_uid => nil).shuffle).each { |account| %><img style="width: 149px; margin-bottom: 5px; margin-right: 5px;" data-toggle="tooltip" title="<%=account.name%>" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" /><% } %>      
  </div>

<% else; @memberships = @memberships.page(params[:page]) %>


  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 1px">Name</th>      
        <th>Proposed by</th>
        <th>Accepted at</th>
        <th>Accepted on</th>
        <% if @membership.admin %>
          <% if @group.facebook_group %>
            <th>Added to Facebook group?</th>
          <% end %>
        <% end %>
        <th>Paid</th>
        <% if @membership.admin %>
          <th></th>
        <% end %>           
      </tr>
    </thead>
    <% @memberships.each { |membership| account = membership.account %>
      <tr>
        <td>
          <%= partial :account, :object => account, :locals => {:membership => membership} %>
          <div>
            <% membership.teamships.each { |teamship| %>
              <a href="/h/<%=@group.slug%>/teams"><span class="label label-primary"><%=teamship.team.name%></span></a>
            <% } %>        
          </div>
        </td>
        <td>
          <%= membership.mapplication ? membership.mapplication.verdicts.proposers.map { |verdict| verdict.account.name }.to_sentence : '' %>
        </td>        
        <td>
          <% if membership.mapplication; mapplication = membership.mapplication %>
            <%=pluralize(mapplication.verdicts.supporters.count,'supporter') %>

            <% if mapplication.answers %>
              <div>
                <a href="javascript:;" onclick="$('#modal .modal-content').load('/mapplications/<%=mapplication.id%>', function () {
                              $('#modal').modal('show')
                            });">
                  <i class="fa fa-file-text-o" style="font-size: 20px"></i>
                </a>
              </div>
            <% end %>
          <% end %>
        </td>  
        <td>
          <%= membership.created_at %>
        </td>
        <% if @membership.admin? %>
          <% if @group.facebook_group %>
            <td>
              <% if membership.added_to_facebook_group  %>
                <i class="fa fa-check"></i>
              <% else %>
                <input type="checkbox" onclick="window.location = '/memberships/<%=membership.id%>/added_to_facebook_group'">
              <% end %>
            </td>      
          <% end %>
        <% end %>
        <td>
          <% if @membership.admin? %>
            <% if membership.paid %>
              <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= "£#{membership.paid}" if membership.paid %></a>
            <% end %>
            <% form_tag "/memberships/#{membership.id}/paid", :style => ('display:none' if membership.paid) do %>
              <div class="input-group">
                <span class="input-group-addon">£</span>
                <%= number_field_tag :paid, :class => 'form-control', :style => 'width: 6em', :value => membership.paid %>
              </div>
            <% end %>
          <% else %>
            <%= "£#{membership.paid}" if membership.paid %>
          <% end %>
        </td>   
        <% if @membership.admin? %>
          <td>
            <% if !membership.admin %>
              <a class="btn btn-success" href="/memberships/<%=membership.id%>/make_admin">Make admin</a>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% } %>
    <tr>
      <th></th>      
      <th></th>
      <th></th>
      <th></th>
      <% if @membership.admin %>
        <% if @group.facebook_group %>
          <th></th>
        <% end %>
      <% end %>        
      <th>£<%= @group.memberships.pluck(:paid).compact.sum %></th>
      <% if @membership.admin %>
        <th></th>
      <% end %>        
    </tr>
  </table>

  <div style="text-align: center">
    <%= will_paginate @memberships, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>

<% end %>