
<%= partial :group_header %>

<div class="row">
  <div class="col-sm-6">
    <% if @group.intro_for_members %>  
      <div style="margin-top: 20px">
        <%= @group.intro_for_members %>
      </div>
    <% end %>  
    <h2>Your todos</h2>
    <%= partial :alerts %>
    <h2>Online now</h2>
    <% @group.members.where(:last_active.gt => 5.minutes.ago).each { |account| %><img style="width: 75px; margin-bottom: 5px; margin-right: 5px;" data-toggle="tooltip" title="<%=account.name%><br /><%=time_ago_in_words account.last_active%> ago" src="<%=account.picture ? account.picture.thumb('400x400#').url : '/images/silhouette.png'%>" /><% } %>
  </div>  
  <div class="col-sm-6">
    <style>
      #notifications { font-size: 14px; margin-top: 20px }
    </style>
    <%= partial :newsfeed, :locals => {:notifications => @notifications} %>      
    <%= will_paginate @notifications, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
</div>