
<%= partial :group_header %>

<div data-pagelet-url="/h/<%=@group.slug%>/threshold">
  <%= partial :threshold %>
</div>

<%= partial :mapplications %>

<% if @group.mapplications.rejected.count > 0 %>
  <a href="/h/<%=@group.slug%>/applications/rejected">View <%=pluralize(@group.mapplications.rejected.count, 'rejected application')%></a>
<% end %>