
<%= partial :group_header %>

<% if @group.threshold %>
  <p style="font-size: 20px; margin: 10px 0">Automatically accepting applications with <%=@group.threshold%> proposers + supporters</p>
<% end %>

<%= partial :mapplications %>

<% if @group.mapplications.rejected.count > 0 %>
  <a href="/h/<%=@group.slug%>/applications/rejected">View <%=pluralize(@group.mapplications.rejected.count, 'rejected application')%></a>
<% end %>