<%= partial :group_header %>

<% if @membership.admin? %>
  <% form_tag "/rotas/create?group_id=#{@group.id}" do %>
    <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New rota' %>
  <% end %>
<% end %>

<% @group.rotas.each { |rota| %>
  <h2>
    <% if @membership.admin? %>
      <a data-confirm="Delete this rota?" href="/rotas/<%=rota.id%>/destroy">
        <%=rota.name%>
      </a>
    <% else %>
      <%=rota.name%>
    <% end %>     
  </h2>

  <% if @membership.admin? %>
    <table>
      <tr>
        <td></td>
        <td>
          <% form_tag "/rslots/create?rota_id=#{rota.id}", :class => 'form-inline', :style => 'display: inline' do %>
            <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New slot' %>
          <% end %>          
        </td>
      </tr>
      <tr>
        <td>
          <% form_tag "/roles/create?rota_id=#{rota.id}", :class => 'form-inline', :style => 'display: inline' do %>
            <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New role' %>
          <% end %>
        </td>
        <td></td>
      </tr>    
    </table>    
  <% end %>

  <table class="table table-striped">
    <tr>
      <td></td>
      <% rota.rslots.each { |rslot| %>
        <td>
          <% if @membership.admin? %>
            <a data-confirm="Delete this slot?" href="/rslots/<%=rslot.id%>/destroy">
              <%=rslot.name%>
            </a>
          <% else %>
            <%=rslot.name%>
          <% end %>                
        </td>
      <% } %>
    </tr>
    <% rota.roles.each { |role| %>
      <tr>
        <td>
          <% if @membership.admin? %>
            <a data-confirm="Delete this role?" href="/roles/<%=role.id%>/destroy">
              <%=role.name%>
            </a>
          <% else %>
            <%=role.name%>
          <% end %> 
        </td>
        <% rota.rslots.each { |rslot| %>
          <td>
            <% if shift = Shift.find_by(rslot: rslot, role: role); account = shift.account %>
              <% if shift.account == current_account or @membership.admin? %>
                <a data-confirm="Remove this person from this shift?" href="/shifts/<%=shift.id%>/destroy">
                  <%=account.name%>
                </a>
              <% else %>
                <%=account.name%>
              <% end %>            
            <% else %>
              <a class="btn btn-primary" href="/shifts/create?rota_id=<%=rota.id%>&rslot_id=<%=rslot.id%>&role_id=<%=role.id%>">Sign up</a>
            <% end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </table>

<% } %>