<%= partial :group_header %>

<% @group.rotas.each { |rota| %>
  <h2><%=rota.name%></h2>

  <table class="table table-striped">
    <tr>
      <td></td>
      <% rota.slots.each { |slot| %>
        <td><%=slot.name%></td>
      <% } %>
    </tr>
    <% rota.rota_roles.each { |rota_role| %>
      <tr>
        <td><%=rota_role.name%></td>
        <% rota.slots.each { |slot| %>
          <td>
            <% if shift = Shift.find_by(slot: slot, rota_role: rota_role); account = shift.account %>
              <% if shift.account == current_account or @membership.admin? %>
                <a href="/shifts/<%=shift.id%>/destroy">
                  <%=account.name%>
                </a>
              <% else %>
                <%=account.name%>
              <% end %>            
            <% else %>
              <a class="btn btn-primary" href="/shifts/create?rota_id=<%=rota.id%>&slot_id=<%=slot.id%>&rota_role_id=<%=rota_role.id%>">Sign up</a>
            <% end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </table>

<% } %>