<%= partial :group_header %>

<% @group.rotas.each { |rota| %>
  <h2><%=rota.name%></h2>

  <% if @membership.admin? %>
    <% form_tag "/roles/create?rota_id=#{rota.id}", :class => 'form-inline', :style => 'display: inline' do %>
      <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New role' %>
    <% end %>  

    <% form_tag "/slots/create?rota_id=#{rota.id}", :class => 'form-inline', :style => 'display: inline' do %>
      <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New slot' %>
    <% end %>    
  <% end %>

  <table class="table table-striped">
    <tr>
      <td></td>
      <% rota.slots.each { |slot| %>
        <td><%=slot.name%></td>
      <% } %>
    </tr>
    <% rota.roles.each { |role| %>
      <tr>
        <td>
          <% if @membership.admin? %>
            <a href="/roles/<%=role.id%>/destroy">
              <%=role.name%>
            </a>
          <% else %>
            <%=role.name%>
          <% end %> 
        </td>
        <% rota.slots.each { |slot| %>
          <td>
            <% if shift = Shift.find_by(slot: slot, role: role); account = shift.account %>
              <% if shift.account == current_account or @membership.admin? %>
                <a href="/shifts/<%=shift.id%>/destroy">
                  <%=account.name%>
                </a>
              <% else %>
                <%=account.name%>
              <% end %>            
            <% else %>
              <a class="btn btn-primary" href="/shifts/create?rota_id=<%=rota.id%>&slot_id=<%=slot.id%>&role_id=<%=role.id%>">Sign up</a>
            <% end %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </table>

<% } %>