<form action="/search" id="search-form">
  <div class="search-input">
    <a href="javascript:;" onclick="$(this).next().val('').focus()" class="search-close">×</a>
    <input name="q" type="text" class="form-control input-lg" value="<%=params[:q]%>">  
  </div>

  <% Account.check_box_scopes.each_with_index { |el,i| k,t,r = *el %>
    <div class="checkbox-inline ml-3 mb-2">
      <%= check_box_tag k, :value => true, :checked => params[k], :onclick => 'this.form.submit()', :id => k %>
      <label for="<%=k%>">
        <%=t%>&nbsp;<strong><%=r.count%></strong>
      </label>
    </div>        
  <% } %>      

  <input type="hidden" name="type" id="type" value="<%=@type%>" />
</form>

<ul class="search-tab">
  <% {'People' => 'accounts', 'Groups' => 'groups'}.each { |k,v| %>
    <li <% if @type == v %> class="active" <% end %> ><a href="javascript:;" onclick="$('#type').val('<%=v%>');
        $('#search-form').submit()"><%=k%></a></li>
    <% } %>
</ul>

<% if params[:type] %>

  <ul class="search-result-list">

    <% case @type; when 'accounts' %>
      <% @accounts.each { |account|  %>
        <li>
          <%= partial 'accounts/search_result', :locals => {:account => account} %>
        </li>
      <% } %>
    <% when 'groups' %>
      <% @groups.each { |group|  %>
        <li>
          <% if group.cover_image %>
            <div class="search-result-media" style="height: auto">
              <a href="/a/<%=group.slug%>"><img src="<%=group.cover_image.thumb('400x400').url%>" /></a>
            </div>
          <% end %>
          <div class="search-result-content">
            <h2>
              <a class="text-dark" href="/a/<%=group.slug%>"><%=group.name%></a>    
            </h2>            
          </div>
        </li>
      <% } %>
    <% end %>

  </ul>

<% end %>