
<%= partial :group_header %>

<% form_tag "/spends/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'margin-top: 10px' do %>
  <%= text_field_tag :item, :required => true, :class => 'form-control', :style => 'width: 10em', :placeholder => 'Item' %>          

  <div class="input-group">
    <span class="input-group-addon">£</span>
    <%= number_field_tag :amount, :required => true, :class => 'form-control', :style => 'width: 8em', :placeholder => 'Amount' %>
  </div>

  <%= submit_tag 'Submit expense', :class => 'btn btn-primary' %>
<% end %>  

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Paid by</th>
      <% if @membership.admin? %>
        <th>Reimbused?</th>
      <% end %>
    </tr>
  </thead>
  <% @group.spends.each { |spend| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a data-confirm="Delete this spend?" href="/spends/<%=spend.id%>/destroy">
            <%=spend.item%>
          </a>
        <% else %>
          <%=spend.item%>
        <% end %>                 
      </td>
      <td>£<%=spend.amount%></td>
      <td><%=spend.account.name%></td>
      <% if @membership.admin? %>
        <td>
          <% if spend.reimbursed %>
            <i class="fa fa-check"></i>
          <% else %>
            <input type="checkbox" onclick="window.location = '/spends/<%=spend.id%>/reimbursed'">
          <% end %>                
        </td>
      <% end %>
    </tr>
  <% } %>
</table>