<h2>Comments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Account</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each { |comment| %>
      <tr>
        <td class="subject">
          <a href="<%=comment.post.url%>"><%= comment.first_in_post.email_subject %></a>
        </td>
        <td>
          <a href="/u/<%=comment.account.username%>"><%=comment.account.name%></a>
        </td>
        <td>
          <%= comment.created_at %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(function () {
    $('.subject a').each(function () {
      [a, b] = $(this).text().split(']')
      a = a.split('[')[1]
      $(this).html('<span class="label label-primary">' + a + '</span>' + b)
    })
  })
</script>

<%= will_paginate @comments, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer, :param_name => 'comments_page' %>

<h2>Accounts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each { |account| %>
      <tr>
        <td>
          <a href="/u/<%=account.username%>"><%=account.name%></a>
        </td>
        <td>
          <%= account.created_at %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%= will_paginate @accounts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer, :param_name => 'accounts_page' %>
