<%= partial :group_header %>

<% if @membership.admin? %>
  <% form_tag "/teams/create?group_id=#{@group.id}" do %>
    <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New team' %>
  <% end %>    
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>People</th>
    </tr>
  </thead>
  <% @group.teams.order('name asc').each { |team| %>
    <tr>
      <td>
        <% if @membership.admin? %>
          <a data-confirm="Delete this team?" href="/teams/<%=team.id%>/destroy">
            <%=team.name%>
          </a>
        <% else %>
          <%=team.name%>
        <% end %>                   
      </td>
      <td>
        <% team.teamships.each { |teamship| account = teamship.account %>
          <% if teamship.account == current_account or @membership.admin? %>
            <a data-confirm="Remove this person from this team?" href="/teamships/<%=teamship.id%>/destroy">
              <%=account.name%>
            </a>
          <% else %>
            <%=account.name%>
          <% end %>
        <% } %>
        <% unless team.teamships.find_by(account: current_account) %>
          <a class="btn btn-primary" href="/teamships/create?team_id=<%=team.id%>">Join</a>
        <% end %>
      </td>
    </tr>
  <% } %>
</table>