
<%= partial :group_header %>

<script>
  $(function () {
    $('.activity').draggable({revert: "invalid"});
    $('.activity-accept').droppable({
      drop: function (event, ui) {
        var activity = $(ui.draggable)
        var accept = $(this)
        $.post('/activities/' + $(activity).attr('data-activity-id') + '/schedule', {tslot_id: $(accept).attr('data-tslot-id'), space_id: $(accept).attr('data-space-id')}, function () {
          console.log(activity.parent())
          $(accept).droppable("option", "disabled", true);
          if (activity.parent().hasClass('activity-accept'))
            $(activity.parent()).droppable("option", "disabled", false);
          $(activity).detach().css({top: 0, left: 0}).appendTo(accept);
        })
      }
    });
    $('.activity-accept[data-activity-id]').droppable("option", "disabled", true);

    $('.activity').popover({
      placement: 'bottom',
      viewport: false,
      html: true,
      content: function () {
        return $(this).find('.description').html()
      }
    })

    $('#activity-form div.col-sm-6').removeClass('col-sm-6').addClass('col-sm-9')
  });
</script>

<style>
  .popover { width: 240px; background: black; color: white }
  .popover.bottom > .arrow::after { border-bottom-color: black }
  .activity a, .activity span { font-size: 12px; color: white }
  .activity, .activity-accept { height: 120px }
  td .activity, td .activity-accept { width: 240px }
  .activity h3 a { font-size: 18px; text-decoration: none }
</style>

<div class="row">

  <div class="col-sm-3">
    <h2>Unscheduled</h2>

    <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> Propose an activity</a>
    <div style="display: none" id="activity-form">
      <%= partial :activity_form %>  
    </div>

    <div style="margin-top: 10px">
      <% @group.activities.where(space_id: nil).each { |activity| %>             
        <%= partial :activity, :object => activity %>        
      <% } %>
    </div>

  </div>
  <div class="col-sm-9">
    <h2>Scheduled</h2>


    <table class="table table-striped">
      <tr>
        <td></td>
        <% @group.spaces.each { |space| %>
          <td>
            <strong>
              <% if @membership.admin? %>
                <a data-confirm="Delete this space?" href="/spaces/<%=space.id%>/destroy">
                  <%=space.name%>
                </a>
              <% else %>
                <%=space.name%>
              <% end %>       
            </strong>
          </td>
        <% } %>
        <% if @membership.admin? %>
          <td style="width: 1px">
            <% form_tag "/spaces/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'display: inline' do %>
              <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New space' %>
            <% end %>        
          </td>
        <% end %>
      </tr>
      <% @group.tslots.each { |tslot| %>
        <tr>
          <td style="width: 1px">
            <strong>
              <% if @membership.admin? %>
                <a data-confirm="Delete this slot?" href="/tslots/<%=tslot.id%>/destroy">
                  <%=tslot.name%>
                </a>
              <% else %>
                <%=tslot.name%>
              <% end %> 
            </strong>
          </td>
          <% @group.spaces.each { |space| activity = Activity.find_by(tslot: tslot, space: space) %>
            <td>
              <div class="activity-accept" style="background: #ddd;" <% if activity %>data-activity-id="<%=activity.id%>"<% end %> data-tslot-id="<%=tslot.id%>" data-space-id="<%=space.id%>">
                <% if activity  %>
                  <%= partial :activity, :object => activity %>
                <% end %>                  
              </div>
            </td>
          <% } %>
          <% if @membership.admin? %>
            <td></td>
          <% end %>        
        </tr>
      <% } %>
      <% if @membership.admin? %>
        <tr>
          <td>
            <% form_tag "/tslots/create?group_id=#{@group.id}", :class => 'form-inline', :style => 'display: inline' do %>
              <%= text_field_tag :name, :class => 'form-control', :style => 'width: 10em', :placeholder => 'New slot' %>
            <% end %>                  
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</div>