<div class="row no-gutters">
  <div class="col-12 col-sm-auto mr-3">
    <% if @promoter.image %>
      <img src="<%=@promoter.image.thumb('200x200').url%>" />
    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col">
    <h1>
      <%= @promoter.name %>
    </h1>
    <div class="mb-2">
      <% if promoter_admin? %>
        <a class="btn btn-primary" href="/promoters/<%=@promoter.id%>/edit"><i class="fa fa-pencil"></i> Edit promoter</a>
      <% end %>
    </div>
    <table class="table table-hr">
      <% if @promoter.website %>
        <tr>
          <td>Website</td>
          <td>
            <a target="_blank" href="<%=@promoter.website%>"><%=@promoter.website%></a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Created by</td>
        <td>
          <a href="/u/<%=@promoter.account.username%>"><%=@promoter.account.name%></a>
        </td>
      </tr>
    </table>
    <% if promotership = @promoter.promoterships.find_by(account: current_account) %>
      <a class="btn btn-danger" href="/promoterships/<%=promotership.id%>/destroy">Disconnect your Stripe account from <%=@promoter.name%></a>
    <% elsif current_account %>
      <a class="btn btn-success" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%=@promoter.stripe_client_id%>&scope=read_write">Connect your Stripe account to <%=@promoter.name%></a>
    <% end %>
  </div>
</div>

<% if @promoter.promotercrowns.count > 0 || promoter_admin? %>
  <h2 class="mt-5">Team members</h2>
  <% if promoter_admin? %>
    <div class="mb-3">
      <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()">Add a team member</a> 
      <div style="display: none">
        <% form_for Promotercrown.new, "/promoters/#{@promoter.id}/promotercrowns/new" do |f| %>
          <%= f.lookup_block :account_id, lookup_url: "/accounts.json", placeholder: 'Search accounts' %>
          <%= f.submit_block button_text: 'Add team member' %>
        <% end %>
      </div>
    </div>
  <% end %>  
  <div class="image-wall">
    <% accounts = @promoter.team_members.order('name asc').paginate(:page => params[:page], :per_page => 50); accounts.each { |account|  %>
      <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
    <% } %>
  </div>
  <div class="mt-3">
    <%= will_paginate accounts, :param_name => 'team_members_page', :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>  
<% end %>

<% if @promoter.promoterships.count > 0 %>
  <h2 class="mt-5">Connected to this promoter</h2>
  <div class="image-wall">
    <% accounts = @promoter.clients.order('name asc').paginate(:page => params[:page], :per_page => 50); accounts.each { |account|  %>
      <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
    <% } %>
  </div>
  <div class="mt-3">
    <%= will_paginate accounts, :param_name => 'clients_page', :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% end %>


<h2 class="mt-5">Activities</h2>
<a class="btn btn-primary mb-3" href="/activities/new?promoter_id=<%=@promoter.id%>">Create an activity</a>
<% activities = @promoter.activities.paginate(:page => params[:page], :per_page => 50) %>
<%= partial :'activities/blocks', :locals => {:activities => activities} %>
<div class="mt-3">
  <%= will_paginate activities, :param_name => 'activities_page', :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>  


<h2 class="mt-5">Events</h2>
<a class="btn btn-primary mb-3" href="/events/new?promoter_id=<%=@promoter.id%>">Create an event</a>
<% events = @promoter.events.future.paginate(:page => params[:page], :per_page => 50) %>
<%= partial :'events/blocks', :locals => {:events => events} %>
<div class="mt-3">
  <%= will_paginate events, :param_name => 'events_page', :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>