<h2>Comments</h2>

<% h = {}; Comment.where(:created_at.gte => 1.month.ago).each { |comment|
  if comment.commentable.respond_to?(:group)    
    if !h[comment.commentable.group_id]
      h[comment.commentable.group_id] = 1
      else
      h[comment.commentable.group_id] += 1
    end  
  end
  }; active_groups = h.select { |id,count| count >= 3 } %>

<p class="lead">
  <%= pluralize active_groups.count, 'active group' %> in the last month
  <small>
    <% active_groups.each { |id,count| %>
      <span class="label" style="background-color: #<%=Digest::MD5.hexdigest("Group#{id}")[0..5]%>"><%= Group.find(id).name %></span>
    <% } %>
  </small>
</p>



<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Account</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each { |comment| 
      c = comment.commentable.respond_to?(:group) ? "Group#{comment.commentable.group_id}" : "#{comment.commentable_type}#{comment.commentable_id}"
    %>
      <tr>
        <td class="subject">
          <a href="<%=comment.post.url%>">
            <span class="label" style="background-color: #<%=Digest::MD5.hexdigest(c)[0..5]%>"><%= comment.first_in_post.email_subject.split(']').first.split('[').last %></span>
            <%= comment.first_in_post.email_subject.split(']').last %>
          </a>
        </td>
        <td>
          <a href="/u/<%=comment.account.username%>"><%=comment.account.name%></a>
        </td>
        <td>
          <%= comment.created_at %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%= will_paginate @comments, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>

