<div <% if completed %>style="opacity: 0.3"<% end %>>      
  <div 
    onclick="
    <% if completed %>
          if (confirm('Really uncomplete this habit?')) {
            $(this).next().find('input').click()
          }
    <% else %>
          console.log($(this).find('input'))
          $(this).next().find('input').click()
    <% end %>
    "        
    class="p-2 d-block" 
    style="cursor: pointer; height: 160px; <% if !habit.image %>border: 2px solid #343a40;<% end %> <% if habit.image %>background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%=habit.image.url%>'); background-size: cover; background-position: center center;<% end %>">
    <div class="row">
      <div class="col">
        <h3>
          <a class="<% if habit.image %>text-white<% else %>text-dark<% end%> " href="/habits/<%=habit.id%>/edit" onclick="event.stopPropagation();">
            <%= habit.name %>
            <% if completed %>
              <i class="fa fa-check"></i>
            <% end %>
          </a>
        </h3>
      </div>
      <div class="col-auto">            
        <% if habit.public %>                         
          <i class="fa fa-globe"></i>
        <% else %>
          <i class="fa fa-lock"></i>
        <% end %>
      </div>
    </div>
    <% if completed and completed.comment %>
      <p class="text-white"><%= completed.comment %></p>
    <% end %>
  </div>          
  <% form_tag "/habits/#{habit.id}/completed", :style => 'display: none' do %>
    <%= hidden_field_tag :date, :value => @date %>
    <%= hidden_field_tag :comment %>
    <%= check_box_tag :completed, :value => true, :checked => completed, :onclick => "if ($(this).is(':checked')) { var comment = prompt('Add a comment'); $(this.form).find('input[name=comment]').val(comment); } $(this.form).submit()" %>
  <% end %>      
</div>