<% form_for @habit, @habit.new_record? ? '/habits/new' : "/habits/#{@habit.id}/edit" do  |f| %>
  <%= f.text_block :name %>
  <%= f.image_block :image %>
  <div class="my-3">&mdash; or &mdash;</div>
  <%= f.url_block :image_url %>
  <%= f.check_box_block :public %>
  <div class="my-3">
    <%= f.submit_block destroy_url: "/habits/#{@habit.id}/destroy" %>
  </div>
<% end %>