
<table class="table table-striped mt-3 habits">
  <thead>
    <tr>
      <th></th>
      <% @dates.each { |date| %>
        <th><%= date.to_s(:no_year) %></th>
      <% } %>      
    </tr>
  </thead>
  <tbody>
    <% @habits.order('o asc').each { |habit| %>
      <tr id="<%=habit.id%>">
        <td class="habit-name">
          <a href="/habits/<%=habit.id%>"><%= habit.name %></a>
        </td>
        <%  @dates.each { |date| %>
          <td>
            <% if completed = habit.habit_completions.find_by(date: date) %>
              <% if completed.comment %>
                <i class="fa fa-comment"></i>
                <span>
                  <% if completed.comment %>
                    <%=completed.comment%>
                  <% end %>            
                </span>                  
              <% else %>
                <i class="fa fa-check"></i>
              <% end %>
            <% end %>              
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>