
<table class="table table-striped mt-3 habits">
  <thead>
    <tr>
      <th></th>
      <% @dates.each { |date| %>
        <th><%= date.to_s(:no_year) %></th>
      <% } %>      
      <% if @habit_share %>
        <th>          
          <abbr data-toggle="tooltip" title="Visible on profile and in your groups">Public</abbr>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @habits.order('o asc').each { |habit| %>
      <tr id="<%=habit.id%>">
        <td class="habit-name">
          <% if @habit_share %>
            <a href="/habits/<%=habit.id%>/edit"><%= habit.name %></a>
          <% else %>
            <%= habit.name %>
          <% end %>
        </td>
        <%  @dates.each { |date| %>
          <td>
            <% if @habit_share %>
              <% if completed = habit.habit_completions.find_by(date: date) %>
                <i style="cursor: pointer" class="fa fa-check" onclick="$(this).hide().next().show().find('input').click()"></i>
              <% end %>  
              <% form_tag "/habits/#{habit.id}/completed", :style => ('display:none' if completed) do %>
                <%= hidden_field_tag :date, :value => date %>
                <%= check_box_tag :completed, :value => true, :checked => completed, :onclick => '$(this.form).submit()' %>
              <% end %>   
            <% else %>
              <% if completed = habit.habit_completions.find_by(date: date) %>
                <i class="fa fa-check" ></i>
              <% end %>              
            <% end %>
          </td>
        <% } %>

        <% if @habit_share %>
          <td>
            <% if habit.public? %>
              <i style="cursor: pointer" class="fa fa-check" onclick="$(this).hide().next().show().find('input').click()"></i>
            <% end %>  
            <% form_tag "/habits/#{habit.id}/public", :style => ('display:none' if habit.public?) do %>
              <%= check_box_tag :pubic, :value => true, :checked => habit.public?, :onclick => '$(this.form).submit()' %>
            <% end %>          
          </td>               
        <% end %>

      </tr>
    <% } %>
  </tbody>
</table>

<% if @habit_share %>
  <script>
    $(function () {
      $("table.habits tbody").sortable({
        update: function (event, ui) {
          $.post('/habits/order', {habit_ids: $(event.target).sortable("toArray")})
        }
      });
    })
  </script>
<% end %>