<a href="/habits"><i class="fa fa-arrow-left"></i> Return to habits</a>

<% form_for @habit, "/habits/#{@habit.id}/edit", :class => 'my-3 form-horizontal' do  |f| %>
  <%= f.text_block :name %>
  <%= f.check_box_block :public %>
  <%= f.submit_block destroy_url: "/habits/#{@habit.id}/destroy" %>
<% end %>

<ul class="fa-ul my-3">
  <% @habit.habit_completions.order('date desc').each { |habit_completion| %>
    <li>
      <i class="fa fa-li fa-check"></i>
      <%= habit_completion.date %> <% unless habit_completion.date == Date.today%>(<%= time_ago_in_words habit_completion.date %> ago)<% end %>
    </li>
  <% } %>
</ul>