<div class="row no-gutters">

  <div class="col-auto mr-3">
    <% if @habit.image %>
      <img src="<%=@habit.image.thumb('200x200').url%>" />
    <% else %>
      <div style="height: 200px; width: 200px; border: 2px solid #343a40;"></div>
    <% end %>
  </div>
  <div class="col">

    <h1>
      <%= @habit.name %>
      <% if !@habit.public? %>
        <i data-toggle="tooltip" title="Visible only to you" class="fa fa-lock"></i>
      <% end %>      
    </h1>
    <div class="mb-2">
      <% if @habit.account_id == current_account.id %>
        <a class="btn btn-primary" href="/habits/<%=@habit.id%>/edit"><i class="fa fa-pencil"></i> Edit habit</a>
      <% end %>      
    </div>

    <% if @habit.public? %>
      <table class="table table-hr">


        <tr>
          <td>A habit of</td>
          <td>
            <a href="/u/<%=@habit.account.username%>"><%=@habit.account.name%></a>
          </td>  
        </tr> 

      </table>
    <% end %>

    <dl class="row my-3"> 
      <% habit_completions = @habit.habit_completions.order('date desc').paginate(:page => params[:page], :per_page => 10); habit_completions.each { |habit_completion|  %>
        <dt class="col-6 font-weight-normal">
          <i class="fa fa-check"></i>
          <strong><%= habit_completion.date %><% unless habit_completion.date == Date.current%> (<%= time_ago_in_words habit_completion.date %> ago)<% end %></strong><% if habit_completion.comment %>: <%= habit_completion.comment %><% end %>
        </dt>
        <dd class="col-6"><td>
          <div class="habit-completion-likes" data-pagelet-url="/habit_completions/<%=habit_completion.id%>/likes" style="font-size: 12px; display: inline"></div>
          </dd>
        <% } %>
    </dl>

    <%= will_paginate habit_completions, :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>

  </div> 
</div>

<div class="mt-3" data-pagelet-url="/commentable?commentable_type=Habit&commentable_id=<%=@habit.id%>">
  <%= partial :'comments/commentable', :locals => {:commentable => @habit} %>
</div>
