<div class="row justify-content-between">
  <div class="col">
    <h1><%= @habit.name %></h1>
    <p class="lead mb-0">A habit of <a href="/accounts/<%=@habit.account_id%>"><%=@habit.account.name%></a></p>    
  </div>
  <div class="col-auto">
    <% if @habit.account_id == current_account.id %>
      <a class="btn btn-primary" href="/habits/<%=@habit.id%>/edit"><i class="fa fa-pencil"></i> Edit habit</a>
    <% end %>    
  </div>
</div>

<%= partial :'habits/log_simple', :locals => {:habit_completions => @habit.habit_completions.order('date desc')} %>

<div data-pagelet-url="/commentable?commentable_type=Habit&commentable_id=<%=@habit.id%>">
  <%= partial :'comments/commentable', :locals => {:commentable => @habit} %>
</div>
