<div class="row justify-content-between no-gutters">
  <div class="col">
    <h1>
      <%= @place.name %>
    </h1>
    <ul class="fa-ul">
      <li><i class="fa fa-li fa-map-marker"></i> <%=@place.location%></li>
      <li><i class="fa fa-li fa-user"></i> Listed by <a href="/u/<%=@place.account.username%>"><%=@place.account.name%></a></li>
      <% if @place.website %>
        <li><i class="fa fa-li fa-globe"></i><a target="_blank" href="<%=@place.website%>"><%=URI(@place.website).host.gsub('www.','')%></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-auto">
    <% if @place.account_id == current_account.id %>
      <a class="btn btn-primary" href="/places/<%=@place.id%>/edit"><i class="fa fa-pencil"></i> Edit place</a>
    <% end %>    
  </div>
</div>

<style>
  #map-canvas { height: 400px !important; margin-bottom: 1rem; margin-top: 1rem }
</style>    
<%= partial :'maps/map', :locals => {:points => [@place]} %>