<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <link rel="manifest" href="/manifest.json">

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="/infinite_admin/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="/infinite_admin/plugins/bootstrap/bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/infinite_admin/plugins/icon/themify-icons/themify-icons.css" rel="stylesheet" />
  <link href="/infinite_admin/plugins/form/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
  <link href="/infinite_admin/css/animate.min.css" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->

  <script src="/infinite_admin/plugins/loader/pace/pace.min.js"></script>

  <!-- ================== BEGIN BASE JS ================== -->
  <script src="/infinite_admin/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="/infinite_admin/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/infinite_admin/plugins/cookie/js/js.cookie.js"></script>
  <script src="/infinite_admin/plugins/tooltip/popper/popper.min.js"></script>
  <script src="/infinite_admin/plugins/bootstrap/bootstrap4/js/bootstrap.min.js"></script>
  <script src="/infinite_admin/plugins/scrollbar/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/infinite_admin/plugins/form/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="/infinite_admin/js/apps.js?<%=@cachebuster%>"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->

  <script>
    $(document).ready(function () {
      App.init();
    });
  </script>

  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <script>
<% if Padrino.env == :development %>
      Pusher.logToConsole = true;
<% end %>
    pusher = new Pusher('<%=ENV['PUSHER_KEY']%>', {
      cluster: '<%=ENV['PUSHER_CLUSTER']%>',
      encrypted: true
    });
  </script>

  <script>
    var network = [
<% if current_account %>
  <% current_account.network.each { |account| %>
        {key: '<%=js_escape_html account.name%>', value: '<%=account.username%>'},
  <% } %>
<% end %>
    ]
  </script>

  <% {
    'font-awesome/4.7.0' => 'css/font-awesome.min.css',
    'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
    'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',
    'flatpickr/4.5.2' => 'flatpickr.min.js flatpickr.min.css',
    'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',
    'tributejs/3.5.3' => 'tribute.min.js tribute.min.css',
    'select2/3.5.2' => 'select2.min.js select2.min.css',
    'quill/1.3.7' => 'quill.min.js quill.snow.css'
    }.each { |k,v| %>
    <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
      <% case f.split('.').last.to_sym; when :js %>
        <script src="<%=u%>"></script>
      <% when :css %>
        <link rel="stylesheet" href="<%=u%>" />
      <% end %>
    <% } %>
  <% } %>

  <% [
    '/stylesheets/share.css',
    "/stylesheets/app.css?#{@cachebuster}"
    ].each { |f| %>
    <link rel="stylesheet" href="<%=f%>" />
  <% } %>

  <% [
    '//js.stripe.com/v3/',
    "//maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places",
    '//cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/067bd296184a4dda8c669923417124065b4ebced/bootstrap3-typeahead.min.js',
    '//cdn.rawgit.com/jackmoore/autosize/6ae70cd3d28888eb858eef1167e6ed75d25dff7f/dist/autosize.min.js',
    '//cdn.rawgit.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
    "/javascripts/app.js?#{Padrino.env == :development ? SecureRandom.uuid : @cachebuster}",
    '//cdn.rawgit.com/wordsandwriting/activate-tools/3016e3e32d3be4ed6d34710b04ff9fc88f425314/js/pagelets.js',
    '//cdn.rawgit.com/wordsandwriting/activate-tools/3016e3e32d3be4ed6d34710b04ff9fc88f425314/js/jquery.lookup.js',
    '/javascripts/linkify.min.js',
    '/javascripts/linkify-jquery.min.js',
    '//js.stripe.com/v3/'
    ].each { |f| %>
    <script src="<%=f%>"></script>
  <% } %>

  <%= favicon_tag 'autopia-square-transparent.png' %>
  <% @title = 'Autopia'; if @gathering; @title = "#{@gathering.name} · " + @title; end %>
  <title><%=@title%></title>
  <meta name="description" content="<%=@og_desc%>">
  <meta property="og:title" content="<%=@title%>" />
  <meta property="og:image" content="<%=@og_image%>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%=@title%>">
  <meta name="twitter:description" content="<%=@og_desc%>">
  <meta name="twitter:image" content="<%=@og_image%>">

  <%= eval(f('head')) %>

  <script>
    $(function () {

      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Update UI notify the user they can add to home screen
        $('#a2hs').show()
      });

      $('#a2hs-btn').click(function () {
        deferredPrompt.prompt();
        deferredPrompt.userChoice
                .then((choiceResult) => {
                  if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the A2HS prompt');
                  } else {
                    console.log('User dismissed the A2HS prompt');
                  }
                  deferredPrompt = null;
                });
      })

      if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('/service-worker.js?<%=@cachebuster%>')
                .then(function (reg) {
                  console.log("Yes, it did.");
                }).catch(function (err) {
          console.log("No it didn't. This happened:", err)
        });
      }

    });
  </script>

</head>
