<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script>
      <% if Padrino.env == :development %>
        Pusher.logToConsole = true;  
      <% end %>
      pusher = new Pusher('<%=ENV['PUSHER_KEY']%>', {
        cluster: '<%=ENV['PUSHER_CLUSTER']%>',
        encrypted: true
      });
    </script>     

    <% {            
      'jquery/3.1.1' => 'jquery.min.js',
      'jqueryui/1.12.1' => 'jquery-ui.min.js',
      'bootswatch/3.3.2' => 'lumen/bootstrap.min.css',      
      'twitter-bootstrap/3.3.2' => 'js/bootstrap.min.js',
      'font-awesome/4.7.0' => 'css/font-awesome.min.css',
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',      
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',      
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
      'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',     
      'fullcalendar/3.2.0' => 'fullcalendar.min.js fullcalendar.min.css'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/fonts/geldoticalowercasethick/stylesheet.css',
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}"
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      '//cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/d5d71f28b00a16766d2661aef6a75f80f1f604da/bootstrap3-typeahead.min.js',
      "/javascripts/pagelets.js?#{Time.now.to_i}",
      "/javascripts/app.js?#{Time.now.to_i}"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 'h.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%=@title%>">
    <meta name="twitter:description" content="<%=@og_desc%>">
    <meta name="twitter:image" content="<%=@og_image%>">    

    <%= eval(f('head')) %>
    
  </head>
  <body>

    <%= partial :alert %>

    <div class="container-fluid">
      <%= partial :nav %>
      <%= content_blocks[:content.to_sym].present? ? yield_content(:content) : yield %>
          
      <hr style="margin: 10px 0" />
      
      <% if current_account %>
        <% form_tag '/suggest', :style => 'margin-bottom: 10px' do %>
          <%= text_field_tag :suggestion, :class => 'form-control', :placeholder => 'Suggest a feature/improvement for this page or report a bug' %>
        <% end %>
      <% end %>
        
      <div style="text-align: center; font-size: 13px">        
        <i class="fa fa-envelope"></i> <a href="mailto:team@huddl.tech">team@huddl.tech</a>
        <i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/groups/huddl/">/groups/huddl</a>
        <i class="fa fa-github"></i> <a href="https://github.com/wordsandwriting/huddl">wordsandwriting/huddl</a>
      </div>

    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    

  </body>
</html>
