<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script>
<% if Padrino.env == :development %>
        Pusher.logToConsole = true;
<% end %>
      pusher = new Pusher('<%=ENV['PUSHER_KEY']%>', {
        cluster: '<%=ENV['PUSHER_CLUSTER']%>',
        encrypted: true
      });
    </script>     

    <% {            
      'jquery/3.2.0' => 'jquery.min.js',
      'jqueryui/1.12.1' => 'jquery-ui.min.js',      
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
      'font-awesome/4.7.0' => 'css/font-awesome.min.css',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
      'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',     
      'fullcalendar/3.2.0' => 'fullcalendar.min.js fullcalendar.min.css',
      'flatpickr/3.0.7' => 'flatpickr.min.js flatpickr.min.css'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [
      '/fonts/geldoticalowercasethick/stylesheet.css',
      '/stylesheets/share.css',
      "/stylesheets/app.css?#{Time.now.to_i}"
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      '//cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/d5d71f28b00a16766d2661aef6a75f80f1f604da/bootstrap3-typeahead.min.js',
      "/javascripts/app.js?#{Time.now.to_i}",
      '//cdn.rawgit.com/wordsandwriting/activate-tools/c625d78354fdce044753346cdfbd2e90b8084d83/js/pagelets.js',
      "//cdn.rawgit.com/wordsandwriting/activate-tools/7a73525b76c8234a4803e3196b4403ec6fd6ded7/js/textboxio/textboxio.js",
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>  

    <%= favicon_tag 'h.png' %>
    <title><%=@title%></title>
    <meta name="description" content="<%=@og_desc%>">
    <meta property="og:title" content="<%=@title%>" />
    <meta property="og:image" content="<%=@og_image%>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%=@title%>">
    <meta name="twitter:description" content="<%=@og_desc%>">
    <meta name="twitter:image" content="<%=@og_image%>">    

    <%= eval(f('head')) %>

  </head>
  <body>

    <%= partial :alert %>

    <div class="container-fluid">      
      <%= partial :nav %>

      <%= content_blocks[:content.to_sym].present? ? yield_content(:content) : yield %>

      <hr style="margin: 10px 0" />

      <div style="text-align: center; font-size: 13px"> 
        <% unless ENV['BASE_URI'] == 'https://huddl.tech' %><p>Powered by Huddl</p><% end %>
        <i class="fa fa-envelope"></i> <a href="mailto:team@huddl.tech">team@huddl.tech</a>
        <i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/groups/huddl/">/groups/huddl</a>
        <i class="fa fa-github"></i> <a href="https://github.com/wordsandwriting/huddl">wordsandwriting/huddl</a>
      </div>

    </div>

    <% if current_account %>
      <style>
        #suggest { z-index: 9999; position: fixed; bottom: 0; right: 0; width: 300px; box-shadow: 0 0 4px #999 }
      </style>
      <div id="suggest" class="p-2 bg-white">
        <a style="display: block" class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('textarea').focus()">Suggest a feature/improvement</a>
        <% form_tag '/suggest', :style => 'display: none' do %>
          <%= text_area_tag :suggestion, :class => 'form-control mb-2', :placeholder => 'Suggest a feature/improvement for this page or report a bug' %>
          <%= submit_tag 'Submit', :class => 'd-block btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    

  </body>
</html>
