<% content_for :content do %>

  <%= partial :group_header %>

  <div class="row" style="margin-top: 10px">
    <div class="col-sm-7 col-sm-push-2">
      <% if @team and @team.persisted? %>
        <h2 style="margin-top: 0" class="hidden-sm hidden-md hidden-lg"># <%=@team.name%></h2>
      <% end %>
      <%= yield %>
    </div>		
    <div class="col-sm-2 col-sm-pull-7">
      <%= partial :'teams/team_list' %>
    </div>
    <div class="col-sm-3">
      <% if @team and @team.persisted? %>
        <h2 style="margin-top: 0">Team members</h2>

        <div>
          <% @team.members.order('last_active desc').each { |account| %><%= partial :'accounts/square', :locals => {:account => account, :content => (if account.last_active; "Active #{time_ago_in_words account.last_active} ago"; end), :width => '75px'} %><% } %>      
        </div>

        <% if !@team.teamships.find_by(account: current_account) %>
          <a class="btn btn-primary" href="/teamships/create?team_id=<%=@team.id%>">Join</a>
        <% end %>

        <div style="margin-top: 10px">
          <% if teamship = @team.teamships.find_by(account: current_account) %>
            <% if teamship.unsubscribed %>
              <a href="/teamships/<%=teamship.id%>/subscribe?team_id=<%=@team.id%>">Turn on email notifications</a> &middot;
            <% else %>
              <a href="/teamships/<%=teamship.id%>/unsubscribe?team_id=<%=@team.id%>">Turn off email notifications</a> &middot;
            <% end %>
            <a href="/teamships/<%=teamship.id%>/destroy?team_id=<%=@team.id%>">Leave team</a> &middot;            
          <% end %>
          <a href="/h/<%=@group.slug%>/teams/<%=@team.id%>/edit">Edit team</a>
        </div>

      <% end %>

    </div>	  
  </div>
<% end %>
<%= render 'layouts/application' %>
