<% content_for :content do %>

  <%= partial :'groups/header' %>
        
  <div class="row" style="margin-top: 10px">	
    <div class="col-sm-9 order-sm-0">
      <% if @team and @team.persisted? %>
        <h2 style="margin-top: 0"># <%=@team.name%></h2>
      <% end %>
      <%= yield %>            
    </div>
    <div class="col-sm-3 order-sm-1">
      <% if @team and @team.persisted? %>
        <h2 style="margin-top: 0">Team members</h2>

        <div class="image-wall">
          <% @team.members.order('last_active desc').each { |account| %>
            <%= partial :'accounts/square', :locals => {:account => account, :content => (if account.last_active; "Active #{time_ago_in_words account.last_active} ago"; end), :width => '75px'} %>
          <% } %>      
        </div>

        <% if !@team.teamships.find_by(account: current_account) %>
          <div style="margin-top: 10px">
            <a class="btn btn-primary" href="/teamships/create?team_id=<%=@team.id%>">Join</a>
          </div>
        <% end %>

        <div style="margin-top: 10px">
          <% if teamship = @team.teamships.find_by(account: current_account) %>
            <% if teamship.unsubscribed %>
              <a class="btn btn-outline-primary mb-1" href="/teamships/<%=teamship.id%>/subscribe?team_id=<%=@team.id%>">Turn on email notifications</a>
            <% else %>
              <a class="btn btn-outline-primary mb-1" href="/teamships/<%=teamship.id%>/unsubscribe?team_id=<%=@team.id%>">Turn off email notifications</a>
            <% end %>
            <a class="btn btn-outline-primary mb-1" href="/teamships/<%=teamship.id%>/destroy?team_id=<%=@team.id%>">Leave team</a>
          <% end %>
          <a class="btn btn-outline-primary mb-1" href="/a/<%=@group.slug%>/teams/<%=@team.id%>/edit">Edit team</a>
        </div>

      <% end %>

    </div>	  
  </div>
<% end %>
<%= render 'layouts/application' %>
