<% account = membership.account %>
<td>
  <%= partial :'accounts/account', :object => account, :locals => {:membership => membership} %>
  <% if admin? && !account.picture %>
    <% form_tag "/accounts/#{account.id}/picture", :multipart => true do %>
      <%= file_field_tag :picture, :onchange => 'this.form.submit()' %> 
    <% end %>
  <% end %>  
  <div>
    <% membership.teamships.each { |teamship| unless teamship.team.name == 'General' %>
        <a href="/a/<%=@gathering.slug%>/teams/<%=teamship.team_id%>"><span class="label label-primary"><%=teamship.team.name%></span></a>
      <% end } %>        
  </div>
</td>
<td>
  <%= partial :'accounts/buttons', :locals => {:account => account, :btn_class => 'btn-sm'} %>
</td>
<td>
  <%= membership.mapplication ? membership.mapplication.verdicts.proposers.map { |verdict| verdict.account.name }.to_sentence : (membership.added_by ? membership.added_by.name : '') %>
</td>        
<td>
  <% mapplication = membership.mapplication; if mapplication and mapplication.answers %>
    <a href="javascript:;" onclick="$('#modal .modal-content').load('/a/<%=@gathering.slug%>/mapplications/<%=mapplication.id%>', function () {
          $('#modal').modal('show')
        });">
         <%= membership.created_at %>          
    </a>
  <% else %>  
    <%= membership.created_at %>          
  <% end %>
  <% if mapplication %>  
    <span title="Accepted at <%=  mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %> <%=@gathering.vouchers%>" class="label label-primary"><%=  mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %></span>
  <% end %>          
</td>
<% if @gathering.democratic_threshold %>
  <td><%=membership.desired_threshold%></td>
<% end %>   
<% if @gathering.enable_tiers %>
  <td>        
    <% membership.tierships.each { |tiership| %>
      <a href="/a/<%=@gathering.slug%>/tiers" class="label label-primary text-white"><%= tiership.tier.name %> (<%=@gathering.currency_symbol%><%= tiership.tier.cost_per_person %>)</a> 
    <% } %>                     
  </td>
<% end %>
<% if @gathering.enable_accommodation %>
  <td>       
    <% membership.accomships.each { |accomship| %>
      <a href="/a/<%=@gathering.slug%>/accoms" class="label label-primary text-white"><%= accomship.accom.name %> (<%=@gathering.currency_symbol%><%= accomship.accom.cost_per_person %>)</a> 
    <% } %>         
  </td> 
<% end %>
<% if @gathering.enable_transport %>
  <td>
    <% membership.transportships.each { |transportship| %>
      <a href="/a/<%=@gathering.slug%>/transports" class="label label-primary text-white"><%= transportship.transport.name %> (<%=@gathering.currency_symbol%><%= transportship.transport.cost_per_person %>)</a> 
    <% } %>
  </td>      
<% end %>
<% if @gathering.enable_budget %>
  <td>
    <%=@gathering.currency_symbol%><%= membership.requested_contribution %>
  </td>
  <td>
    <% if admin? || @membership.admin? %>
      <% if membership.paid %>
        <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= "#{@gathering.currency_symbol}#{membership.paid}" if membership.paid %></a>
      <% end %>
      <% form_tag "/memberships/#{membership.id}/paid", :style => ('display:none' if membership.paid) do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%=@gathering.currency_symbol%></span>
          </div>  
          <%= number_field_tag :paid, :class => 'form-control', :style => 'width: 6em', :value => membership.paid, :onblur => '$(this.form).submit()' %>
        </div>              
      <% end %>
    <% else %>
      <%= "#{@gathering.currency_symbol}#{membership.paid}" if membership.paid %>
    <% end %>
  </td> 
<% end %>
<% if @gathering.facebook_group_url %>
  <td>
    <% if admin? || @membership.admin? %>
      <% if membership.account.not_on_facebook %>
        Doesn't use Facebook    
      <% else %>
        <% if membership.member_of_facebook_group %>
          <i style="cursor: pointer" class="fa fa-check" onclick="$(this).hide().next().show().find('input').click()"></i>
        <% end %>  
        <% form_tag "/memberships/#{membership.id}/member_of_facebook_group", :style => ('display:none' if membership.member_of_facebook_group) do %>
          <%= check_box_tag :member_of_facebook_group, :value => true, :checked => membership.member_of_facebook_group, :onclick => '$(this.form).submit()' %>
        <% end %>
      <% end %>
    <% else %>
      <% if membership.account.not_on_facebook %>
        Doesn't use Facebook
      <% elsif membership.member_of_facebook_group %>
        <i class="fa fa-check"></i>
      <% end %>          
    <% end %>
  </td>
<% end %>
<% if admin? || @membership.admin? %>
  <td style="font-size: 13px">
    <% y = [] %>
    <% if membership.admin %>
      <% y << capture do %>            
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%=membership.id%>/unadmin">Unadmin</a>
      <% end %>
    <% else %>
      <% y << capture do %>            
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%=membership.id%>/make_admin">Make admin</a>
      <% end %>
    <% end %>
    <% y << capture do %>            
      <a class="btn btn-outline-primary mb-1" data-confirm="Are you sure you want to remove this person from the gathering?" href="/memberships/<%=membership.id%>/remove">Remove</a>
    <% end %>
    <%= y.map(&:strip).join(' ') %>
  </td>
<% end %>
</tr>