<% account = membership.account %>
<td>
  <%= partial :'accounts/account', :object => account, :locals => {:membership => membership} %>
  <div>
    <% membership.teamships.each { |teamship| unless teamship.team.name == 'General' %>
        <a href="/a/<%=@group.slug%>/teams/<%=teamship.team_id%>"><span class="badge badge-primary"><%=teamship.team.name%></span></a>
      <% end } %>        
  </div>
</td>
<td>
  <%= membership.mapplication ? membership.mapplication.verdicts.proposers.map { |verdict| verdict.account.name }.to_sentence : '' %>
</td>        
<td>
  <% mapplication = membership.mapplication; if mapplication and mapplication.answers %>
    <a href="javascript:;" onclick="$('#modal .modal-content').load('/a/<%=@group.slug%>/mapplications/<%=mapplication.id%>', function () {
          $('#modal').modal('show')
        });">
         <%= membership.created_at %>          
    </a>
  <% else %>  
    <%= membership.created_at %>          
  <% end %>
  <% if mapplication %>  
    <span title="Accepted at <%=  mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %> <%=@group.vouchers%>" class="badge badge-primary"><%=  mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %></span>
  <% end %>          
</td>
<% if @group.democratic_threshold %>
  <td><%=membership.desired_threshold%></td>
<% end %>   
<% if @group.enable_tiers %>
  <td>        
    <% if @membership.admin? %>
      <% if tiership = membership.tiership %>
        <span style="cursor: pointer" onclick="$(this).hide().next().show()" class="badge badge-primary"><%= tiership.tier.name %> (<%=@group.currency_symbol%><%= tiership.tier.cost %>)</span>
      <% end %>  
      <% form_tag "/memberships/#{membership.id}/tier", :style => ('display:none' if tiership) do %>
        <%= select_tag :tier_id, :class => 'form-control', :options => [''] + @group.tiers.map { |tier| [tier.name, tier.id] }, :selected => tiership.try(:tier_id), :onchange => '$(this.form).submit()' %>
      <% end %>  
    <% else %>
      <% if tiership = membership.tiership %>
        <span class="badge badge-primary"><%= tiership.tier.name %> (<%=@group.currency_symbol%><%= tiership.tier.cost %>)</span>
      <% end %>   
    <% end %>                       
  </td>
<% end %>
<% if @group.enable_accommodation %>
  <td>       
    <% if @membership.admin? %>
      <% if accomship = membership.accomship %>
        <span style="cursor: pointer" onclick="$(this).hide().next().show()" class="badge badge-primary"><%= accomship.accom.name %> (<%=@group.currency_symbol%><%= accomship.accom.cost_per_person %>)</span>
      <% end %>  
      <% form_tag "/memberships/#{membership.id}/accom", :style => ('display:none' if accomship) do %>
        <%= select_tag :accom_id, :class => 'form-control', :options => [''] + @group.accoms.select { |accom| !accom.full? }.map { |accom| [accom.name, accom.id] }, :selected => accomship.try(:accom_id), :onchange => '$(this.form).submit()' %>
      <% end %>

    <% else %>
      <% if accomship = membership.accomship %>
        <span class="badge badge-primary"><%= accomship.accom.name %> (<%=@group.currency_symbol%><%= accomship.accom.cost_per_person %>)</span>
      <% end %>
    <% end %>           
  </td> 
<% end %>
<% if @group.enable_transport %>
  <td>
    <% membership.transportships.each { |transportship| %>
      <span class="badge badge-primary"><%= transportship.transport.name %> (<%=@group.currency_symbol%><%= transportship.transport.cost %>)</span> 
    <% } %>
  </td>      
<% end %>
<% if @group.enable_budget %>
  <td>
    <%=@group.currency_symbol%><%= membership.requested_contribution %>
  </td>
  <td>
    <% if @membership.admin? %>
      <% if membership.paid %>
        <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= "#{@group.currency_symbol}#{membership.paid}" if membership.paid %></a>
      <% end %>
      <% form_tag "/memberships/#{membership.id}/paid", :style => ('display:none' if membership.paid) do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%=@group.currency_symbol%></span>
          </div>  
          <%= number_field_tag :paid, :class => 'form-control', :style => 'width: 6em', :value => membership.paid, :onblur => '$(this.form).submit()' %>
        </div>              
      <% end %>
    <% else %>
      <%= "#{@group.currency_symbol}#{membership.paid}" if membership.paid %>
    <% end %>
  </td> 
<% end %>
<% if @group.facebook_group_url %>
  <td>
    <% if @membership.admin %>
      <% if membership.account.not_on_facebook %>
        Doesn't use Facebook    
      <% elsif membership.member_of_facebook_group %>
        <i style="cursor: pointer" class="fa fa-check" onclick="$(this).hide().next().show().find('input').click()"></i>
      <% end %>  
      <% form_tag "/memberships/#{membership.id}/member_of_facebook_group", :style => ('display:none' if membership.member_of_facebook_group) do %>
        <%= check_box_tag :member_of_facebook_group, :value => true, :checked => membership.member_of_facebook_group, :onclick => '$(this.form).submit()' %>
      <% end %>
    <% else %>
      <% if membership.account.not_on_facebook %>
        Doesn't use Facebook
      <% elsif membership.member_of_facebook_group %>
        <i class="fa fa-check"></i>
      <% end %>          
    <% end %>
  </td>
<% end %>
<% if @group.enable_bookings %>
  <td>
    <% if @membership.admin? %>
      <% if membership.booking_limit %>
        <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= membership.booking_limit if membership.booking_limit %></a>
      <% end %>
      <% form_tag "/memberships/#{membership.id}/booking_limit", :style => ('display:none' if membership.booking_limit) do %>
        <%= number_field_tag :booking_limit, :class => 'form-control', :style => 'width: 6em', :value => membership.booking_limit, :onblur => '$(this.form).submit()' %>
      <% end %>
    <% else %>
      <%= membership.booking_limit if membership.booking_limit %>
    <% end %>
  </td>          
<% end %>        
<% if @membership.admin? %>
  <td style="font-size: 13px">
    <% y = [] %>
    <% if membership.admin %>
      <% y << capture do %>            
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%=membership.id%>/unadmin">Unadmin</a>
      <% end %>
    <% else %>
      <% y << capture do %>            
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%=membership.id%>/make_admin">Make admin</a>
      <% end %>
    <% end %>
    <% y << capture do %>            
      <a class="btn btn-outline-primary mb-1" data-confirm="Are you sure you want to remove this person from the group?" href="/memberships/<%=membership.id%>/remove">Remove</a>
    <% end %>
    <%= y.map(&:strip).join(' ') %>
  </td>
<% end %>
</tr>