
<%= partial :'groups/header' %>


<style>
  a.selected { font-weight: bold; text-decoration: underline }
</style>

<% x = [] %>
<%  x << capture do %>
  <a href="?"><i data-toggle="tooltip" title="Members" class="fa fa-group"></i></a> <%= @group.memberships.count %>
<% end %>

<% if @group.ask_for_gender %>
  <% Account.genders.reject(&:blank?).map { |gender| x << capture do %>
      <a href="?gender=<%=gender%>"><%= Account.gender_symbol(gender, pluralize: true) %></a> <%= @group.memberships.where(:account_id.in => Account.where(:gender => gender).pluck(:id)).count %>
    <% end  } %>
<% end %>

<% if @group.ask_for_date_of_birth %>
  <% youngest = Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.ne => nil).order('date_of_birth desc').first %>
  <% oldest = Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:date_of_birth.ne => nil).order('date_of_birth asc').first %>
  <% if youngest and oldest %>
    <% (youngest.age.to_s[0].to_i).upto(oldest.age.to_s[0].to_i) do |p| p = "#{p}0".to_i; %>
      <% x << capture do %>
        <a <% if params[:p] and params[:p] == p.to_s %>class="selected"<% end %> href="?p=<%=p%>" data-toggle="tooltip" title="People in their <%=p%>s"><%=p%>s</a>
        <%= @group.memberships.where(:account_id.in => Account.where(:date_of_birth.lte => (Date.today-p.years)).where(:date_of_birth.gt => (Date.today-(p+10).years)).pluck(:id)).count %>
      <% end %>
    <% end %>    
  <% end %>
<% end %>

<% y = [] %>

<% if @group.enable_budget %>
  <% y << capture do %>
    <a <% if params[:paid] %>class="selected"<% end %> href="?paid=true">Paid in full</a> <%= @group.memberships.where('this.paid == this.requested_contribution').count %>
  <% end %>
  <% y << capture do %>
    <a <% if params[:more_to_pay] %>class="selected"<% end %> href="?more_to_pay=true">More to pay</a> <%= @group.memberships.where('this.paid < this.requested_contribution').count %>
  <% end %>
  <% y << capture do %>
    <a <% if params[:paid_nothing] %>class="selected"<% end %> href="?paid_nothing=true">Paid nothing</a> <%= @group.memberships.where(:paid => 0).count %>
  <% end %>  
  <% y << capture do %>
    <a <% if params[:overpaid] %>class="selected"<% end %> href="?overpaid=true">Overpaid</a> <%= @group.memberships.where('this.paid > this.requested_contribution').count %>
  <% end %>   
<% end %>

<% if @group.enable_rotas %>
  <% y << capture do %>
    <a <% if params[:shifts] %>class="selected"<% end %> href="?shifts=true">People with shifts</a> <%= @group.memberships.where(:account_id.in => @group.shifts.pluck(:account_id)).count %>
  <% end %>
  <% y << capture do %>
    <a <% if params[:no_shifts] %>class="selected"<% end %>  href="?no_shifts=true">People without shifts</a> <%= @group.memberships.where(:account_id.nin => @group.shifts.pluck(:account_id)).count %>
  <% end %>
<% end %>

<% if @group.enable_teams %>
  <% y << capture do %>
    <a <% if params[:no_teams] %>class="selected"<% end %> href="?no_teams=true">No teams</a> <%= @group.memberships.where(:account_id.nin => @group.teamships.where(:team_id.nin => @group.teams.where(name: 'General').pluck(:id)).pluck(:account_id)).count %>
  <% end %>
<% end %>    

<% if @group.enable_tiers %>
  <% y << capture do %>
    <a <% if params[:no_tier] %>class="selected"<% end %> href="?no_tier=true">No tier</a> <%= @group.memberships.where(:account_id.nin => @group.tierships.pluck(:account_id)).count %>
  <% end %>
<% end %>

<% if @group.enable_accommodation %>
  <% y << capture do %>
    <a <% if params[:no_accom] %>class="selected"<% end %> href="?no_accom=true">No accommodation</a> <%= @group.memberships.where(:account_id.nin => @group.accomships.pluck(:account_id)).count %>
  <% end %>  
<% end %>

<% if @group.facebook_group_url %>
  <% y << capture do %>
    <a <% if params[:member_of_facebook_group] %>class="selected"<% end %> href="?member_of_facebook_group=true">Member of Facebook group</a> <%= @group.memberships.where(:member_of_facebook_group => true).count %>
  <% end %>
  <% y << capture do %>
    <a <% if params[:not_member_of_facebook_group] %>class="selected"<% end %>  href="?not_member_of_facebook_group=true">Not member of Facebook group</a> <%= @group.memberships.where(:member_of_facebook_group.ne => true).count %>
  <% end %>
<% end %>    

<% if @group.democratic_threshold %>
  <% y << capture do %>
    <a <% if params[:threshold] %>class="selected"<% end %> href="?threshold=true">Suggesting magic number</a> <%= @group.memberships.where(:desired_threshold.ne => nil).count %>
  <% end %>
<% end %>

<div style="margin-top: 10px; font-size: 20px"><%= x.map(&:strip).join(' &middot; ') %></div>
<div style="margin-bottom: 10px; font-size: 13px;"><%= y.map(&:strip).join(' &middot; ') %></div>

<div class="mb-3">

  <% form_tag '', :class => 'form-inline', :style => 'display:inline', :method => 'get' do %>
    <%= text_field_tag :q, :class => 'form-control mr-1', :style => 'width: auto; display: inline-block', :placeholder => 'Search members', :value => params[:q] %>
    View as
    <%= select_tag :view, :class => 'form-control mr-1', :options => %w{vibes details dietary_requirements emails}.map { |view| [view.to_s.humanize.capitalize,view] }, :selected => params[:view], :onchange => 'this.form.submit()' %>        
  <% end %>

  <% if @membership.admin? %>


    <a class="btn btn-outline-primary" href="<%=request.path%>.csv?<%=request.query_string%>">Download results as CSV</a>            

    <% if !@group.member_limit or @group.memberships.count < @group.member_limit %>


      <script>
        $(function () {
          var accounts = <%=(current_account.network.where(:id.nin => @group.members.pluck(:id))).map { |account| {:name => account.name, :email => account.email} }.to_json%>
          $('#add-member input[name=name]').typeahead({
            source: accounts,
            afterSelect: function (selected) {
              $('#add-member input[name=email]').val(selected.email)
            }
          });
        })
      </script>


      <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('input[name=name]').focus()">
        <i class="fa fa-plus-circle"></i> Add member
      </a>

      <div style="display:none" id="add-member" class="my-3">
        <% form_tag "/a/#{@group.slug}/add_member", :class => 'form-inline' do %>
          <%= text_field_tag :name, :class => 'form-control mr-1', :placeholder => 'Name', :autocomplete => 'off' %>
          <%= email_field_tag :email, :class => 'form-control mr-1', :placeholder => 'Email' %>
          <label class="d-inline mr-1">Suppress notification <%= check_box_tag :prevent_notifications %></label>
          <%= submit_tag 'Add member', :class => 'btn btn-primary' %>
        <% end %>
      </div>

    <% end %> 

  <% end %> 

</div>

<% case (params[:view] || 'vibes'); when 'vibes' %>

  <style>
    .btn-outline-primary { background: white; }
  </style>
  <div style="margin-top: 15px" class="row no-gutters">
    <% (Account.where(:id.in => @memberships.pluck(:account_id)).where(:picture_uid.ne => nil).shuffle + Account.where(:id.in => @memberships.pluck(:account_id)).where(:picture_uid => nil).shuffle).each { |account| %>
      <div class="col-sm-2 mb-2">        
        <div style="position: relative" class="mr-sm-2">
          <%= partial :'accounts/square', :locals => {:account => account, :width => '100%'} %>         
          <div class="my-1 ml-1" style="position: absolute; bottom: 0; left: 0;">            
            <% if account.facebook_profile_url %>
              <%= %Q{<a class="btn btn-outline-primary btn-sm" href="#{account.facebook_profile_url}" target="_blank"><i class="fa fa-facebook-official"></i></a>} %>
            <% end %>            
          </div>                         
          <div class="my-1 mr-1" style="position: absolute; bottom: 0; right: 0;">            
            <div data-pagelet-url="/vibes/<%=account.id%>?btn_class=btn-sm" style="display: inline-block">
              <%= partial :vibe, :locals => {:account => account, :btn_class => 'btn-sm'} %>
            </div>    
          </div>
        </div>
      </div>
    <% } %>      
  </div>

<% when 'emails' %>

  <pre style="margin-top: 15px;"><%= Account.where(:id.in => @memberships.pluck(:account_id)).map do |account| "#{account.name} &lt;#{account.email}&gt;" end.join(', ') %></pre>

<% when 'dietary_requirements' %>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 1px">Name</th>              
        <th>Dietary requirements</th>
      </tr>
    </thead>
    <% @memberships.where(:account_id.in => Account.where(:dietary_requirements.ne => nil).pluck(:id)).each { |membership| account = membership.account %>
      <tr>
        <td>
          <%= partial :'accounts/account', :object => account, :locals => {:membership => membership} %>
          <div>
            <% membership.teamships.each { |teamship| %>
              <a href="/a/<%=@group.slug%>/teams"><span class="badge badge-primary"><%=teamship.team.name%></span></a>
            <% } %>        
          </div>
        </td>
        <td>
          <%= account.dietary_requirements %>
        </td> 
      </tr>
    <% } %>
  </table>    

<% when 'details'; @memberships = @memberships.per_page(10).page(params[:page]) %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 1px">Name</th>      
        <th>Vibes</th>        
        <th>Proposed by</th>
        <th>Accepted at</th>
        <% if @group.democratic_threshold %>
          <th>Suggested magic number</th>
        <% end %>        
        <% if @group.enable_tiers %>
          <th>Tier</th>
        <% end %>
        <% if @group.enable_accommodation %>
          <th>Accommodation</th>
        <% end %>
        <% if @group.enable_transport %>
          <th>Transport</th>
        <% end %>
        <% if @group.enable_budget %>
          <th>Requested contribution</th>
          <th>Paid</th>     
        <% end %>
        <% if @group.facebook_group_url %>
          <th>Member of Facebook group</th>    
        <% end %>
        <% if @group.enable_bookings %>
          <th>Booking limit</th>     
        <% end %>
        <% if @membership.admin %>
          <th></th>
        <% end %>           
      </tr>
    </thead>
    <% @memberships.each { |membership| account = membership.account %>
      <tr data-pagelet-url="/membership_row/<%=membership.id%>">
        <%= partial :'members/membership_row', :locals => {:membership => membership}  %>
      </tr>
    <% } %>
    <tr>     
      <th style="width: 1px"></th>      
      <th></th>
      <th></th>
      <th></th>
      <% if @group.democratic_threshold %>
        <th></th>
      <% end %>        
      <% if @group.enable_tiers %>
        <th></th>
      <% end %>
      <% if @group.enable_accommodation %>
        <th></th>
      <% end %>
      <% if @group.enable_transport %>
        <th></th>
      <% end %>
      <% if @group.enable_budget %>
        <th></th>
        <th>
          <%=@group.currency_symbol%><%= @group.memberships.pluck(:paid).compact.sum %>
          (<%=@group.currency_symbol%><%= @group.processed_via_stripe %> processed via Autopo)
        </th>
      <% end %>
      <% if @group.enable_bookings %>
        <th></th>     
      <% end %>
      <% if @membership.admin %>
        <th></th>
      <% end %>                 
    </tr>
  </table>

  <div style="text-align: center">
    <%= will_paginate @memberships, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>

<% end %>