<a style="text-decoration: none" href="javascript:;" data-account-username="<%=account.username%>">
  <img <% if defined?(klass) %> class="<%=klass%>" <% end %> data-toggle="tooltip" title="<%=defined?(abbrname) && abbrname ? account.abbrname : account.name%><% if defined?(content) && content %>: <%=CGI::escapeHTML(content) if content%><% end %>" <% if defined?(style) %> style="<%= style%>" <% else %> style="width: <%=width%>;" <% end %> src="<%=account.picture_thumb_or_gravatar_url %>" />
</a>