<% if !defined?(content) %>
  <a style="text-decoration: none" href="/accounts/<%=account.id%>">
  <% end %>
  <img <% if defined?(klass) %> class="<%=klass%>" <% end %> data-toggle="tooltip" title="<%=account.name%><% if defined?(content) %>: <%=CGI::escapeHTML(content) if content%><% end %>" <% if defined?(style) %> style="<%= style%>" <% else %> style="width: <%=width%>;" <% end %> src="<%=account.picture_thumb_or_gravatar_url %>" />
  <% if !defined?(content) %>
  </a>
<% end %>