<div class="row no-gutters">

  <div class="col-12 col-sm-auto mr-3">
    <%= partial :'accounts/square', :locals => {:account => @account, :style => 'width: 200px; background: white; border: 3px solid white'} %>         
  </div>
  <div class="col">

    <div class="mb-2">
      <h1 class="my-0 d-inline">
        <a class="text-dark" href="/u/<%=@account.username%>"><%=@account.name%></a>         
        <small class="text-muted">@<%=@account.username%></small>
      </h1>       
      <% if current_account && (follow = Follow.find_by(follower: @account, followee: current_account)) %>
        <small class="label label-default"><%= follow.unsubscribed ? 'Follows you' : 'Follows and subscribes to you' %></small>
      <% end %>    
    </div>

    <%= partial :'accounts/buttons', :locals => {:account => @account} %>

    <div class="mt-2">
      <%= partial :'accounts/table', :locals => {:account => @account} %>
    </div>    
  </div> 
</div>

<% if @account.coordinates %>  
  <style>
    #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
  </style>    
  <%= partial :'maps/map', :locals => {:points => [@account]} %>
<% end %>


<script>
  $(function () {
    $('.nav-tabs li a').first().tab('show')
    if (window.location.hash.substr(1, 4) == 'post') {
      $('a[href="#wall"]').tab('show')
    }
  })
</script>


<% if current_account %>
  <div class="mt-3" data-pagelet-url="/commentable?commentable_type=Account&commentable_id=<%=@account.id%>">
    <%= partial :'comments/commentable', :locals => {:commentable => @account} %>
  </div>  
<% end %>  

<% if @account.memberships.count > 0 %>
  <h2 class="mt-5">Groups</h2>
  <div class="row">
    <% @account.memberships.each { |membership| group = membership.group %>
      <div class="col-6 col-sm-3 mb-3">
        <%= partial :'groups/group', :object => group  %>
      </div>
    <% } %>
  </div>
<% end %>

<% if @account.habits.count > 0 %>
  <h2 class="mt-5" id="habits">Habits</h2>
  <%= partial :'habits/blocks', :locals => {:habits => @habits} %>        
<% end %>

<% if @account.places_following.count > 0 %>
  <h2 class="mt-5">Places</h2>

  <% if current_account && current_account.id == @account.id %>
    <div class="mb-3">
      <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('input').first().focus()"><i class="fa fa-plus-circle"></i> Add a category</a>
      <div style="display: none" class="mt-3">
        <%= partial :'placeship_categories/build' %>
      </div>    
    </div>
  <% end %>


  <% c = @account.placeship_categories.count %>
  <% (@account.placeship_categories + [@account.placeships.where(:placeship_category_id => nil)]).each_with_index { |placeship_category, i| %>    
    <% placeships = (i < c ? placeship_category.placeships : @account.placeships.where(:placeship_category_id => nil)) %>
    <% if placeships.count > 0 %>
      <div class="placeship_category card" style="border-bottom-width: 0; border-radius: 0; <% if i == 0 %>border-top-left-radius: 5px; border-top-right-radius: 5px; <% end %>">
        <div class="card-header">
          <h4 class="mb-0">
            <% if i < c  %>
              <a class="text-dark" href="/placeship_categories/<%=placeship_category.id%>/edit"><%=placeship_category.name%></a>
            <% else %>
              Uncategorised
            <% end %>
          </h4>
        </div>      
        <div class="card-body pb-0">
          <%= partial :'places/blocks', :locals => {:places => Place.where(:id.in => placeships.pluck(:place_id)).shuffle} %>        
      </div>
    </div> 
  <% end %>
<% } %>
<script>
  $(function () {
    $('.placeship_category.card').last().css('border-bottom-width', '1px').css('border-bottom-left-radius', '5px').css('border-bottom-right-radius', '5px')
  })
</script>

<% end %>

<% if @account.follows_as_follower.count > 0 %>
<h2 class="mt-5">Following</h2>
<div data-pagelet-url="/accounts/<%=@account.id%>/following"></div>  
<% end %>

<% if @account.follows_as_followee.count > 0 %>
<h2 class="mt-5">Followers</h2>
<div data-pagelet-url="/accounts/<%=@account.id%>/followers"></div>
<% end %>





