<div class="row">

  <div class="col-auto">
    <%= partial :'accounts/square', :locals => {:account => @account, :style => 'width: 200px; background: white; border: 3px solid white'} %>         
  </div>
  <div class="col">

    <div class="mb-2">
      <h1 class="my-0 d-inline">
        <a class="text-dark" href="/u/<%=@account.username%>"><%=@account.name%></a>         
        <small class="text-muted">@<%=@account.username%></small>
      </h1>       
      <% if current_account && (follow = Follow.find_by(follower: @account, followee: current_account)) %>
        <small class="label label-default"><%= follow.unsubscribed ? 'Follows you' : 'Follows and subscribes to you' %></small>
      <% end %>    
    </div>

    <%= partial :'accounts/buttons', :locals => {:account => @account} %>

    <div class="mt-2">
      <%= partial :'accounts/table', :locals => {:account => @account} %>
    </div>    
  </div> 
</div>

<% if @account.coordinates %>  
  <style>
    #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
  </style>    
  <%= partial :'maps/map', :locals => {:points => [@account]} %>
<% end %>


<script>
  $(function () {
    $('.nav-tabs li a').first().tab('show')
    if (window.location.hash.substr(1, 4) == 'post') {
      $('a[href="#wall"]').tab('show')
    }
  })
</script>


<% if current_account %>
  <div data-pagelet-url="/commentable?commentable_type=Account&commentable_id=<%=@account.id%>">
    <%= partial :'comments/commentable', :locals => {:commentable => @account} %>
  </div>  
<% end %>  

<h2 class="mt-5">Groups</h2>
<div class="row">
  <% @account.memberships.each { |membership| group = membership.group %>
    <div class="col-6 col-sm-3 mb-3">
      <%= partial :'groups/group', :object => group  %>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Habits</h2>
<%= partial :'habits/blocks', :locals => {:habits => @habits} %>        

<h2 class="mt-5">Places</h2>
<%= partial :'places/blocks', :locals => {:places => @places} %>        

<h2 class="mt-5">Following</h2>
<div data-pagelet-url="/accounts/<%=@account.id%>/following"></div>  

<h2 class="mt-5">Followers</h2>
<div data-pagelet-url="/accounts/<%=@account.id%>/followers"></div>  





