<div class="row">

  <div class="col-auto">
    <%= partial :'accounts/square', :locals => {:account => @account, :style => 'width: 200px; background: white; border: 3px solid white'} %>
  </div>
  <div class="col">

    <h1>
      <a class="text-dark" href="/accounts/<%=@account.id%>"><%=@account.name%></a>    
    </h1>   

    <% if current_account  %>
      <% unless current_account == @account %>
        <% if current_account.vibes_as_viber.find_by vibee: @account %>
          <a class="btn btn-primary" href="/unvibe/<%=@account.id%>">
            <i class="fa fa-hand-peace-o"></i>
            <% if Vibe.vibing(current_account, @account) %>
              You and <%=@account.firstname%> have vibes!
            <% else %>
              You dig <%=@account.firstname%>'s vibe
            <% end %>
          </a>
        <% else %>
          <a class="btn btn-outline-primary" href="/vibe/<%=@account.id%>"><i class="fa fa-hand-peace-o"></i> Vibe</a>
        <% end %>
      <% end %>
    <% end %>

    <div class="table-hr-container">
      <table class="table table-hr">

        <% if current_account and current_account.network.include?(@account) %>
          <tr>
            <td>Email</td>
            <td>
              <%=@account.email%>
            </td>  
          </tr> 
        <% end %>        

        <% if @account.facebook_profile_url %>
          <tr>
            <td>Facebook</td>
            <td>
              <a target="_blank" href="<%=@account.facebook_profile_url%>"><%=@account.facebook_profile_url.split('/')[3..-1].join('/').split('?').first%></a>
            </td>  
          </tr>
        <% end %>    

        <% if @account.date_of_birth %>
          <tr>
            <td>Age</td>
            <td>
              <%=@account.age%>
            </td>  
          </tr>
        <% end %> 

        <% if @account.gender %>
          <tr>
            <td>Gender</td>
            <td>
              <%=@account.gender%>
            </td>  
          </tr>
        <% end %>        

        <% if @account.last_active %>
          <tr>
            <td>Last active</td>
            <td>
              <%=time_ago_in_words @account.last_active%> ago
            </td>  
          </tr> 
        <% end %>

      </table>     

    </div>    
  </div>
</div>

<% if @habits.count > 0 %>  
  <h2 class="mt-5 mb-3">Habits</h2>
  <%= partial :'habits/blocks' %>
<% end %>

<% if @account.memberships.count > 0 %>
  <h2 class="mt-5 mb-3">Groups</h2>
  <div class="row">
    <% @account.memberships.each { |membership| group = membership.group %>
      <div class="col-6 col-sm-3 mb-4">
        <%= partial :'groups/group', :object => group  %>
      </div>
    <% } %>
  </div>
<% end %>

