<div class="row">

  <div class="col-auto">
    <%= partial :'accounts/square', :locals => {:account => @account, :style => 'width: 200px; background: white; border: 3px solid white'} %>
  </div>
  <div class="col">

    <h1 class="mt-2 mt-sm-0">
      <a class="text-dark" href="/u/<%=@account.username%>"><%=@account.name%></a>   
      <small class="text-muted">@<%=@account.username%></small>
    </h1>   

    <%= partial :'accounts/buttons', :locals => {:account => @account} %>

    <div class="mt-2">
      <table class="table table-hr">

        <% if current_account and current_account.network.include?(@account) %>
          <tr>
            <td>Email</td>
            <td>
              <%=@account.email%>
            </td>  
          </tr> 
        <% end %>        

        <% if @account.facebook_profile_url %>
          <tr>
            <td>Facebook</td>
            <td>
              <a target="_blank" href="<%=@account.facebook_profile_url%>"><%=@account.facebook_profile_url.split('/')[3..-1].join('/').split('?').first%></a>
            </td>  
          </tr>
        <% end %>    

        <% if @account.date_of_birth %>
          <tr>
            <td>Age</td>
            <td>
              <%=@account.age%>
            </td>  
          </tr>
        <% end %> 

        <% if @account.gender %>
          <tr>
            <td>Gender</td>
            <td>
              <% case @account.gender; when 'Man' %>
                <i data-toggle="tooltip" title="<%=@account.gender%>" class="fa fa-mars"></i>
              <% when 'Woman' %>
                <i data-toggle="tooltip" title="<%=@account.gender%>" class="fa fa-venus"></i>
              <% when 'Nonbinary' %>
                <i data-toggle="tooltip" title="<%=@account.gender%>" class="fa fa-transgender-alt"></i>
              <% end %>
            </td>  
          </tr>
        <% end %>        

        <% if @account.last_active %>
          <tr>
            <td>Last active</td>
            <td>
              <%=time_ago_in_words @account.last_active%> ago
            </td>  
          </tr> 
        <% end %>

      </table>     

    </div>    
  </div>
</div>


<script>
  $(function () {
    if (window.location.hash.substr(1, 4) == 'post') {
      $('a[href="#wall"]').tab('show')
    }
  })
</script>

<ul class="mt-3 nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#habits" role="tab">Habits</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" id="my-habits-tab" data-toggle="tab" href="#groups" role="tab">Groups</a>
  </li>
  <% if current_account %>
    <li class="nav-item">
      <a class="nav-link" id="network-habits-tab" data-toggle="tab" href="#wall" role="tab">Wall</a>
    </li>  
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="habits" role="tabpanel">
    <%= partial :'habits/blocks', :locals => {:habits => @habits} %>        
  </div>  
  <div class="tab-pane fade" id="groups" role="tabpanel">
    <div class="row">
      <% @account.memberships.each { |membership| group = membership.group %>
        <div class="col-6 col-sm-3 mb-3">
          <%= partial :'groups/group', :object => group  %>
        </div>
      <% } %>
    </div>
  </div>
  <% if current_account %>
    <div class="tab-pane fade" id="wall" role="tabpanel">
      <div data-pagelet-url="/commentable?commentable_type=Account&commentable_id=<%=@account.id%>">
        <%= partial :'comments/commentable', :locals => {:commentable => @account} %>
      </div>  
    </div>  
  <% end %>
</div>




