<%= partial :'accounts/top', :locals => {:account => @account} %>

<% if @account.coordinates %>  
  <style>
    #map-canvas { height: 200px !important; margin-bottom: 1rem; margin-top: 1rem }
  </style>    
  <%= partial :'maps/map', :locals => {:points => [@account]} %>
<% end %>


<script>
  $(function () {
    $('.nav-tabs li a').first().tab('show')
    if (window.location.hash.substr(1, 4) == 'post') {
      $('a[href="#wall"]').tab('show')
    }
  })
</script>


<% if current_account %>
  <div class="mt-3" data-pagelet-url="/commentable?commentable_type=Account&commentable_id=<%=@account.id%>">
    <%= partial :'comments/commentable', :locals => {:commentable => @account} %>
  </div>  
<% end %>  

<% if @account.memberships.count > 0 %>
  <h2 class="mt-5">Gatherings</h2>
  <div class="row">
    <% @account.memberships.each { |membership| gathering = membership.gathering; unless gathering.privacy == 'secret' %>
      <div class="col-6 col-sm-3 mb-3">
        <%= partial :'gatherings/gathering', :object => gathering  %>
      </div>
    <% end; } %>
  </div>
<% end %>

<% if @account.habits.count > 0 %>
  <h2 class="mt-5" id="habits">Habits</h2>
  <%= partial :'habits/blocks', :locals => {:habits => @habits} %>        
<% end %>

<% if @account.places_following.count > 0 %>
  <h2 class="mt-5">Places</h2>

  <% if current_account && current_account.id == @account.id %>
    <div class="mb-3">
      <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('input').first().focus()"><i class="fa fa-plus-circle"></i> Add a category</a>
      <div style="display: none" class="mt-3">
        <%= partial :'placeship_categories/build' %>
      </div>    
    </div>
  <% end %>

  <%= partial :'accounts/places' %>

<% end %>
  
  

<% if @account.rooms.count > 0 %>
  <h2 class="mt-5" id="rooms">Rooms</h2>
  <%= partial :'rooms/blocks', :locals => {:rooms => @account.rooms} %>        
<% end %>
  
  

<% if @account.follows_as_follower.count > 0 %>
  <h2 class="mt-5">Following</h2>
  <div data-pagelet-url="/accounts/<%=@account.id%>/following"></div>  
<% end %>

<% if @account.follows_as_followee.count > 0 %>
  <h2 class="mt-5">Followers</h2>
  <div data-pagelet-url="/accounts/<%=@account.id%>/followers"></div>
<% end %>





