
<h1><%= @account.persisted? ? 'Edit profile' : 'Sign up' %></h1>

<div class="container">

  <% form_for @account, @account.new_record? ? '/accounts/new' : '/accounts/edit', :multipart => true do |f| %>
    <%= hidden_field_tag :h, :value => params[:h] %>
    <%= f.text_block :name %>
    <%= f.text_block :email %>
    <%= f.password_block :password %>
    <% if @account.persisted? %>
      <%= f.image_block :picture, rotate: false %>
      <%= f.url_block :facebook_profile_url %>
      <%= f.date_block :date_of_birth %>
      <%= f.select_block :gender %>
      <%= f.select_block :time_zone %>
      <%= f.text_block :dietary_requirements %>
      <div class="my-3">
        <%= f.check_box_block :not_on_facebook %>  
        <%= f.check_box_block :unsubscribed %>
        <%= f.check_box_block :unsubscribed_habit_completion_likes %>        
        <%= f.check_box_block :unsubscribed_messages %>
      </div>
    <% end %>
    <%= f.submit_block %>  
  <% end %>

  <% if @account.new_record? %>
    <p class="mt-2">
      Already have an account? <a href="/accounts/sign_in">Sign in</a>
    </p>
  <% end %>

  <script>
    $(function () {
      $('.use-picture').popover({trigger: 'hover', html: true});
    });
  </script>

  <table class="table mt-3">
    <% Provider.registered.each { |provider| %>
      <% if @account.persisted? or (session['omniauth.auth'] and session['omniauth.auth']['provider'] == provider.omniauth_name) %>
        <tr>
          <td><%=provider.display_name%></td>
          <td>
            <% if provider_link = @account.provider_links.select { |provider_link| provider_link.provider == provider.display_name }[0] %>
              <a style="margin-top: 5px" target="_blank" href="<%= provider.profile_url.call(provider_link.omniauth_hash) %>"><%=provider.nickname.call(provider_link.omniauth_hash)%></a>
              <% if current_account %>
                <a class="use-picture btn btn-secondary" href="/accounts/use_picture/<%=provider.omniauth_name%>" data-content="<img src='<%=provider.image.call(provider_link.omniauth_hash)%>'>" title="Click to use this picture">Use picture</a>
                <a class="btn btn-secondary" href="/accounts/disconnect/<%=provider.omniauth_name%>">Disconnect</a>
              <% end %>                
            <% else %>
              <span style="margin-top: 5px">Not connected</span>
              <a class="btn btn-secondary" href="/auth/<%=provider.omniauth_name%>">Connect</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% } %>   
  </table>

  <% if @account.persisted? %>
    <h2>Group notification settings</h2>  
    <table class="table table-borderless">
      <% Group.where(:id.in => @account.memberships.pluck(:group_id)).order('name asc').each { |group| membership = @account.memberships.find_by(group: group) %>
        <tr>
          <td>
            <%=membership.group.name%>
          <td>
          <td>
            <div data-pagelet-url="/a/<%=membership.group.slug%>/subscribe" style="display: inline"></div>
          </td>
        </tr>
      <% } %>
    </table>

    <p class="text-muted">You can also turn email notifications on/off for each team within a group, by visiting the team page.</p>
  <% end %>

</div>